<button [matMenuTriggerFor]="alarmMenu" color="accent" mat-flat-button class="menuBarAlarmsButton button-elevation"
        [class.alarmCrit]="blinkCrit"
        [class.alarmWarning]="blinkWarn"
        [disabled]="alarmCount == 0 || notificationConfig.disableNotifications">
  <div class="menu-items-with-icons" *ngIf="!notificationConfig.disableNotifications" [matBadgeHidden]="!unAckAlarms"
        [matBadge]="unAckAlarms"
        matBadgeSize="medium"
        matBadgePosition="after"
        matBadgeOverlap="false"
        matBadgeColor="warn"
        class="fa-solid fa-envelope fa-2x">
  </div>
  <div class="menu-items-with-icons" *ngIf="notificationConfig.disableNotifications" class="fa-stack fa-lg">
    <i class="fa-solid fa-bell fa-1x" aria-hidden="true"></i>
    <i class="fa-solid fa-ban fa-stack-2x text-danger" aria-hidden="true"></i>
  </div>
</button>

<mat-menu #alarmMenu="matMenu" focusFirstItem>

  @for (alarm of alarm$ | async; track alarm.path) {
    <ng-template matMenuContent>
      <button mat-menu-item [matMenuTriggerFor]="actions" [matTooltip]="alarm.alarm.notification.message">
        <div class="menu-items-with-icons" *ngIf="alarm.alarm.isAck" class="fa-solid fa-lg fa-check"></div>
        <div class="menu-items-with-icons" *ngIf="!alarm.alarm.isAck" class="fa-solid fa-lg fa-exclamation"></div>
        {{ alarm.alarm.notification.message.replace("self.", "") }}
      </button>
      <mat-menu #actions="matMenu">
        <button
          mat-menu-item
          (click)="ackAlarm(alarm.path)"

          matTooltip="Silence Alarm (until state change)"
          >
          Acknowledge
        </button>
        <button
          mat-menu-item
          (click)="ackAlarm(alarm.path, 300000)"

          matTooltip="Silence Alarm for 5 minutes(state change can re-trigger)"
          >
          Acknowledge (5 Min)
        </button>
      </mat-menu>
    </ng-template>
  }





  <mat-action-list>
    <mat-divider></mat-divider>
    <button mat-list-item class="muteSoundButton" matTooltip="Mute notification sounds" (click)="mutePlayer(isMuted ? false : true)">
      <div class="menu-items-with-icons" class="mute-unmte-alarm" *ngIf="!isMuted">
        <i class="fa-solid fa-bell" aria-hidden="true"></i> Mute Alarm Audio
      </div>
      <div class="menu-items-with-icons" class="mute-unmte-alarm" *ngIf="isMuted">
        <i class="fa-solid fa-bell-slash" aria-hidden="true"></i> Unmute Alarm Audio
      </div>
    </button>
  </mat-action-list>
</mat-menu>
