@if(notificationInfo$ | async; as notificationInfo) {
  <mat-menu #actions="matMenu">
    <ng-template matMenuContent let-path="path" let-method="value.method">
      <button mat-menu-item
        *ngIf="method.includes('sound')"
        (click)="silence(path)">
        <i class="fa-solid fa-bell-slash"></i> Silence
      </button>
      <button mat-menu-item
        (click)="clear(path)">
        <i class="fa-solid fa-ban"></i> Clear
      </button>
    </ng-template>
  </mat-menu>
  <mat-menu #alarmMenu="matMenu" focusFirstItem>
    <ng-template matMenuContent>
      @for(menuItem of menuNotifications$ | async; track menuItem) {
        @if(menuItem.value.state !== "normal") {
          <button mat-menu-item
            [mat-menu-trigger-for]="actions"
            [matMenuTriggerData]="menuItem">
            {{ menuItem.value.message }}
          </button>
        } @else {
          <button mat-menu-item disabled="true">
            {{ menuItem.value.message }}
          </button>
        }

      } @empty {
        <button mat-menu-item disabled="true">
          <i>"No Notifications"</i>
        </button>}
    </ng-template>
  </mat-menu>
  <button [matMenuTriggerFor]="alarmMenu" color="accent" mat-flat-button class="menuBarAlarmsButton button-elevation"
    [class.alarmCrit]="notificationInfo.blinkCrit"
    [class.alarmWarning]="notificationInfo.blinkWarn"
    [disabled]="notificationConfig.disableNotifications">
    <div class="menu-items-with-icons"
      [matBadgeHidden]="!notificationInfo.alarmCount"
      [matBadge]="notificationInfo.alarmCount"
      matBadgeSize="medium"
      matBadgePosition="after"
      matBadgeOverlap="false"
      matBadgeColor="warn">
      <i class="fa-solid fa-envelope fa-2x" aria-hidden="true"></i>
    </div>
  </button>
}
