@if(notificationInfo$ | async; as notificationInfo) {
  <mat-menu #actions="matMenu">
    <ng-template matMenuContent let-path="path" let-method="notification.method">
      <button mat-menu-item
        *ngIf="method.includes('sound')"
        (click)="silence(path)">
        Silence
      </button>
      <button mat-menu-item
        (click)="clear(path)">
        Clear
      </button>
    </ng-template>
  </mat-menu>

  <mat-menu #alarmMenu="matMenu" focusFirstItem>
    <ng-template matMenuContent>
      <button mat-menu-item *ngFor="let menuItem of menuNotifications$ | async"
        [mat-menu-trigger-for]="actions"
        [matMenuTriggerData]="menuItem">
        {{ menuItem.notification.message }}
    </button>

    <mat-divider></mat-divider>
      <button mat-menu-item class="muteSoundButton" matTooltip="Mute notification sounds"
        (click)="mutePlayer(notificationInfo.isMuted ? false : true)">
        @if(notificationInfo.isMuted) {
          <div class="menu-items-with-icons mute-unmute-alarm" *ngIf="notificationInfo.isMuted">
            <i class="fa-solid fa-bell-slash" aria-hidden="true"></i> Unmute Audio
          </div>
        } @else {
          <div class="menu-items-with-icons mute-unumte-alarm" *ngIf="!notificationInfo.isMuted">
            <i class="fa-solid fa-bell" aria-hidden="true"></i> Mute Audio
          </div>
        }
      </button>
    </ng-template>
  </mat-menu>

  <button [matMenuTriggerFor]="alarmMenu" color="accent" mat-flat-button class="menuBarAlarmsButton button-elevation"
    [class.alarmCrit]="notificationInfo.blinkCrit"
    [class.alarmWarning]="notificationInfo.blinkWarn"
    [disabled]="notificationInfo.alarmCount == 0 || notificationConfig.disableNotifications">
    <div class="menu-items-with-icons"
      [matBadgeHidden]="!notificationInfo.alarmCount"
      [matBadge]="notificationInfo.alarmCount"
      matBadgeSize="medium"
      matBadgePosition="after"
      matBadgeOverlap="false"
      matBadgeColor="warn">
      <i class="fa-solid fa-envelope fa-2x" aria-hidden="true"></i>
    </div>
  </button>
}
