  <div class="tab-content mat-typography">
    <div class="flex-container">
      <mat-form-field class="full-width">
        <mat-label>Widget Label</mat-label>
        <input matInput placeholder="Enter a label to display"
          name="displayName"
          [formControl]="displayName">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Color</mat-label>
        <mat-select
        placeholder="Select Color..."
        name="textColor"
        [formControl]="textColor"
        required>
          <mat-option value='text'>Font</mat-option>
          <mat-option value='primary'>Primary</mat-option>
          <mat-option value='accent'>Accent</mat-option>
          <mat-option value='warn'>Warn</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-container">

      <div class="flex-item">
        <div>
          <p class="no-margin">Data Series</p>
          <mat-checkbox class="full-width"
            name="showAverageData"
            [formControl]="showAverageData">
              Display Moving Average
          </mat-checkbox>

          <mat-form-field class="full-width">
            <mat-label>Calculation Type</mat-label>
            <mat-select
            placeholder="Select average calculation formula"
            name="datasetAverageArray"
            [formControl]="datasetAverageArray"
            required>
              <mat-option value="avg">Series Average</mat-option>
              <mat-option value="sma">Simple Moving Average</mat-option>
              <mat-option value="ema">Exponential Moving Average</mat-option>
              <mat-option value="dema">Double Exponential Moving Average</mat-option>
            </mat-select>
          </mat-form-field>

          <p class="no-margin">Chart Scales</p>
          <mat-checkbox class="full-width"
            name="startScaleAtZero"
            [formControl]="startScaleAtZero"
            (change)="disableMinMaxLines($event)">
              Auto Scale
          </mat-checkbox>
          <mat-checkbox class="full-width"
            name="showTimeScale"
            [formControl]="showTimeScale">
              Show Time Axis
          </mat-checkbox>
        </div>
      </div>

      <div class="flex-item">
        <div>
          <p class="no-margin">Chart Indicators</p>
          <mat-checkbox class="full-width"
            name="displayDatasetMaximumValueLine"
            [formControl]="displayDatasetMaximumValueLine">
              Maximum Line
        </mat-checkbox>
          <mat-checkbox class="full-width"
            name="displayDatasetAverageValueLine"
            [formControl]="displayDatasetAverageValueLine">
              Average Line
          </mat-checkbox>
          <mat-checkbox class="full-width" #minLine
            name="displayDatasetMinimumValueLine"
            [formControl]="displayDatasetMinimumValueLine">
              Minimum Line
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
