<mat-list class="menu-item-container">
  @for(menuItem of menuNotifications(); track menuItem.path) {
  <div class="notification-container">
    @switch (menuItem.value.state) { @case ("nominal") {
    <mat-icon>info</mat-icon>
    } @case ("normal") {
    <mat-icon>info</mat-icon>
    } @case ("alert") {
    <mat-icon class="icon-alert-color">report</mat-icon>
    } @case ("warn") {
    <mat-icon class="icon-warn-color">warning</mat-icon>
    } @case ("alarm") {
    <mat-icon class="icon-alarm-color">error</mat-icon>
    } @case ("emergency") {
    <mat-icon class="icon-emergency-color">emergency_home</mat-icon>
    } }
    <div class="notification-title">{{ menuItem.value.state }}</div>
    <div class="notification-path scrollable-text">
      {{ menuItem.path | slice : 14 }}
    </div>
    <div class="notification-text">{{ menuItem.value.message }}</div>
    <button
      mat-icon-button
      class="notification-action-btn"
      [disabled]="!menuItem.value.method?.includes('sound')"
      (click)="silence(menuItem.path)"
    >
      <mat-icon>music_off</mat-icon>
    </button>
    <button
      mat-icon-button
      class="notification-action-btn"
      (click)="clear(menuItem.path)"
    >
      <mat-icon>published_with_changes</mat-icon>
    </button>
  </div>
  <mat-divider class="notification-divider"></mat-divider>
  } @empty {
    @if (notificationConfig().disableNotifications) {
    <mat-list-item lines="3" disabled="true" style="text-align: center">
      <span matListItemTitle>Notifications Disabled</span>
      <span><i>*Enable notifications in Settings.</i></span>
    </mat-list-item>
    } @else {
      <mat-list-item disabled="true" style="text-align: center">
        <i>"No Notification"</i>
      </mat-list-item>
    }
  }
</mat-list>
<div class="actions-container actions-bottom-container">
  @if (!notificationConfig().disableNotifications) {
    @if (isMuted) {
    <button
      mat-flat-button
      class="action-button"
      matTooltip="Temporally toggle all notification audio. To permanently disable/enable notification audio, use the configuration settings option"
      (click)="mutePlayer(isMuted ? false : true)"
    >
      <span class="material-icons">volume_up</span> Unmute Audio
    </button>
    } @else {
    <button
      mat-flat-button
      class="action-button"
      matTooltip="Temporally toggle all notification audio. To permanently disable/enable notification audio, use the configuration settings option"
      (click)="mutePlayer(isMuted ? false : true)"
    >
      <span class="material-icons">volume_off</span> Mute Audio
    </button>
    }
  }
</div>
