.notification-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2px 10px 7px 10px ;
  scroll-behavior: smooth;
}

mat-icon {
  margin-right: 10px;
}

.scrollable-text {
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
}

.scrollable-text:hover {
  overflow: auto; /* Allow scrolling on hover */
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if necessary */
}

.notification-title {
  text-transform: capitalize;
  font-size: var(--mat-sys-headline-small-size);
  width: calc(100% - 34px);
}

.notification-path {
  font-size: var(--mat-sys-body-small-size);
  word-break: break-all;
  width: 100%;
}

.notification-text {
  font-size: var(--mat-sys-body-small-line-height);
  font-style: italic;
  width: 100%;
  overflow: auto; /* Allow scrolling on hover */
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if necessary */
}

.notification-action-btn {
  background-color: var(--mat-sys-surface-container);
}

.notification-btn-container {
  display: inline-block;
  width: 50%;
  height: 48px;
  text-align: center;
}

.menu-item-container {
  width: 230px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 48px);
}

.notification-bottom-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: var(--mat-sys-surface-container);
}

.actions-container {
  display:grid;
  grid-auto-flow: column;
}

.actions-bottom-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 48px;
}

.action-button {
  border-radius: 0px;
  height: 48px;
  border-bottom-right-radius: var(--mat-sidenav-container-shape, var(--mat-sys-corner-large));
}

.icon-alert-color {
  color: var(--kip-zone-alert-color);
}

.icon-warn-color {
  color: var(--kip-zone-warn-color);
}

.icon-alarm-color {
  color: var(--kip-zone-alarm-color);
}

.icon-emergency-color {
  color: var(--kip-zone-emergency-color);
}

 // Blink button on Alarm or Emergency state
 .alarm-emergency-blink {
  animation: blinking-emergency 1.5s infinite;
}

@keyframes blinking-emergency {
  0%{		background-color: var(--kip-zone-alarm-color);	}
  50%{	background-color: transparent;	}
  100%{	background-color: var(--kip-zone-alarm-color);	}
}

// Change icon color based on warn state
.warn {
  color: var(--kip-zone-warn-color);
}

.notification-divider {
  padding-top: 10px;
}
