<div class="wrapper">
  <iframe *ngIf="widgetUrl" [src]="widgetUrl | safe" width="100%" height="100%" frameborder="0"></iframe>
  <div *ngIf="!widgetUrl">
    Please set URL
    <p>For Example in Graphana, select share for the graph you want, go to embed tab, and take the "src" url. Note you should probably change
      the from/to timestamps to "from=now-15m" and "to=now" andmake sure you have "refresh=30" in the parameters as well!</p>
      <p>Of note, cross-domain loading security rules apply! <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options" target="_blank">Link!</a></p>
  </div>



  <div class="settingsButton" *ngIf="unlockStatus">
    <button  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
        <span class="fa-solid fa-cog"></span>
    </button>
  </div>
</div>




