@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme-settings-sk($theme) {
  $foreground: map-get($theme, foreground);

  .serverStatus {
    background-color: mat.get-color-from-palette($foreground, dividers);
    margin-top: 20px;
    margin: 7% 5% 0% 5%;
    padding: 10px 20px 20px 20px;
  }
}

.connectUrlInput {
  width: 100%;
}
.userLoginInput{
  width: 50%;
}

.flex-item-detail {
  flex: 0 0 290px;
}

.flex-item-chart {
  flex: 1 1 350px;
  position: relative;
  margin: 0px;
  height: 130px;
  width: 100%;
  border: 2px inset;
}

table {
  width: fit-content;
}

tr {
  vertical-align: top;
}

.tableCellLabel {
  display: table-cell;
  text-align: right;
  padding: 5px;
}

.tableCellData {
  display: table-cell;
  margin: 0px !important;
  padding: 5px;
}
