<widget-host [(config)]="widgetProperties.config" [id]="widgetProperties.uuid" (configChange)="updateConfig($event)" class="widget-host">
  <div [style.display]="apGrid()" class="autopilot-grid-container">
    <!-- Modes row -->
    <div class="ap-modes">
      <button #modesBtn mat-flat-button disabled="true" class="ap-btn ap-btn-ctrlbar" (click)="toggleMenu()">
        <mat-icon class="svg-icon-ctrlbar">
          <svg width="100%" height="100%" viewBox="0 0 100 14" preserveAspectRatio="xMidYMid meet" class="svg-element svg-modes">
            <text xml:space="preserve"
              x="50"
              y="10.7">Mode {{ apState() | titlecase }} &nbsp;&vellip;</text>
          </svg>
        </mat-icon>
      </button>
      <button #disengageBtn mat-flat-button  disabled="true" class="ap-btn ap-btn-ctrlbar ap-btn-engage" (click)="buildAndSendCommand('standby')">
        <mat-icon class="svg-icon-ctrlbar">
          <svg width="100%" height="100%" viewBox="0 0 100 14" preserveAspectRatio="xMidYMid meet" class="svg-element svg-modes">
            <text xml:space="preserve"
              x="50.090435"
              y="10.743966">Disengage</text>
          </svg>
        </mat-icon>
      </button>
    </div>
     <!-- AP Screen row -->
    <div class="ap-screen">
      <app-svg-autopilot-v2
        [apState]="apState()"
        [targetPilotHeading]="autopilotTargetHeading"
        [targetWindAngleHeading]="autopilotTargetWindHeading"
        [compassHeading]="heading"
        [courseXte]="crossTrackError"
        [appWindAngle]="windAngleApparent"
        [rudderAngle]="rudder"
        [targetPilotHeadingTrue]="widgetProperties.config.courseDirectionTrue"
        [headingDirectionTrue]="widgetProperties.config.headingDirectionTrue"
      ></app-svg-autopilot-v2>
      <div class="ap-screen-overlay" [style.visibility]="countdownOverlayVisibility()">
        <svg viewBox="0 0 100 100" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
          <text x="50%" y="25" [innerHTML]="countdownOverlayText()" class="svg-element-msg" />
          <text x="50%" dy="75" [style.visibility]="countDownValue >= 0 ? 'visible' : 'hidden'" style="font-size: 3em" [innerHTML]="countDownValue + 1" class="svg-element-msg" />
        </svg>
      </div>
      <div class="ap-screen-overlay ap-error-text" [style.visibility]="errorOverlayVisibility()">
        <span class="material-icons ap-error-icon">warning</span>
        <svg viewBox="0 0 100 100" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
          <text x="50%" y="25" [innerHTML]="errorOverlayText()" class="svg-element-msg svg-element-error-txt" />
        </svg>
      </div>
    </div>
    <!-- -1 / +1 buttons row -->
    <div [style.display]="apState() === 'wind' || apState() === 'auto' || apState() === 'standby' ? 'block' : 'none'">
      <button #minus1Btn mat-flat-button disabled="true" class="ap-btn" (click)="buildAndSendCommand('-1')">
        <mat-icon class="svg-icon">
          <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="svg-element">
            <text xml:space="preserve"
              x="49.894032"
              y="98.734871">-1°</text>
            <path d="M 31.033486,35.785143 68.966514,66.630677 M 31.033486,35.640825 68.966514,4.79529" />
          </svg>
        </mat-icon>
      </button>
    </div>
    <div [style.display]="apState() === 'wind' || apState() === 'auto' || apState() === 'standby' ? 'block' : 'none'">
      <button #plus1Btn mat-flat-button disabled="true" class="ap-btn" (click)="buildAndSendCommand('+1')">
        <mat-icon class="svg-icon">
          <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="svg-element">
            <text xml:space="preserve"
              x="50.052986"
              y="98.734871">+1°</text>
            <path d="M 68.966514,35.785143 31.033486,66.630677 M 68.966514,35.640825 31.033486,4.79529" />
          </svg>
        </mat-icon>
      </button>
    </div>
    <!-- -10 / +10 buttons row -->
    <div [style.display]="apState() === 'wind' || apState() === 'auto' || apState() === 'standby' ? 'block' : 'none'">
      <button #minus10Btn mat-flat-button disabled="true" class="ap-btn" (click)="buildAndSendCommand('-10')">
        <mat-icon class="svg-icon">
          <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="svg-element">
            <text xml:space="preserve"
              x="49.894032"
              y="98.734871">-10°</text>
            <path d="M 15.778367,35.785143 53.711395,66.630677 M 15.778367,35.640825 53.711395,4.79529" />
            <path d="M 46.288608,35.785143 84.221633,66.630677 M 46.288608,35.640825 84.221633,4.79529" />
          </svg>
        </mat-icon>
      </button>
    </div>
    <div [style.display]="apState() === 'wind' || apState() === 'auto' || apState() === 'standby' ? 'block' : 'none'">
      <button #plus10Btn mat-flat-button disabled="true" class="ap-btn" (click)="buildAndSendCommand('+10')">
        <mat-icon class="svg-icon">
          <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="svg-element">
            <text xml:space="preserve"
              x="50.052986"
              y="98.734871">+10°</text>
            <path d="M 84.221633,35.785143 46.288605,66.630677 M 84.221633,35.640825 46.288605,4.79529" />
            <path d="M 53.711392,35.785143 15.778367,66.630677 M 53.711392,35.640825 15.778367,4.79529" />
          </svg>
        </mat-icon>
      </button>
    </div>
    <!-- Tack port / starboard buttons row -->
    <div [style.display]="apState() === 'wind' || apState() === 'standby' ? 'block' : 'none'">
      <button #prtTackBtn mat-flat-button disabled="true" class="ap-btn" (click)="buildAndSendCommand('tackToPort')">
        <mat-icon class="svg-icon">
          <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="svg-element">
            <text xml:space="preserve" x="49.894032" y="98.734871">Tack</text>
            <path class="tack"
              style="stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0;stroke-dasharray:none"
              d="M 12.512809,30.561249 28.414641,41.670318 8.7808256,51.708321 Z" />
            <path  class="tack" d="m 94.531167,45.533345 a 8.5515804,8.0601101 0 0 1 -8.55158,8.06011 8.5515804,8.0601101 0 0 1 -8.55158,-8.06011 8.5515804,8.0601101 0 0 1 8.55158,-8.06011 8.5515804,8.0601101 0 0 1 8.55158,8.06011 z" />
            <path
              style="stroke-width:8.45947;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0"
              d="M 19.881053,36.470039 A 36.704643,37.635372 0 0 1 54.605189,19.909133 36.704643,37.635372 0 0 1 84.80548,44.055681" />
          </svg>
        </mat-icon>
      </button>
    </div>
    <div [style.display]="apState() === 'wind' || apState() === 'standby' ? 'block' : 'none'">
      <button #stbTackBtn mat-flat-button disabled="true" class="ap-btn" (click)="buildAndSendCommand('tackToStarboard')">
        <mat-icon class="svg-icon">
          <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="svg-element">
            <text xml:space="preserve" x="49.894032" y="98.734871">Tack</text>
            <path class="tack"
              style="stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0;stroke-dasharray:none"
              d="M 88.231151,30.561249 72.329319,41.670318 91.963134,51.708321 Z" />
            <path class="tack" d="m 6.212793,45.533345 a 8.5515804,8.0601101 0 0 0 8.55158,8.06011 8.5515804,8.0601101 0 0 0 8.55158,-8.06011 8.5515804,8.0601101 0 0 0 -8.55158,-8.06011 8.5515804,8.0601101 0 0 0 -8.55158,8.06011 z" />
            <path
              style="stroke-width:8.45947;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0"
              d="M 80.862907,36.470039 A 36.704643,37.635372 0 0 0 46.138771,19.909133 36.704643,37.635372 0 0 0 15.93848,44.055681" />
          </svg>
        </mat-icon>
      </button>
    </div>
    <!-- Route widget -->
    <div [style.display]="apState() === 'route' ? 'block' : 'none'">
      <widget-position [widgetProperties]="nextWptProperties()" class="embed-widget" />
    </div>
    <div [style.display]="apState() === 'route' ? 'block' : 'none'">
      <widget-datetime [widgetProperties]="etaProperties()" class="embed-widget" />
    </div>
    <div [style.display]="apState() === 'route' ? 'block' : 'none'">
      <widget-numeric [widgetProperties]="dtwProperties()" class="embed-widget"/>
    </div>
    <div [style.display]="apState() === 'route' ? 'block' : 'none'">
      <widget-numeric [widgetProperties]="ttwProperties()" class="embed-widget" />
    </div>
    <!-- Route Button row -->
    <div [style.display]="apState() === 'route' ? 'block' : 'none'">
      <!-- <button #dodgeBtn mat-flat-button disabled="true" class="ap-btn">
        <mat-icon class="svg-icon">
          <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="svg-element svg-route">
            <text xml:space="preserve"
              x="49.961578"
              y="86.799866">Dodge</text>
            <path style="fill:none;stroke-linecap:round;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
              d="M 4.6584699,36.552789 29.229283,58.159051 M 4.6584699,36.451699 29.229283,14.845436" />
            <path style="fill:none;stroke-linecap:round;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
              d="M 95.34153,36.552789 70.770717,58.159051 M 95.34153,36.451699 70.770717,14.845436" />
            <text xml:space="preserve"
              style="font-size:68.6095px"
              x="50.167503"
              y="61.058273">!</text>
          </svg>
        </mat-icon>
      </button> -->
    </div>
    <div [style.display]="apState() === 'route' ? 'block' : 'none'">
      <button #advWptBtn mat-flat-button disabled="true" class="ap-btn" (click)="buildAndSendCommand('route')">
        <mat-icon class="svg-icon">
          <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="svg-element svg-route">
            <text xml:space="preserve" x="49.961578" y="86.799866">Adv Wpt</text>
            <path
              style="stroke:none"
              d="M 19.090795,4 V 63.58544 L 78.676235,33.792718 Z" />
            <path
              style="fill:none;stroke-width:9.90493;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
              d="M 75.95674,4 V 63.58544" />
          </svg>
        </mat-icon>
      </button>
    </div>
  </div>
  @if ((menuOpen())) {
    <!-- Modes Menu Overlay -->
    <div class="svg-menu-overlay" (click)="toggleMenu()">
      <!-- Centered Responsive SVG Menu -->
      <svg [attr.viewBox]="'0 0 240 ' + menuItems.length * itemHeight" class="svg-menu" (click)="$event.stopPropagation()">
        <rect x="0" y="0" width="240" [attr.height]="menuItems.length * itemHeight + padding * 2" class="svg-menu-box"/>
        <ng-container>
          @for (item of menuItems; track $index) {
            <g style="cursor:pointer;" (click)="onMenuItemClick(item.action)">
              <rect x="0" [attr.y]="$index * itemHeight" width="240" [attr.height]="itemHeight" [attr.class]="item.action === 'cancel' ? 'cancel' : 'svg-menu-item'"/>
              <text x="120" [attr.y]="($index + 0.65) * itemHeight">
                {{ item.label }}
              </text>
            </g>
          }
        </ng-container>
      </svg>
    </div>
  }
  @if (!dashboard.isDashboardStatic()) {
    <div class="widgetOverlay">
    </div>
  }
</widget-host>
