:host {
  display: block;
  height: 100%;
}

.widgetOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  color: transparent;
  z-index: 21;
}

.widgets-container {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  height: 85%;
  width: 100%;
  overflow: hidden;
  padding: 2px;
}

.svg-menu {
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
  border-radius: 12px;
  z-index: 20;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: bold;
  text-anchor: middle;
  text-align: center;
  alignment-baseline: middle;
}

.svg-menu-item-current {
  stroke: var(--mat-sys-on-background);
  stroke-width: 3px;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.svg-menu-item {
  stroke: #000000;
  stroke-width: 2px;
  stroke-dasharray: none;
  stroke-opacity: 0.2;
}

.svg-menu-item-off {
  stroke: #000000;
  stroke-width: 2;
  stroke-dasharray: none;
  stroke-opacity: 0.2;
}

.svg-menu-item-disabled {

}

.svg-menu-item-current-text {
  font-weight: 700;
  text-anchor: middle;
  dominant-baseline: middle;
  alignment-baseline: middle;
}

.svg-menu-item-text {
  font-weight: 600;
  text-anchor: middle;
  dominant-baseline: middle;
  alignment-baseline: middle;
}

.svg-menu-item-off-text {
  font-weight: 600;
  text-anchor: middle;
  dominant-baseline: middle;
  alignment-baseline: middle;
}

.svg-menu-item-disabled-text {
  font-weight: 600;
  text-anchor: middle;
  dominant-baseline: middle;
  alignment-baseline: middle;
}

/* No stroke in default state; elevation is conveyed via SVG filters (shadows). */
.svg-menu-item-group :is(rect, path) {
}

.svg-menu-item-group:focus {
  outline: none;
}

.svg-menu-item-group:focus-visible :is(rect, path) {
  filter: url(#focus-inner-ring);
}

.svg-menu-item-group.is-disabled {
  cursor: not-allowed;
}
