<widget-host [(config)]="widgetProperties.config" [id]="widgetProperties.uuid" (configChange)="updateConfig($event)" class="widget-host">
  <div class="button-modes-wrapper">
    <button mat-flat-button #modesBtn class="button-mode">
      <svg viewBox="0 0 100 14" preserveAspectRatio="xMidYMid meet" class="button-mode-svg">
        <text xml:space="preserve"
          x="50"
          y="10.7">Steer to {{ currentAPState | titlecase }} | ...</text>
      </svg>
    </button>
  </div>
    <div class="button-modes-wrapper">
    <button mat-flat-button #engageBtn class="button-standby">
      <svg viewBox="0 0 100 14" preserveAspectRatio="xMidYMid meet" class="button-mode-svg">
        <text xml:space="preserve"
          x="50.090435"
          y="10.743966">Disengage</text>
      </svg>
    </button>
  </div>
  <app-svg-rudder [rudderAngle]="currentRudder" />
  <app-svg-autopilot #appSvgAutopilot
    [compassHeading]="currentHeading"
    [appWindAngle]="currentAppWindAngle"
    [rudderAngle]="currentRudder"
    [apState]="currentAPState"
    [apTargetAppWindAngle]="currentAPTargetAppWind"
    [apTargetHeadingMagnetic]="currentAPTargetHeadingMag"
  />

<div class="button-actions-wrapper">
  <button mat-flat-button #minus1Btn
    class="button-action">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="button-svg">
      <text xml:space="preserve"
        x="49.894032"
        y="98.734871">-1°</text>
      <path d="M 31.033486,35.785143 68.966514,66.630677 M 31.033486,35.640825 68.966514,4.79529" />
    </svg>
  </button>
</div>
<div class="button-actions-wrapper">
  <button mat-flat-button #plus1Btn
    class="button-action">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="button-svg">
      <text xml:space="preserve"
        x="50.052986"
        y="98.734871">+1°</text>
      <path d="M 68.966514,35.785143 31.033486,66.630677 M 68.966514,35.640825 31.033486,4.79529" />
    </svg>
  </button>
</div>

<div class="button-actions-wrapper">
  <button mat-flat-button #minus10Btn
    class="button-action">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="button-svg">
      <text xml:space="preserve"
        x="49.894032"
        y="98.734871">-10°</text>
      <path d="M 15.778367,35.785143 53.711395,66.630677 M 15.778367,35.640825 53.711395,4.79529" />
      <path d="M 46.288608,35.785143 84.221633,66.630677 M 46.288608,35.640825 84.221633,4.79529" />
    </svg>
  </button>
</div>
<div class="button-actions-wrapper">
  <button mat-flat-button #plus10Btn
    class="button-action">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="button-svg">
      <text xml:space="preserve"
        x="50.052986"
        y="98.734871">+10°</text>
      <path d="M 84.221633,35.785143 46.288605,66.630677 M 84.221633,35.640825 46.288605,4.79529" />
      <path d="M 53.711392,35.785143 15.778367,66.630677 M 53.711392,35.640825 15.778367,4.79529" />
    </svg>
  </button>
</div>

<div class="button-actions-wrapper">
  <button mat-flat-button #prtTackBtn
    class="button-action">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="button-svg">
      <text xml:space="preserve" x="49.894032" y="98.734871">Tack</text>
      <path class="tack"
        style="stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0;stroke-dasharray:none"
        d="M 12.512809,30.561249 28.414641,41.670318 8.7808256,51.708321 Z" />
      <path  class="tack" d="m 94.531167,45.533345 a 8.5515804,8.0601101 0 0 1 -8.55158,8.06011 8.5515804,8.0601101 0 0 1 -8.55158,-8.06011 8.5515804,8.0601101 0 0 1 8.55158,-8.06011 8.5515804,8.0601101 0 0 1 8.55158,8.06011 z" />
      <path
        style="stroke-width:8.45947;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0"
        d="M 19.881053,36.470039 A 36.704643,37.635372 0 0 1 54.605189,19.909133 36.704643,37.635372 0 0 1 84.80548,44.055681" />
    </svg>
  </button>
</div>
<div class="button-actions-wrapper">
  <button mat-flat-button #stbTackBtn
    class="button-action">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="button-svg">
      <text xml:space="preserve" x="49.894032" y="98.734871">Tack</text>
      <path class="tack"
        style="stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0;stroke-dasharray:none"
        d="M 88.231151,30.561249 72.329319,41.670318 91.963134,51.708321 Z" />
      <path class="tack" d="m 6.212793,45.533345 a 8.5515804,8.0601101 0 0 0 8.55158,8.06011 8.5515804,8.0601101 0 0 0 8.55158,-8.06011 8.5515804,8.0601101 0 0 0 -8.55158,-8.06011 8.5515804,8.0601101 0 0 0 -8.55158,8.06011 z" />
      <path
        style="stroke-width:8.45947;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0"
        d="M 80.862907,36.470039 A 36.704643,37.635372 0 0 0 46.138771,19.909133 36.704643,37.635372 0 0 0 15.93848,44.055681" />
    </svg>
  </button>
</div>
</widget-host>
