<svg-windsteer
  [compassHeading]="currentHeading()"
  [compassModeEnabled]="compassModeEnabledValue()"
  [courseOverGroundAngle]="courseOverGroundAngle()"
  [courseOverGroundEnabled]="courseOverGroundEnabledValue()"
  [trueWindAngle]="trueWindAngle()"
  [twsEnabled]="twsEnabledValue()"
  [twaEnabled]="twaEnabledValue()"
  [trueWindSpeed]="trueWindSpeed()"
  [trueWindSpeedUnit]="trueWindSpeedUnit()"
  [appWindAngle]="appWindAngle()"
  [awsEnabled]="awsEnabledValue()"
  [appWindSpeed]="appWindSpeed()"
  [appWindSpeedUnit]="appWindSpeedUnit()"
  [laylineAngle]="laylineAngleValue()"
  [closeHauledLineEnabled]="closeHauledLineEnabledValue()"
  [windSectorEnabled]="windSectorEnabledValue()"
  [driftEnabled]="driftEnabledValue()"
  [driftFlow]="driftFlow()"
  [driftSet]="driftSet()"
  [waypointAngle]="waypointAngle()"
  [waypointEnabled]="waypointEnabledValue()"
  [trueWindMinHistoric]="trueWindMinHistoric()"
  [trueWindMidHistoric]="trueWindMidHistoric()"
  [trueWindMaxHistoric]="trueWindMaxHistoric()"
  [sailSetupEnabled]="runtime.options()?.sailSetupEnable ?? false"
></svg-windsteer>
