<svg-windsteer
  [compassHeading]="currentHeading()"
  [compassModeEnabled]="$safeNavigationMigration(runtime.options()?.compassModeEnabled)"
  [courseOverGroundAngle]="courseOverGroundAngle()"
  [courseOverGroundEnabled]="$safeNavigationMigration(runtime.options()?.courseOverGroundEnable)"
  [trueWindAngle]="trueWindAngle()"
  [twsEnabled]="$safeNavigationMigration(runtime.options()?.twsEnable)"
  [twaEnabled]="$safeNavigationMigration(runtime.options()?.twaEnable)"
  [trueWindSpeed]="trueWindSpeed()"
  [trueWindSpeedUnit]="trueWindSpeedUnit()"
  [appWindAngle]="appWindAngle()"
  [awsEnabled]="$safeNavigationMigration(runtime.options()?.awsEnable)"
  [appWindSpeed]="appWindSpeed()"
  [appWindSpeedUnit]="appWindSpeedUnit()"
  [laylineAngle]="$safeNavigationMigration(runtime.options()?.laylineAngle)"
  [closeHauledLineEnabled]="$safeNavigationMigration(runtime.options()?.laylineEnable)"
  [windSectorEnabled]="$safeNavigationMigration(runtime.options()?.windSectorEnable)"
  [driftEnabled]="$safeNavigationMigration(runtime.options()?.driftEnable)"
  [driftFlow]="driftFlow()"
  [driftSet]="driftSet()"
  [waypointAngle]="waypointAngle()"
  [waypointEnabled]="$safeNavigationMigration(runtime.options()?.waypointEnable)"
  [trueWindMinHistoric]="trueWindMinHistoric()"
  [trueWindMidHistoric]="trueWindMidHistoric()"
  [trueWindMaxHistoric]="trueWindMaxHistoric()"
  [sailSetupEnabled]="runtime.options()?.sailSetupEnable ?? false"
></svg-windsteer>
