<svg-windsteer
  [compassHeading]="currentHeading()"
  [courseOverGroundAngle]="courseOverGroundAngle()"
  [courseOverGroundEnabled]="runtime.options()?.courseOverGroundEnable"
  [trueWindAngle]="trueWindAngle()"
  [twsEnabled]="runtime.options()?.twsEnable"
  [twaEnabled]="runtime.options()?.twaEnable"
  [trueWindSpeed]="trueWindSpeed()"
  [trueWindSpeedUnit]="trueWindSpeedUnit()"
  [appWindAngle]="appWindAngle()"
  [awsEnabled]="runtime.options()?.awsEnable"
  [appWindSpeed]="appWindSpeed()"
  [appWindSpeedUnit]="appWindSpeedUnit()"
  [laylineAngle]="runtime.options()?.laylineAngle"
  [closeHauledLineEnabled]="runtime.options()?.laylineEnable"
  [windSectorEnabled]="runtime.options()?.windSectorEnable"
  [driftEnabled]="runtime.options()?.driftEnable"
  [driftFlow]="driftFlow()"
  [driftSet]="driftSet()"
  [waypointAngle]="waypointAngle()"
  [waypointEnabled]="runtime.options()?.waypointEnable"
  [trueWindMinHistoric]="trueWindMinHistoric()"
  [trueWindMidHistoric]="trueWindMidHistoric()"
  [trueWindMaxHistoric]="trueWindMaxHistoric()"
  [sailSetupEnabled]="runtime.options()?.sailSetupEnable ?? false"
></svg-windsteer>
