  <svg-simple-linear-gauge class="simpleLinearGaugeContainer"
    [displayName]="displayNameSafe()"
    [displayNameColor]="$safeNavigationMigration(theme()?.contrastDim)"
    [unitLabel]="unitsLabel()"
    [dataValue]="dataValue()"
    [dataValueLabel]="dataLabelValue()"
    [barColor]="barColor()"
    [barColorGradient]="barColorGradient()"
    [barColorBackground]="barColorBackground()"
    [gaugeMaxValue]="gaugeMaxValue()"
    [gaugeMinValue]="gaugeMinValue()"
    [highlights]="highlights()"
  ></svg-simple-linear-gauge>
