<div class="wrapper">
  <!--
  <div class="indicatorBorder">
    aaa
  </div> -->

  <div class="indicatorBorder stateOn"  *ngIf="state" (mousedown)="handleClickDown();" (mouseup)="handleClickUp();" (mouseout)="handleClickUp();">
        <div class="textValue "  >
            {{ config.displayName }}
        </div>

  </div>

<div class="indicatorBorder stateOff" *ngIf="!state" (mousedown)="handleClickDown()" (mouseup)="handleClickUp();" (mouseout)="handleClickUp();">
  <div class="textValue " >
      {{ config.displayName }}
  </div>
</div>



  <div class="settingsButton" *ngIf="unlockStatus">
    <button  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
        <span class="fa-solid fa-cog"></span>
    </button>
  </div>
</div>
