@use '~@angular/material' as mat;


@mixin widget-state-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  .stateOn {
    background-color: mat.get-color-from-palette($accent, 'A700');
    color: mat.get-color-from-palette($accent, 'A700-contrast');
  }
  .stateOff {
    background-color: mat.get-color-from-palette($accent, 100);
    color: mat.get-color-from-palette($accent, '100-contrast');
  }

}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}


.textGenericLabel {
  position: absolute;
  top: 5%;
  left: 5%;

}


.textValue {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", Times, serif;
  font-weight: bold;
  box-sizing: border-box;
}

.indicatorBorder {
margin-left: 5%;
margin-right: 5%;
top: 5%;
position: relative;
width: 90%;
height: 90%;
box-sizing: border-box;
border: solid 0.3em;
border-radius: 2em / 2em;
}

.settingsButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}
