<div class="wrapper">
  <div class="label">
          {{ widgetConfig.label }}
  </div>
  <!--<div class="textValue">
    {{ state }}
  </div>-->

  <svg
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  id="svg8"
  version="1.1"
  viewBox="0 0 500 500"
  height="100%"
  width="100%">
 <defs
    id="defs2" />
 <g
    transform="translate(0,203)"
    id="layer1">
   <circle *ngIf="!state"
      r="249.84225"
      cy="47.913685"
      cx="250.59822"
      id="path4506"
      style="stroke:#139800;stroke-width:0.79374999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill:#ff0000" />
    <circle *ngIf="state"
      r="249.84225"
      cy="47.913685"
      cx="250.59822"
      id="path4506"
      style="stroke:#139800;stroke-width:0.79374999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill:#139800" />
 
    </g>
</svg>


  <div class="settingsButton" *ngIf="unlockStatus">
    <button  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
        <span class="fa fa-cog"></span>
    </button>
  </div>
</div>