@mixin widget-numeric-theme($theme) {
  $warn: map-get($theme, warn);

  .warn {
    color: mat.get-color-from-palette($warn, 500);
  }

  .warn-contrast {
    color: mat.get-contrast-color-from-palette($warn, 500);
  }
}

.textGenericWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas-size {
  position: absolute;
  top: 0;
  left: 0;
}
