.fullpage-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fullpage-header-title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 18px 24px 13px 24px;
  color: var(--mat-dialog-subhead-color, var(--mat-sys-on-surface, rgba(0, 0, 0, 0.87)));
  font-family: var(--mat-dialog-subhead-font, var(--mat-sys-headline-small-font, inherit));
  line-height: var(--mat-dialog-subhead-line-height, var(--mat-sys-headline-small-line-height, 1.5rem));
  font-size: var(--mat-dialog-subhead-size, var(--mat-sys-headline-small-size, 1rem));
  font-weight: var(--mat-dialog-subhead-weight, var(--mat-sys-headline-small-weight, 400));
  letter-spacing: var(--mat-dialog-subhead-tracking, var(--mat-sys-headline-small-tracking, 0.03125em));
}

.dialog-close-icon {
margin-right: 15px;
}

.mat-mdc-dialog-content {
max-height: max-content;
}

.dialog-content-padding {
--mat-dialog-content-padding: 0px 24px 20px 24px;
}

.markdown-content {
  display: block;
  height: calc(100% - 75px);
  width: 100%;
  overflow-x: scroll;
  padding: 25px;
}
