@import '~@angular/material/theming';

@mixin widget-ngGauge-linear-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-widget-gauge-ng-linear {
      .primary {
        color: mat-color($primary, 300);
      }
      .accent {
        color: mat-color($accent, 300);
      }
      .warn {
        color: mat-color($warn, 300);
      }
      .primaryDark {
        color: mat-color($primary, 900);
      }
      .accentDark {
        color: mat-color($accent, 900);
      }
      .warnDark {
        color: mat-color($warn, 900);
      }
      .background {
        color: mat-color($foreground, divider);
      }
      .text {
        color: mat-color($foreground, text);
      }
  }
}

.verticalLinearWrapper {
  position: relative;
  top: 3%;
  height: 97%;
  width: 100%;

  > .linearGauge {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

}

.horizontalLinearWrapper {
  position: relative;
  margin: 0px;
  top: 47%;
  -ms-transform: translateY(-47%);
  transform: translateY(-47%);
  &:before {
    display:block;
    content: "";
    width: 100%;
    padding-top: (1 / 4) * 97%;
    margin-top: 3%;
  }
  > .linearGauge {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.settingsButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}


.tab-group {
  border: 1px solid #e8e8e8;
}

.tab-content {
  padding: 16px;
}

.full-width {
  width: 100%;
}
