@use '~@angular/material' as mat;
@use "sass:math";

@mixin widget-ngGauge-linear-theme($theme) {

  $ngGauge: map-get($theme, ngGauge);
  $themeForeground: map-get($theme, foreground);

  app-widget-gauge-ng-linear {
      .primary {
        color: mat.get-color-from-palette($ngGauge, primary-gaugeFaceLight);
      }
      .accent {
        color: mat.get-color-from-palette($ngGauge, accent-gaugeFaceLight);
      }
      .warn {
        color: mat.get-color-from-palette($ngGauge, warn-gaugeFaceLight);
      }
      .primaryDark {
        color: mat.get-color-from-palette($ngGauge, primary-gaugeFaceDark);
      }
      .accentDark {
        color: mat.get-color-from-palette($ngGauge, accent-gaugeFaceDark);
      }
      .warnDark {
        color: mat.get-color-from-palette($ngGauge, warn-gaugeFaceDark);
      }
      .background {
        color: mat.get-color-from-palette($themeForeground, divider);
      }
      .text {
        color: mat.get-color-from-palette($themeForeground, text);
      }
  }
}

.verticalLinearWrapper {
  position: relative;
  top: 3%;
  height: 97%;
  width: 100%;

  > .linearGauge {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

}

.horizontalLinearWrapper {
  position: relative;
  margin: 0px;
  top: 47%;
  -ms-transform: translateY(-47%);
  transform: translateY(-47%);
  &:before {
    display:block;
    content: "";
    width: 100%;
    padding-top: math.div(1, 4) * 97%;
    margin-top: 3%;
  }
  > .linearGauge {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.settingsButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}


.tab-group {
  border: 1px solid #e8e8e8;
}

.tab-content {
  padding: 16px;
}

.full-width {
  width: 100%;
}
