<button type="button" mat-raised-button color="primary" (click)="onAddControlGroup()" >Add Control</button>

  <div *ngFor="let ctrlGroup of formMultiCtrlGroup | objectKeys; index as i">
    <div [formGroup]="formMultiCtrlGroup[i]">
      <div class="pathGroup">
        <p>Control #{{i}}</p>
      </div>
      <mat-form-field class="fields" appearance="outline" floatLabel="always">
        <mat-label>Label</mat-label>
        <input matInput type="string"
          placeholder="Type Control Label..."
          formControlName="label"
          Ripple
          required>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline" floatLabel="always">
        <mat-label>Color</mat-label>
        <mat-select
        placeholder="Select Color..."
        formControlName="color"
        name="color">
          <mat-option value='text'>Font</mat-option>
          <mat-option value='primary'>Primary</mat-option>
          <mat-option value='accent'>Accent</mat-option>
          <mat-option value='warn'>Warn</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


  </div>


