.page-scroll-title {
  position: absolute;
  top: 50%;
  right: 55px;
  transform: translate(0%, -50%);
  z-index: 100;
  cursor: default;
  text-align: center;
  padding: 5px;
  color: var(--mdc-text-button-label-text-color);
}

.page-scroll-page-number {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0%, -50%);
  z-index: 100;
  cursor: default;
  display: grid;
  padding: 0px;
}

.page-scroll-container {
  opacity: 0;
  background-color: var(--kip-widget-card-background-color);
  border-radius: 25px;
  border: 1px solid var(--kip-widget-action-button-color);
}

.page-icon {
  transform: scale(0.75);
}
