:host {
  pointer-events: none;
}

.page-scroll-title {
  position: absolute;
  top: 50%;
  right: 54px;
  transform: translate(0%, -50%);
  z-index: 100;
  cursor: default;
  text-align: center;
  padding: 10px;
  color: var(--mat-sys-inverse-surface);
}

.page-scroll-page-number {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0%, -50%);
  z-index: 100;
  cursor: default;
  display: grid;
  padding: 0px;
}

.page-scroll-container {
  opacity: 0;
  background-color: var(--mat-sys-tertiary-fixed-dim);
  border-radius: 10px;
  border: 1px solid var(--mat-sys-inverse-surface);
}

.page-label {
  color: var(--mat-sys-on-surface);
  text-shadow:
    1px 1px 0 var(--mat-sys-outline),
    -1px 1px 0 var(--mat-sys-outline),
    -1px -1px 0 var(--mat-sys-outline),
    1px -1px 0 var(--mat-sys-outline);
  font-size: x-large;
}

.page-marker {
  height: 20px;
  width: 20px;
  margin: 4px;
  border-radius: 50%;
  border: 1px solid var(--mat-sys-outline);
}

@keyframes fadeInHoldFadeOut {
  /* 0ms */
  0% {
    opacity: 0;
  }

  /* 100ms / 1350ms = 7.407% */
  7.407% {
    opacity: 1;
  }

  /* (100ms + 250ms) / 1350ms = 25.926% */
  25.926% {
    opacity: 1;
  }

  /* 1350ms */
  100% {
    opacity: 0;
  }
}

/* apply to the element you want to animate */
.fade-toast {
  opacity: 0; /* initial */
  animation: fadeInHoldFadeOut 1350ms linear forwards;
}