:host {
  display: block;
  height: 100%;
  width: 100%;
}

.widget-config-dialog-content {
  height: 100%
}

.display-content {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}

.warning {
  color: var(--mat-sys-error-container);
}

.tab-group-content {
  // height: calc(100% - 63px);
  overflow: hidden;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px 0px 15px 0px;
  gap: 15px;
  align-items: stretch;
}

.panel-group {
  min-width: 250px;
  flex-grow: 1;
}
