<form (ngSubmit)="submitConfig()" [formGroup]="formMaster">
  <span mat-dialog-title>{{titleDialog}}</span>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Display">
        <div class="tab-content">
          <div class="widget-options-grid">
            <mat-form-field class="options-grid-span2" *ngIf="(widgetConfig.widgetUrl !== undefined)">
              <mat-label>URL</mat-label>
              <input type="url" matInput placeholder="Enter URL to page/resource" name="widgetUrl" formControlName="widgetUrl">
            </mat-form-field>

            <mat-form-field class="options-grid-span2" *ngIf="(widgetConfig.displayName !== undefined)">
              <mat-label>Widget Label</mat-label>
              <input matInput placeholder="Enter a label to display" name="displayName" formControlName="displayName">
            </mat-form-field>

            <mat-form-field *ngIf="(widgetConfig.numInt !== undefined)">
              <mat-label>Minimum Integer Places</mat-label>
              <input type="number" min="0" max="5" matInput placeholder="Enter or select number..." name="numInt"  formControlName="numInt">
            </mat-form-field>
            <mat-form-field *ngIf="(widgetConfig.numInt !== undefined)">
              <mat-label>Maximum Decimal Places</mat-label>
              <input type="number" min="0" max="5" matInput placeholder="Enter or select number..." name="numDecimal"  formControlName="numDecimal">
            </mat-form-field>

            <mat-checkbox *ngIf="(widgetConfig.showMin !== undefined)"
              name="showMin"
              formControlName="showMin">
              Show Min recorded value
            </mat-checkbox>
            <mat-checkbox *ngIf="(widgetConfig.showMax !== undefined)"
              name="showMax"
              formControlName="showMax">
              Show Max recorded value
            </mat-checkbox>

            <display-datetime-options class="options-grid-span2" *ngIf="(widgetConfig.dateFormat !== undefined)"
              [dateFormat]="formMaster.get('dateFormat')"
              [dateTimezone]="formMaster.get('dateTimezone')">
            </display-datetime-options>

            <mat-form-field class="options-grid-span2" *ngIf="(widgetConfig.textColor !== undefined)">
              <mat-label>Color</mat-label>
              <mat-select
              placeholder="Select Color..."
              formControlName="textColor"
              name="textColor"
              required>
                <mat-option value='text'>Font</mat-option>
                <mat-option value='primary'>Primary</mat-option>
                <mat-option value='accent'>Accent</mat-option>
                <mat-option value='warn'>Warn</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- sail gauge stuff -->
            <mat-checkbox class="fields" *ngIf="(widgetConfig.laylineEnable !== undefined)"
              name="laylineEnable"
              formControlName="laylineEnable">
                Show Close-hauled Lines
            </mat-checkbox>
            <mat-form-field *ngIf="(widgetConfig.laylineEnable !== undefined)">
              <mat-label>Vessel Close-hauled Angle</mat-label>
              <input type="number" min="10" max="90" matInput placeholder="Select angle..." name="laylineAngle" formControlName="laylineAngle">
            </mat-form-field>

            <mat-checkbox *ngIf="(widgetConfig.windSectorEnable !== undefined)" name="windSectorEnable" formControlName="windSectorEnable">
              Show Wind Sectors
            </mat-checkbox>
            <mat-form-field *ngIf="(widgetConfig.windSectorEnable !== undefined)">
              <mat-label>Wind Sector Duration</mat-label>
              <input type="number" min="1" max="90" matInput placeholder="Select or enter duration..." name="windSectorWindowSeconds"  formControlName="windSectorWindowSeconds">
            </mat-form-field>

            <mat-checkbox class="options-grid-span2" *ngIf="(widgetConfig.courseOverGroundEnable !== undefined)" name="courseOverGroundEnable" formControlName="courseOverGroundEnable" (change)="setPaths()">
              Show Course Over Ground
            </mat-checkbox>
            <mat-checkbox class="options-grid-span2" *ngIf="(widgetConfig.waypointEnable !== undefined)" name="waypointEnable" formControlName="waypointEnable" (change)="setPaths()">
              Show Next Waypoint
            </mat-checkbox>

            <!-- Gauge stuff -->
            <mat-form-field *ngIf="(widgetConfig.minValue !== undefined)">
              <mat-label>Minimum Value</mat-label>
              <input matInput type="number" name="minValue" formControlName="minValue" placeholder="Enter or select number...">
            </mat-form-field>
            <mat-form-field *ngIf="(widgetConfig.maxValue !== undefined)">
              <mat-label>Maximum Value</mat-label>
              <input matInput type="number" name="maxValue" formControlName="maxValue" placeholder="Enter or select number...">
            </mat-form-field>

            <mat-form-field *ngIf="(widgetConfig.backgroundColor !== undefined) && (widgetConfig.gaugeType == 'linear' || widgetConfig.gaugeType == 'radial')">
              <mat-label>Background Style</mat-label>
              <mat-select
                placeholder="Select style..."
                formControlName="backgroundColor"
                name="backgroundColor">
                <mat-option value='darkGray'>Dark Gray</mat-option>
                <mat-option value='satinGray'>Satin Gray</mat-option>
                <mat-option value='lightGray'>Light Gray</mat-option>
                <mat-option value='white'>White</mat-option>
                <mat-option value='black'>Black</mat-option>
                <mat-option value='beige'>Beige</mat-option>
                <mat-option value='brown'>Brown</mat-option>
                <mat-option value='red'>Red</mat-option>
                <mat-option value='green'>Green</mat-option>
                <mat-option value='blue'>Blue</mat-option>
                <mat-option value='anthracite'>Anthracite</mat-option>
                <mat-option value='mud'>Mud</mat-option>
                <mat-option value='punchedSheet'>Punched Sheet</mat-option>
                <mat-option value='carbon'>Carbon</mat-option>
                <mat-option value='stainless'>Stainless</mat-option>
                <mat-option value='brushedMetal'>Brushed Metal</mat-option>
                <mat-option value='brushedStainless'>Brushed Stainless</mat-option>
                <mat-option value='turned'>Turned</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="(widgetConfig.backgroundColor !== undefined) && (widgetConfig.gaugeType == 'linear' || widgetConfig.gaugeType == 'radial')">
              <mat-label>Frame Style</mat-label>
              <mat-select
                placeholder="Select style..."
                formControlName="frameColor"
                name="frameColor">
                <mat-option value='blackMetal'>Black Metal</mat-option>
                <mat-option value='metal'>Metal</mat-option>
                <mat-option value='shinyMetal'>Shiny Metal</mat-option>
                <mat-option value='brass'>Brass</mat-option>
                <mat-option value='steel'>Steel</mat-option>
                <mat-option value='chrome'>Chrome</mat-option>
                <mat-option value='gold'>Gold</mat-option>
                <mat-option value='anthracite'>Anthracite</mat-option>
                <mat-option value='tiltedGray'>Tilted Gray</mat-option>
                <mat-option value='tiltedBlack'>Tilted Black</mat-option>
                <mat-option value='glossyMetal'>Glossy Metal</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="options-grid-span2" *ngIf="(widgetConfig.barColor !== undefined)">
              <mat-label>Color</mat-label>
              <mat-select placeholder="Select Theme Color" formControlName="barColor" name="barColor">
                <mat-option value='primary'>Primary</mat-option>
                <mat-option value='accent'>Accent</mat-option>
                <mat-option value='warn'>Warn</mat-option>
                <mat-option *ngIf="(widgetConfig.gaugeType == 'ngLinearVertical') || (widgetConfig.gaugeType == 'ngLinearHorizontal')" value='nobar'>No Progress</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- end Gauge stuff-->
        </div>
      </mat-tab>


<!-- Boolean Multi Child Control Config Panel -->
      <mat-tab label="Controls" *ngIf="(widgetConfig.multiChildCtrls !== undefined)">
        <div class="tab-content">
          <div>
            <ng-template mat-tab-label>
              <span [style]="formMaster.controls.multiChildCtrls.valid ? 'display: none' : 'display: block'" class="warning fa fa-exclamation-circle"></span>&nbsp;Controls
            </ng-template>
          </div>
            <boolean-multicontrol-options
              [multiCtrlArray]="formMaster.get('multiChildCtrls')"
              (addPath)="addPathGroup($event)"
              (updatePath)="updatePath($event)"
              (delPath)="deletePath($event)">
            </boolean-multicontrol-options>
        </div>
      </mat-tab>
<!-- Paths stuff -->
      <mat-tab label="Paths" *ngIf="(widgetConfig.paths !== undefined)">
        <div class="tab-content">
          <div>
            <ng-template mat-tab-label>
              <span [style]="formMaster.controls.paths.valid ? 'display: none' : 'display: block'" class="warning fa fa-exclamation-circle"></span>&nbsp;Paths
            </ng-template>
          </div>
          <paths-options
            formGroupName="paths"
            [isArray]="isPathArray"
            [enableTimeout]="formMaster.get('enableTimeout')"
            [dataTimeout]="formMaster.get('dataTimeout')"
            [filterSelfPaths]="formMaster.get('filterSelfPaths')"
            [addPathEvent]="addPathEvent">
          </paths-options>
        </div>
      </mat-tab>
<!-- Gauge stuff -->
      <!-- Simple Linear gauge -->
      <mat-tab label="Settings" *ngIf="widgetConfig.gaugeType == 'simpleLinear'">
        <div class="tab-content">
          <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-label>Unit Label Options</mat-label>
              <mat-select
                placeholder="Select label format"
                formControlName="gaugeUnitLabelFormat"
                name="gaugeUnitLabelFormat">
                <mat-option value="full">Full Label</mat-option>
                <mat-option value="abr">First Letter Only</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>

      <!-- ng-canvas Radial gauges -->
      <mat-tab label="Settings" *ngIf="widgetConfig.gaugeType == 'ngRadial'">
        <div class="tab-content">

            <p>
              <label id="radial-type-label">Radial Gauge type:</label>
              <mat-radio-group class="radio-group" aria-labelledby="radial-type-label" name="radialSize" formControlName="radialSize">
                <mat-radio-button class="radio-button" value="measuring">Measuring</mat-radio-button>
                <mat-radio-button class="radio-button" value="capacity">Capacity</mat-radio-button>
                <mat-radio-button class="radio-button" value="marineCompass">Marine Compass</mat-radio-button>
                <mat-radio-button class="radio-button" value="baseplateCompass">Baseplate Compass</mat-radio-button>
              </mat-radio-group>
            </p>
            <p *ngIf="['marineCompass','baseplateCompass'].indexOf(formMaster.controls.radialSize.value) > -1">
              <label id="tick-type-label">Tick Labels:</label>
              <mat-radio-group class="radio-group" aria-labelledby="tick-type-label" name="compassUseNumbers" formControlName="compassUseNumbers">
                <mat-radio-button class="radio-button" [value]="false">N/E/S/W</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="true">0/90/180/270</mat-radio-button>
              </mat-radio-group>
            </p>
        </div>
      </mat-tab>

      <!-- ng-canvas Linear gauges -->
      <mat-tab label="Settings" *ngIf="widgetConfig.gaugeType == 'ngLinearVertical' || widgetConfig.gaugeType == 'ngLinearHorizontal'">
        <div class="tab-content">
          <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-label>Gauge Type</mat-label>
            <mat-select
                placeholder="Select type..."
                formControlName="gaugeType"
                name="gaugeType">
                <mat-option value="ngLinearVertical">Vertical layout</mat-option>
                <mat-option value="ngLinearHorizontal">Horizontal layout</mat-option>
            </mat-select>
          </mat-form-field>
          <p>
            <mat-checkbox
              formControlName="gaugeTicks"
              name="gaugeTicks">
                Display Gauge Ticks
            </mat-checkbox>
          </p>
        </div>
      </mat-tab>

      <!-- steel gauge -->
      <mat-tab label="Settings" *ngIf="widgetConfig.gaugeType == 'linear' || widgetConfig.gaugeType == 'radial'">
        <div class="tab-content">
          <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-label>Gauge Type</mat-label>
            <mat-select
                placeholder="Select type..."
                formControlName="gaugeType"
                name="gaugeType">
                <mat-option value="linear">Linear</mat-option>
                <mat-option value="radial">Radial</mat-option>
            </mat-select>
          </mat-form-field>
          <p>
              <mat-checkbox
                formControlName="barGraph"
                name="barGraph">
                  Digital display
              </mat-checkbox>
          </p>
          <p *ngIf="(formMaster.controls.gaugeType.value == 'radial')" >
            <mat-radio-group *ngIf="formMaster.controls.gaugeType.value == 'radial'" name="radialSize" formControlName="radialSize">
              <mat-radio-button value="quarter">1/4</mat-radio-button>
              <mat-radio-button value="half">1/2</mat-radio-button>
              <mat-radio-button value="three-quarter">3/4</mat-radio-button>
              <mat-radio-button value="full">Full</mat-radio-button>
            </mat-radio-group>
          </p>
        </div>
      </mat-tab>
<!-- end Gauge stuff-->

<!-- PUT Requests -->
      <mat-tab label="Put Request" *ngIf="(widgetConfig.putEnable !== undefined) && (widgetConfig.multiChildCtrls === undefined)">
          <div class="tab-content">
            <p>
              <mat-checkbox
                formControlName="putEnable"
                  name="putEnable"
                  >
                  Enable Put Requests
              </mat-checkbox>
            </p>
            <p>
              <mat-checkbox
              formControlName="putMomentary"
                name="putMomentary"
                >
                Momentary mode (instead of switching between on/off)
            </mat-checkbox>
            </p>
            <p *ngIf="formMaster.controls.putMomentary.value">
                <mat-checkbox
                formControlName="putMomentaryValue"
                  name="putMomentaryValue"
                  >
                  Value to send on button push (checked = on, unchecked = off)
              </mat-checkbox>
              </p>

          </div>
      </mat-tab>
<!-- End PUT Requests-->

<!-- Historical stuff -->
      <mat-tab label="Dataset" *ngIf="(widgetConfig.datasetUUID !== undefined)">
        <ng-template mat-tab-label>
            <span *ngIf="!formMaster.controls.datasetUUID.valid" class="warning fa fa-exclamation-circle"></span> Dataset
        </ng-template>
        <div class="tab-content">
          <div class="widget-options-grid">

            <mat-form-field class="options-grid-span2">
              <mat-label>Configured Datasets</mat-label>
              <mat-select
                placeholder="Select dataset to use..."
                formControlName="datasetUUID"
                name="datasetUUID"
                required>
                <mat-option *ngFor="let ds of availableDataSets" [value]="ds.uuid">
                    {{ds.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="options-grid-span2">
              <mat-label>Display Format</mat-label>
              <mat-select
                  placeholder="Select unit"
                  formControlName="convertUnitTo"
                  disableRipple
                  required>
                  <mat-optgroup *ngFor="let group of unitList.conversions" [label]="group.group">
                    <mat-option *ngFor="let unit of group.units" [value]="unit.measure">
                      {{unit.description}}
                    </mat-option>
                  </mat-optgroup>
              </mat-select>
            </mat-form-field>

            <mat-checkbox
              formControlName="verticalGraph"
              name="verticalGraph">
                Show vertical graph
            </mat-checkbox>

            <mat-checkbox
              formControlName="invertData"
              name="invertData">
                Invert Data (multiply by -1)
            </mat-checkbox>

            <mat-checkbox
              formControlName="displayDatasetMinimumValueLine"
              name="displayDatasetMinimumValueLine">
                Display Min/Max value
            </mat-checkbox>

            <mat-checkbox
              formControlName="startScaleAtZero"
              name="startScaleAtZero">
                Y axis always start from zero
            </mat-checkbox>
          </div>
        </div>
      </mat-tab>
<!-- end Historical -->

    </mat-tab-group>

  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <button type="button" mat-dialog-close mat-raised-button>Cancel</button>
    <button mat-raised-button color="accent" type="submit" [disabled]="!formMaster.valid" >Save</button>
  </mat-dialog-actions>
</form>
