:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grid-stack {
  width: 100%;
}

.edit-layout-close-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}
.layout-action-btn {
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
}
