<gridstack
  [options]="gridOptions"
  (swipeup)="previousDashboard($event)"
  (swipedown)="nextDashboard($event)"
  (press)="addNewWidget($event)"
  (window:resize)="resizeGridColumns()"
/>
@if (!dashboard.isDashboardStatic()) {
<div class="edit-layout-close-icon">
  <button
    mat-fab
    class="layout-action-btn"
    style="margin-right: 10px"
    (click)="saveLayoutChanges()"
  >
    <mat-icon>done</mat-icon>
  </button>
  <button
    mat-fab
    class="layout-action-btn"
    (click)="cancelLayoutChanges()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
} @if (dashboard.isDashboardStatic()) {
<dashboard-scroller
  [activePage]="dashboard.activeDashboard()"
  [dashboards]="dashboard.dashboards()"
/>
}
