<br>
<form name="signalKForm" (ngSubmit)="updateSignalKURL()" #signalKForm="ngForm">
  <md-form-field class="almost-full-width">
    <input type=url mdInput placeholder="SignalK API Url" name="signalKURL" [(ngModel)]="formSignalKURL" required pattern="https?://.+">
    <md-error>
      Please enter valid signalK endpoint URL. ex: "http://demo.signalK.com/signalk"
    </md-error>
  </md-form-field>
  <button type="submit" md-raised-button [disabled]="!signalKForm.form.valid">Update/Reset</button>
</form>
<br>
<table>
  <tr>
    <td>
      API URL: 
    </td>
    <td>
      <i class="fa fa-check" style="color:green;" aria-hidden="true" *ngIf="endpointAPIStatus"></i>
      <i class="fa fa-times-circle" style="color:red;" aria-hidden="true" *ngIf="!endpointAPIStatus"></i>
      {{ endpointAPIStatusMessage }}
    </td>
  </tr>
  <tr>
    <td>
      Websocket Status:
    </td>
    <td>
      <i class="fa fa-check" style="color:green;" aria-hidden="true" *ngIf="endpointWSStatus"></i>
      <i class="fa fa-times-circle" style="color:red;" aria-hidden="true" *ngIf="!endpointWSStatus"></i>
      {{ endpointWSMessage }}
    </td>
  </tr>
  <tr>
    <td>
      HTTP REST Status: 
    </td>
    <td>
      <i class="fa fa-check" style="color:green;" aria-hidden="true" *ngIf="endpointRESTStatus"></i>
      <i class="fa fa-times-circle" style="color:red;" aria-hidden="true" *ngIf="!endpointRESTStatus"></i>
      {{ endpointRESTMessage }}
    </td>
  </tr>
</table>