.connectUrlInput {
  width: 100%;
}
.userLoginInput{
  width: 50%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px 10px;
}

.flex-item-detail {
  flex: 0 1 350px;
}

.flex-item-chart {
  flex: 1 1 350px;
  position: relative;
  margin: 0px;
  height: 100%;
  width: 100%;
  border: 2px inset;
}

table {
  width: fit-content;
}

tr {
  vertical-align: top;
}

.tableCellLabel {
  display: table-cell;
  text-align: right;
  padding: 5px;
}

.tableCellData {
  display: table-cell;
  margin: 0px !important;
  padding: 5px;
}
