<form name="signalKForm" (ngSubmit)="conectToServer()" #signalKForm="ngForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Connection Details</mat-card-title>
      <mat-card-subtitle>Enter the URL and port to your server (ie http://my.server.com:3000), or Request and Clear a server Token.<br>Token is only required to submit commands, such as sending Autopilot direction or mode commands. Token requests must be approved from the server, by a server administrator.</mat-card-subtitle>
    </mat-card-header>

    <mat-card>
    <mat-form-field class="connectUrlInput">
      <input type=url matInput placeholder="SignalK API Url" name="signalKURL" [(ngModel)]="formSignalKURL" required pattern="https?://.+">
      <mat-error>
        Please enter valid signalK endpoint URL. ex: "http://demo.signalK.com"
      </mat-error>
    </mat-form-field>
    <mat-form-field class="userLoginInput">
      <input type=text matInput placeholder="User ID" name="signalKUserId" [(ngModel)]="formSignalKUserId" required>
      <mat-error>
        Invalide User ID or Password
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="userLoginInput">
      <input type=password matInput placeholder="Password" name="signalKUserPwd" [(ngModel)]="formSignalKUserPwd" required>
      <mat-error>
        Invalide User ID or Password
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-slide-toggle name="useDeviceAuth"[(ngModel)]="formDeviceAuth" [ngModelOptions]="{standalone: false}">Disable User login and use Device Authorisation Token</mat-slide-toggle>

  </mat-card>
    <mat-card-actions align="end">
      <span *ngIf="formAuthToken">
        <button mat-raised-button color="primary" matTooltip="Delete SignalK Authorization Token" (click)="deleteToken()">
          Delete Token
        </button>
      </span>
      <span *ngIf="!formAuthToken">
        <button mat-raised-button type="button" color="primary" matTooltip="Only needed to send data to server (for inputs) If only displaying data it is not needed" (click)="requestDeviceAccessToken()" [disabled]="formSignalKURL.match('demo')">
          Request Token
        </button>
      </span>
      <button mat-raised-button type="button" color="accent" (click)="requestUserLogin()" [disabled]="formSignalKURL.match('demo')">Login</button>
      <button mat-raised-button type="submit" color="accent" style="margin-left: 10px;" [disabled]="!signalKForm.form.valid">
        Connect
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<table style="margin-left: 30px;font-size: 12px;">
  <tr>
    <td>
      Version:
    </td>
    <td>
      {{ signalKConnectionsStatus.server.version }}
    </td>
    <td rowspan="5">
      <div class="" >
        <canvas width="400" height="200" #lineGraph id="chart"></canvas>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Status:
    </td>
    <td>
      <i class="fa-solid fa-check" style="color:green;" aria-hidden="true" *ngIf="signalKConnectionsStatus.endpoint.status"></i>
      <i class="fa-solid fa-times-circle" style="color:red;" aria-hidden="true" *ngIf="!signalKConnectionsStatus.endpoint.status"></i>
      {{ signalKConnectionsStatus.endpoint.message }}
    </td>
  </tr>
  <tr>
    <td>
      Websocket:
    </td>
    <td>
      <i class="fa-solid fa-check" style="color:green;" aria-hidden="true" *ngIf="signalKConnectionsStatus.websocket.status"></i>
      <i class="fa-solid fa-times-circle" style="color:red;" aria-hidden="true" *ngIf="!signalKConnectionsStatus.websocket.status"></i>
      {{ signalKConnectionsStatus.websocket.message }}
    </td>
  </tr>
  <tr>
    <td>
      REST:
    </td>
    <td>
      <i class="fa-solid fa-check" style="color:green;" aria-hidden="true" *ngIf="signalKConnectionsStatus.rest.status"></i>
      <i class="fa-solid fa-times-circle" style="color:red;" aria-hidden="true" *ngIf="!signalKConnectionsStatus.rest.status"></i>
      {{ signalKConnectionsStatus.rest.message }}
    </td>
  </tr>
  <tr>
    <td>
      Token:
    </td>
    <td>
      <div *ngIf="formAuthToken">
        <i class="fa-solid fa-check" style="color:green;" aria-hidden="true" ></i>
        {{ formAuthToken | slice : 0 : 20}}...
      </div>
      <div *ngIf="!formAuthToken">
        <i class="fa-solid fa-times" style="color:rgb(145, 145, 64);" aria-hidden="true" ></i>
      </div>
    </td>
  </tr>
</table>
