<div class="mat-typography">
  <form (ngSubmit)="saveAllSettings()" #generalForm="ngForm" id="GeneraSetting">
    <h2>Display Modes</h2>
    <mat-checkbox class="full-width"
      [(ngModel)]="autoNightModeConfig"
      name="autoNightMode">
      Automatically change between Day and Night Modes based on sun phases preserving your night vision.
    </mat-checkbox>
    <mat-checkbox class="full-width"
      [(ngModel)]="enableHighContrast"
      name="enableHighContrast">
      Enable full sunlight High Contrast, black and white display.
    </mat-checkbox>
    <br/><br/>
    <h2>Notifications</h2>
    <p class="mat-card-subtitle">Notifications are a special type of data sent from Signal K and displayed in the
      notification menu. They are meant to alert or inform operators. Set server
      notification preferences such as types of messages to display and audio prompts.</p>
    <mat-slide-toggle
      name="disableNotifications"
      [(ngModel)]="notificationConfig.disableNotifications"
      color="primary">
        Disable Notifications
      </mat-slide-toggle>
    <br/><br/>
    <mat-accordion>
      <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Notification Filters
          </mat-panel-title>
          <mat-panel-description>
            Enable notification messages per severity level
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox
          name="showNormalState"
          [(ngModel)]="notificationConfig.devices.showNormalState">
          Show <b>Normal</b> state notifications
        </mat-checkbox>
      </mat-expansion-panel>
      <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Audio Prompts
          </mat-panel-title>
          <mat-panel-description>
            Disable alarm audio notification method per severity levels
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox
          name="=disableSound"
          [(ngModel)]="notificationConfig.sound.disableSound">
          Disable <b>All Audio</b> prompts
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteAlert"
          [(ngModel)]="notificationConfig.sound.muteAlert">
          Disable <b>Alert</b> severity
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteWarning"
          [(ngModel)]="notificationConfig.sound.muteWarning">
          Disable <b>Warning</b> severity
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteAlarm"
          [(ngModel)]="notificationConfig.sound.muteAlarm">
          Disable <b>Alarm</b> severity
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteEmergency"
          [(ngModel)]="notificationConfig.sound.muteEmergency">
          Disable <b>Emergency</b> severity
        </mat-checkbox>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="formActionFooter">
      <mat-divider class="formActionDivider"></mat-divider>
      <button mat-raised-button type="submit" color="accent" class="formActionButton" [disabled]="!generalForm.form.dirty">Save</button>
    </div>
  </form>
</div>
