<div class="mat-typography">
  <form (ngSubmit)="saveAllSettings()" #generalForm="ngForm" id="GeneraSetting">
    <h2>Display Modes</h2>
    <mat-checkbox class="full-width"
      [(ngModel)]="autoNightModeConfig"
      name="autoNightMode">
      Automatically change between Day and Night Modes based on sun phases preserving your night vision.
    </mat-checkbox>
    <mat-checkbox class="full-width"
      [(ngModel)]="enableHighContrast"
      name="enableHighContrast">
      Enable full sunlight High Contrast, black and white display.
    </mat-checkbox>
    <br/><br/>
    <h2>Notifications</h2>
    <p class="mat-card-subtitle">Notifications are integral to Signal K's data state messaging
      framework. They are designed to provide operators with important information, enabling
      them to take appropriate actions. In KIP, notifications are presented as Notifications menu items and
      accompanied by audio prompts for enhanced user interaction.</p>
    <mat-slide-toggle
      name="disableNotifications"
      [(ngModel)]="notificationConfig.disableNotifications"
      (change)="togglePanel($event)"
      color="primary">
        Disable Notifications
      </mat-slide-toggle>
    <br/><br/>
    <mat-accordion>
      <mat-expansion-panel #statePanel
        [disabled]="notificationConfig.disableNotifications">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Notifications Menu
          </mat-panel-title>
          <mat-panel-description>
            Show or hide menu items based on their state
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox
          name="showNormalState"
          [(ngModel)]="notificationConfig.devices.showNormalState">
          Show <b>Normal</b> state
        </mat-checkbox>
        <br/>
        <mat-checkbox
          name="showNominalState"
          [(ngModel)]="notificationConfig.devices.showNominalState">
          Show <b>Nominal</b> state
        </mat-checkbox>
      </mat-expansion-panel>
      <mat-expansion-panel #soundPanel
        [disabled]="notificationConfig.disableNotifications">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Audio Prompts
          </mat-panel-title>
          <mat-panel-description>
            Mute and unmute data state audio prompts
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox
          name="=disableSound"
          [(ngModel)]="notificationConfig.sound.disableSound">
          Mute <b>all Notifications</b>
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteAlert"
          [(ngModel)]="notificationConfig.sound.muteAlert"
          [disabled]="notificationConfig.sound.disableSound">
          Mute <b>all Alert</b> state
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteWarn"
          [(ngModel)]="notificationConfig.sound.muteWarn"
          [disabled]="notificationConfig.sound.disableSound">
          Mute <b>all Warn</b> state
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteAlarm"
          [(ngModel)]="notificationConfig.sound.muteAlarm"
          [disabled]="notificationConfig.sound.disableSound">
          Mute <b>all Alarm</b> state
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteEmergency"
          [(ngModel)]="notificationConfig.sound.muteEmergency"
          [disabled]="notificationConfig.sound.disableSound">
          Mute <b>all Emergency</b> state
        </mat-checkbox>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="formActionFooter">
      <mat-divider class="formActionDivider"></mat-divider>
      <button mat-raised-button type="submit" color="accent" class="formActionButton" [disabled]="!generalForm.form.dirty">Save</button>
    </div>
  </form>
</div>
