<div class="mat-typography">
  <form (ngSubmit)="saveAllSettings()" #generalForm="ngForm" id="GeneraSetting">
    <h2>Display Modes</h2>
    <mat-checkbox class="full-width"
      [(ngModel)]="autoNightModeConfig"
      name="autoNightMode">
      Automatically change between Day and Night Modes based on sun phases preserving your night vision.
    </mat-checkbox>
    <mat-checkbox class="full-width"
      [(ngModel)]="enableHighContrast"
      name="enableHighContrast">
      Enable full sunlight High Contrast, black and white display.
    </mat-checkbox>
    <br/><br/>
    <h2>Notifications</h2>
    <p class="mat-card-subtitle">Signal K data state notifications messages meant to
      inform operators. Notifications are visible in the notifications menu.</p>
    <mat-slide-toggle
      name="disableNotifications"
      [(ngModel)]="notificationConfig.disableNotifications"
      (change)="togglePanel($event)"
      color="primary">
        Disable Notifications
      </mat-slide-toggle>
    <br/><br/>
    <mat-accordion>
      <mat-expansion-panel #statePanel
        [disabled]="notificationConfig.disableNotifications">
        <mat-expansion-panel-header>
          <mat-panel-title>
            State
          </mat-panel-title>
          <mat-panel-description>
            Filter notification messages per severity levels
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox
          name="showNormalState"
          [(ngModel)]="notificationConfig.devices.showNormalState">
          Show <b>Normal</b> severity
        </mat-checkbox>
      </mat-expansion-panel>
      <mat-expansion-panel #soundPanel
        [disabled]="notificationConfig.disableNotifications">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sound
          </mat-panel-title>
          <mat-panel-description>
            Disable audio prompt per severity levels
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox
          name="=disableSound"
          [(ngModel)]="notificationConfig.sound.disableSound">
          Disable <b>All</b>
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteAlert"
          [(ngModel)]="notificationConfig.sound.muteAlert">
          Disable <b>Alert</b> severity
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteWarning"
          [(ngModel)]="notificationConfig.sound.muteWarning">
          Disable <b>Warning</b> severity
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteAlarm"
          [(ngModel)]="notificationConfig.sound.muteAlarm">
          Disable <b>Alarm</b> severity
        </mat-checkbox>
        <br/>
        <mat-checkbox
        name="muteEmergency"
          [(ngModel)]="notificationConfig.sound.muteEmergency">
          Disable <b>Emergency</b> severity
        </mat-checkbox>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="formActionFooter">
      <mat-divider class="formActionDivider"></mat-divider>
      <button mat-raised-button type="submit" color="accent" class="formActionButton" [disabled]="!generalForm.form.dirty">Save</button>
    </div>
  </form>
</div>
