# Manual project excludes
/src
/kip-plugin
.angular/
e2e/
svg-templates/
karma.conf.js
.angulardoc.json
.browserslistrc
angular.json
tsconfig.json
tslint.json
protractor.conf.js
COPILOT.md
eslint.config.js

# dependencies
/node_modules

# IDEs and editors
/.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.editorconfig

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
