<form (ngSubmit)="submitConfig()" [formGroup]="formUnitMaster">
  <mat-card>
    <mat-card-title>
      Application Default Units
    </mat-card-title>
    <mat-card-subtitle>
      Set the default units preferences per types of unit groups. The values will be automatically converted for display.
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field class="UnitSettings" *ngFor="let unitType of defaultUnits | keyvalue">
        <mat-select
          [placeholder] = "unitType.key"
          [formControlName] = "unitType.key"
          >
          <mat-option *ngFor="let unit of groupUnits[unitType.key]" [value]="unit.measure" >{{ unit.description }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-raised-button color="accent" type="submit" [disabled]="!formUnitMaster.valid">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
