<mat-card>
  <form (ngSubmit)="submitConfig()" [formGroup]="formUnitMaster">
    <mat-form-field class="UnitSettings" *ngFor="let unitType of defaultUnits | keyvalue">
      <mat-select
        [placeholder] = "unitType.key"
        [formControlName] = "unitType.key"
        >
        <mat-option *ngFor="let unit of groupUnits[unitType.key]" [value]="unit.measure" >{{ unit.description }}</mat-option>

      </mat-select>
    </mat-form-field>
    <br>
    <mat-dialog-actions>
      <button mat-raised-button color="accent" type="submit" [disabled]="!formUnitMaster.valid" >Save</button>
  </mat-dialog-actions>
  </form>
</mat-card>
