<h2 mat-dialog-title>Activate {{ derivationName }}:</h2>
<mat-dialog-content>
    <form name="derivationActivation" (ngSubmit)="activateDerivation()" #derivationActivation="ngForm">
        <mat-horizontal-stepper>
            <mat-step label="Source">
                <div class="tab-content">
                    <mat-form-field *ngFor="let path of requiredPaths" class="full-width">
                        <mat-select 
                            [placeholder]="path.path" 
                            [(ngModel)]="path.selectedSource" 
                            [name]="path.path">
                            <mat-option *ngFor="let source of path.availableSources" [value]="source">
                                {{source}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <button type="button" mat-raised-button color="accent" matStepperNext>Next</button>
            </mat-step>
            <mat-step label="Options">
                <div class="tab-content"> 
                    <mat-checkbox
                        [(ngModel)]="updateAny"
                        name="updateInt"
                        >
                        Update on Any Value
                    </mat-checkbox>
                </div>
                <button type="button" mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" type="submit">Save</button>                
            </mat-step>            
        </mat-horizontal-stepper>
    </form>
</mat-dialog-content>