.full-width {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  gap: 10px 10px;
  margin-top: 10px;
}

.zone-value-field {
  flex-grow: 1;
}
