<div class="mat-typography">
  <h1>Zones Configuration</h1>
    <p class="mat-card-subtitle">Zones are defined with the <b>Edit Zones plugin</b> from
      Signal K Server. They serve two primary functions: 1. Zones define data states per
      path. For instance, you can use zones to specify the voltage levels at which a
      battery enters a warning or critical state. Once configured in Signal K, these states
      can be listed and acted upon in KIP's Notifications menu, and can trigger an audio prompt.
      2. The range of each zone is used to visually indicate data states on KIP gauges
      (where supported). This is done by drawing the zones color on the gauge.</p>
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex: navigation" value="" #input>
    </mat-form-field>
    <div class="mat-elevation-z8 full-width table-container">


      <mat-table class="full-display" [dataSource]="tableData" [trackBy]="trackByUuid" matSort matSortActive="path" matSortDirection="asc">

         <!-- Path Column -->
        <ng-container matColumnDef="path">
          <mat-header-cell class="pathHeader" *matHeaderCellDef mat-sort-header>Path</mat-header-cell>
          <mat-cell class="pathCell" *matCellDef="let element" data-label="Path: "> {{element.path}} </mat-cell>
        </ng-container>

        <!-- state Column -->
        <ng-container matColumnDef="zone.state">
          <mat-header-cell class="dataHeader" *matHeaderCellDef mat-sort-header>State</mat-header-cell>
          <mat-cell class="dataCell" *matCellDef="let element" data-label="State: "> {{element.zone.state}} </mat-cell>
        </ng-container>

        <!-- lower Column -->
        <ng-container matColumnDef="zone.lower">
          <mat-header-cell class="dataHeader" *matHeaderCellDef mat-sort-header>Lower</mat-header-cell>
          <mat-cell class="dataCell" *matCellDef="let element" data-label="Lower: "> {{element.zone.lower}} </mat-cell>
        </ng-container>

        <!-- Upper Column -->
        <ng-container matColumnDef="zone.upper">
          <mat-header-cell class="dataHeader" *matHeaderCellDef mat-sort-header>Upper</mat-header-cell>
          <mat-cell class="dataCell" *matCellDef="let element" data-label="Upper: "> {{element.zone.upper}} </mat-cell>
        </ng-container>

        <!-- message Column -->
        <ng-container matColumnDef="zone.message">
          <mat-header-cell class="pathHeader" *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
          <mat-cell class="pathCell" *matCellDef="let element" data-label="Message: "> {{element.zone.message}} </mat-cell>
        </ng-container>

        <!-- Table header -->
        <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row class="dataRow" *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- Row shown when there is no matching data. Material bug here... -->
        <mat-row *matNoDataRow>
          No data matching the filter "{{input.value}}"
        </mat-row>
      </mat-table>
    </div>
    <div class="paginator">
      <mat-paginator pageSize="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
