.mainWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.settingsButton {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

 .chart-container {
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
}

.tab-group {
    border: 1px solid #e8e8e8;
}

.tab-content {
    padding: 16px;
}

.full-width {
    width: 100%;
}