<form name="widgetSettingsForm" (ngSubmit)="submitConfig()">
    <mat-dialog-content>
            
        <mat-horizontal-stepper>
            <mat-step label="Source">
                <div class="tab-content"> 
                    <p>
                        <mat-select 
                            [style.width]="'100%'" 
                            placeholder="Data Set" 
                            [(ngModel)]="settingsData.selectedDataSet" 
                            name="selectedDataSet"
                            required>
                            <mat-option *ngFor="let ds of availableDataSets" [value]="ds.uuid">
                                {{ds.name}}
                            </mat-option>
                        </mat-select>
                    </p>
                    <p>
                        <mat-checkbox
                            [(ngModel)]="settingsData.invertData"
                            name="invertData"
                            >
                            Invert Data (multiply by -1)
                        </mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox
                            [(ngModel)]="settingsData.displayMinMax"
                            name="displayMinMax"
                            >
                            Include Min/Max
                        </mat-checkbox>
                    </p>
                    <p>
                        <button type="button" mat-raised-button color="accent" matStepperNext [disabled]="!settingsData.selectedDataSet">Next</button>
                    </p>
                </div>
            </mat-step>
            <mat-step label="Display">
                <div class="tab-content"> 
                    <p>                    
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Widget Label" name="label" [(ngModel)]="settingsData.label">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-checkbox
                            [(ngModel)]="settingsData.animateGraph"
                            name="animateGraph"
                            >
                            Animate Updates
                        </mat-checkbox>                    
                    </p>
                    <p>
                        <button type="button" mat-raised-button matStepperPrevious>Back</button>
                        <button type="button" mat-raised-button color="accent" matStepperNext>Next</button>                    
                    </p>
                </div>
            </mat-step>
            <mat-step label="Units">
                <div class="tab-content"> 
                    <p>                    
                        <mat-select 
                            [style.width]="'100%'" 
                            placeholder="Unit Category" 
                            [(ngModel)]="settingsData.selectedUnitGroup" 
                            name="unitGroup"
                            (ngModelChange)="updateUnitType()"
                            >
                            <mat-option *ngFor="let group of availableUnitGroups" [value]="group">
                                {{group}}
                            </mat-option>
                        </mat-select>
                    </p>
                    <p>
                        <mat-select 
                            [style.width]="'100%'" 
                            placeholder="Unit" 
                            [(ngModel)]="settingsData.selectedUnitName" 
                            name="unitName"
                            >
                            <mat-option *ngFor="let unitName of availableUnitNames" [value]="unitName">
                                {{unitName}}
                            </mat-option>
                        </mat-select>
                    </p>
                    <p>
                        <button type="button" mat-raised-button matStepperPrevious>Back</button>
                        <button type="button" mat-raised-button color="accent" matStepperNext>Next</button>                    
                    </p>
                </div>
            </mat-step>
            <mat-step label="Graph">
                    <div class="tab-content"> 
                        <p>                    
                            <mat-form-field class="full-width">
                                <input matInput type="number" placeholder="Suggested Minimum (optional):" name="suggestedMin" [(ngModel)]="settingsData.suggestedMin">
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="full-width">
                                <input matInput type="number" placeholder="Suggested Maximum (optional)" name="suggestedMax" [(ngModel)]="settingsData.suggestedMax">
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-checkbox
                                [(ngModel)]="settingsData.includeZero"
                                name="includeZero"
                                >
                                Include Origin (aka 0)
                            </mat-checkbox>                    
                        </p>                        
                        <p>
                            <button type="button" mat-raised-button matStepperPrevious>Back</button>
                            <button mat-raised-button color="accent" type="submit">Save</button>
                        </p>
                    </div>
                </mat-step>
        </mat-horizontal-stepper>
    </mat-dialog-content>
</form>                    