<div class="mainWrapper">
    
  <div class="chart-container" >
      <canvas #lineGraph id="chart"></canvas>
  </div>









  <div class="settingsButton" [hidden]="!unlockStatus">
    <button type="button" class="btn btn-default btn-lg" (click)="openWidgetSettings(widgetSettings)">
        <span class="fa fa-cog"></span>
    </button>
  </div>

</div>
<ng-template #widgetSettings let-c="close" let-d="dismiss">
  <div class="modal-body">
    <form name="widgetSettingsForm" (ngSubmit)="saveSettings()" #widgetSettingsForm="ngForm">
      <ngb-tabset>
        <ngb-tab title="Source">
          <ng-template ngbTabContent>
            
            <div class="form-group">
              <label class="" for="path">DataSet:</label>
              <select class="form-control" id="path" name="path" [(ngModel)]="settingsForm.selectedDataSet" required>
                <option *ngFor="let ds of settingsForm.availableDataSets" [value]="ds.uuid">{{ds.name}}</option>
              </select>                
            </div>
            <div class="form-group">
                <label class="" for="invertData">
                    <input type="checkbox" id="invertData" name="invertData" [(ngModel)]="settingsForm.invertData"> Invert Data (multiply by -1)
                </label>       
            </div>
            <div class="form-group">
                <label class="" for="minMax">
                    <input type="checkbox" id="minMax" name="minMax" [(ngModel)]="settingsForm.displayMinMax"> Include Min/Max
                </label>       
            </div>            
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Units">
          <ng-template ngbTabContent>
              <div class="form-group">
                  <label class="" for="unitGroup">Unit Group:</label>
                  <select class="form-control" id="unitGroup" name="unitGroup" [(ngModel)]="settingsForm.selectedUnitGroup" (ngModelChange)="settingsFormUpdateUnitType()">
                      <option *ngFor="let group of settingsForm.availableUnitGroups" [value]="group">{{ group }}</option>
                  </select>  
              </div>
              <div class="form-group">
                  <label class="" for="unitName">Unit:</label>
                  <select class="form-control" id="unitName" name="unitName" [(ngModel)]="settingsForm.selectedUnitName">
                      <option *ngFor="let unitName of settingsForm.availableUnitNames" [value]="unitName">{{unitName}}</option>
                  </select>  
              </div>
          </ng-template>
        </ngb-tab>  

        <ngb-tab title="Display">
            <ng-template ngbTabContent>
              <div class="form-group">
                <label class="" for="label">Label:</label>
                <input class="form-control" type="text" id="label" name="label"  [(ngModel)]="settingsForm.label">                
              </div>
              <div class="form-group">
                  <label class="" for="decimals">Number of decimals:</label>
                  <input class="form-control" type="number" min="0" max="5" id="decimals" name="decimals"  [(ngModel)]="settingsForm.numDecimal">                
              </div>
              <div class="form-group">
                  <label class="" for="animateGraph">
                      <input type="checkbox" id="animateGraph" name="animateGraph" [(ngModel)]="settingsForm.animateGraph"> Animate Updates
                  </label>       
              </div> 

            </ng-template>
          </ngb-tab>

          <ngb-tab title="Graph Options">
            <ng-template ngbTabContent>
              <div class="form-group">
                <label class="" for="suggestedMin">Suggested Minimum:</label>
                <input class="form-control" type="number" id="suggestedMin" name="suggestedMin"  [(ngModel)]="settingsForm.suggestedMin">                
              </div>
              <div class="form-group">
                  <label class="" for="suggestedMax">Suggested Maximum:</label>
                  <input class="form-control" type="number" id="suggestedMax" name="suggestedMax"  [(ngModel)]="settingsForm.suggestedMax">                
              </div>
              <div class="form-group">
                  <label class="" for="includeZero">
                      <input type="checkbox" id="includeZero" name="includeZero" [(ngModel)]="settingsForm.includeZero"> Include Origin (aka 0)
                  </label>       
              </div> 

            </ng-template>
          </ngb-tab>

      </ngb-tabset>            
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-secondary" (click)="saveSettings()" [disabled]="!widgetSettingsForm.form.valid">Confirm</button>
  </div>
</ng-template>