.mainWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.settingsButton {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

.switchContainer {
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

/* Hide default HTML checkbox */
.switch input {display:none;}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 45%;
    left: 5%;
    bottom: 10%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(95%);
    -ms-transform: translateX(95%);
    transform: translateX(95%);
  }
  