<div class="full-display"  (window:resize)="onResize($event)">
  <mat-form-field class="filter-field">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: navigation" value="self." #input>
  </mat-form-field>


  <div class="mat-elevation-z8 full-width table-container">
    <mat-table class="full-display" [dataSource]="tableData" [trackBy]="trackByPath" matSort matSortActive="path" matSortDirection="asc">

      <!-- Path Column -->
      <ng-container matColumnDef="path">
        <mat-header-cell class="pathHeader" *matHeaderCellDef mat-sort-header> Path </mat-header-cell>
        <mat-cell class="pathCell" *matCellDef="let element"> {{element.path}} </mat-cell>
      </ng-container>

      <!-- Source/value Column -->
      <ng-container matColumnDef="defaultSource">
        <mat-header-cell class="dataHeader" *matHeaderCellDef mat-sort-header> Source / Value</mat-header-cell>
        <mat-cell class="dataCell" *matCellDef="let element">
          <div style="width: 100%;" *ngFor="let item of element.sources |keyvalue; trackBy: trackBySource">
            <data-browser-row class="flex-container" [path]="element.path" [source]="item.key" [pathValue]="item.value.value"></data-browser-row>
          </div>
        <!-- <table width="100%">
          <tr width="100%" *ngFor="let item of element.sources |keyvalue; trackBy: trackBySource">
            <data-browser-row width="100%" [path]="element.path" [source]="item.key" [pathValue]="item.value.value"></data-browser-row>
          </tr>
        </table> -->
        </mat-cell>
     </ng-container>

      <!-- Table headers -->
      <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row class="cellRow" *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </mat-table>
  </div>
  <div class="paginator">
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

