<div>
  <button mat-fab
    (click)="openNotificationMenu()"
    (keydown)="onKeyDown($event)"
    class="layout-action-btn"
    role="button"
    aria-label="Open notifications"
    [attr.aria-haspopup]="true"
    [class.warn]="notificationsInfo().isWarn"
    [class.alarm-emergency-blink]="notificationsInfo().isAlarmEmergency"
    #badgeButton>
    <mat-icon aria-hidden="false" class="icon-alert-color"
      [matBadgeHidden]="!notificationsInfo().alarmCount"
      [matBadge]="notificationsInfo().alarmCount"
      matBadgeSize="large"
      matBadgePosition="after"
      matBadgeOverlap="true">notifications
    </mat-icon>
  </button>
</div>
