.config-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.btn-div {
  align-self: center;
}

.config-operation-container {
  display: grid;
  grid-template-columns: [col-start] auto [col1-end] min-content [col2-end];
  grid-template-rows: [row-start] max-content [row1-end] max-content [row2-end];
  grid-template-areas:
    "demo-txt demo-btn"
    "reset-txt reset-btn"
    "config-txt config-btn";
  row-gap: 20px;
  column-gap: 10px;
}

.demo-txt {
  grid-area: demo-txt;
}

.demo-btn {
  grid-area: demo-btn;
}

.reset-txt {
  grid-area: reset-txt;
}

.reset-btn {
  grid-area: reset-btn;
}

.config-txt {
  grid-area: config-txt;
}

.config-btn {
  grid-area: config-btn;
}
