@use 'sass:map';
@use '@angular/material' as mat;

@mixin dialog-panel-styles($theme) {
  $foreground: map-get($theme, foreground);
  $app-defaults: map-get($theme, app-defaults);

  // Custom mat-dialog style class defined in app.modules.ts MAT_DIALOG_DEFAULT_OPTIONS
  // provider as global Dialog settings
  .mat-mdc-dialog-panel mat-dialog-container > div > div.mat-mdc-dialog-surface {
    background-color: mat.m2-get-color-from-palette($app-defaults, app-background);
  }

  .rounded-card {
    margin-top: 10px;
    background-color: mat.m2-get-color-from-palette($foreground, dividers);
    border-radius: 4px;
    padding: 10px;
  }
}

// Custom mat-dialog style class defined in app.modules.ts MAT_DIALOG_DEFAULT_OPTIONS
// provider as global Dialog settings
.mat-dialog-backdrop {
  background-color:rgba(0, 0, 0, 0.6);
}
