@use 'sass:map';
@use '@angular/material' as mat;

@mixin dialog-panel-styles($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Custom mat-dialog style class defined in app.modules.ts MAT_DIALOG_DEFAULT_OPTIONS
  // provider as global Dialog settings
  .mat-dialog-panel mat-dialog-container {
    background-color: mat.get-color-from-palette($background, background);
  }

  .rounded-card {
    margin-top: 10px;
    background-color: mat.get-color-from-palette($foreground, dividers);
    border-radius: 4px;
    padding: 10px;
  }
}

// Custom mat-dialog style class defined in app.modules.ts MAT_DIALOG_DEFAULT_OPTIONS
// provider as global Dialog settings
.mat-dialog-backdrop {
  background-color:rgba(0, 0, 0, 0.6);
}
