<div>
  <mat-form-field class="filter" appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select #widgetCategory
      name="widgetFilter"
      value="Basic"
      required>
      @for (category of widget.categories; track category) {
        <mat-option [value]="category" selected>{{category}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="saveLayout()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-action-list class="widget-list">
  @for (widget of widget.kipWidgets; track widget) {
    @if (widgetCategory.value === widget.category) {
      <button mat-list-item (click)="newWidget(widget.selector)">
        <mat-icon matListItemIcon>{{widget.icon}}</mat-icon>
        <span matListItemTitle>{{widget.name}}</span>
        <span matListItemLine>{{widget.description}}</span>
      </button>
    }
  }
</mat-action-list>
