<mat-list>
  <!-- @for (message of messages; track message) { -->
    <mat-list-item class="sidebar grid-stack-item">
      <mat-icon matListItemIcon>folder</mat-icon>
      <h3 matListItemTitle>Numeric</h3>
      <p matListItemLine>
        <span>Subject</span>
        <span class="demo-2"> -- message.content</span>
      </p>
    </mat-list-item>
  <!-- } -->
</mat-list>

<div class="sidebar grid-stack-item">
  <div class="grid-stack-item-content" style="padding: 5px;">
      <p>Drag me in the dashboard!</p>
  </div>
</div>
