<div class="editor-top-container">
  <mat-form-field class="filter" appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select #widgetCategory
      name="widgetFilter"
      value="Basic"
      (selectionChange)="widgetCategoryChange(widgetCategory.value)"
      required>
      @for (category of widget.categories; track category) {
        <mat-option [value]="category">{{category}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div class="editor-item-container">
  @for (widgetType of widgets; track widgetType.selector) {
    <tile-widget-drag class="newWidget grid-stack-item" tabindex="0" [svgIcon]="widgetType.icon" [iconSize]="48" [label]="widgetType.name" />
  }
</div>
<div class="editor-bottom-container">
  <button mat-flat-button class="action-button" (click)="saveLayout()">
    <span class="material-icons">exit_to_app</span>
  </button>
</div>
