:host {
  width: 175px;
  height: 100%;
}

.filter {
  width: 135px;
}

.widget-list {
  height: calc(100% - 72px);
  overflow: auto;
}

.grid-stack-item {
  width: 100px;
  height: 30px;
  border: 2px dashed green;
  text-align: center;
  line-height: 35px;
  background: rgba(0, 255, 0, 0.1);
  cursor: grab;
  display: block;
}
