@use '~@angular/material' as mat;

@mixin theme-settings-data($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

}

.full-display {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 500;
}

.full-width {
  width: 100%;
}

.mat-column-actions {
  text-align: end;
}

.buttons {
  margin-right: 5px;
}

.pathCell {
  flex: 1 1 50%;
}

.pathHeader {
  flex: 1 1 50%;
}

.dataHeader {
  flex: 1 1 10%;
  justify-content: center;
}

.dataCell {
  flex: 1 1 10%;
  justify-content: center;
}

.actionHeader {
  flex: 1 1 20%;
}

.actionCell {
  flex: 1 1 20%;
  justify-content: end;
}

@media screen and (max-width: 750px) {
  .pathHeader {
    flex: 1 1 30%;
  }

  .dataHeader {
    flex: 1 1 30%;
  }

  .actionHeader {
    display: none;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    padding-right: 5px;
  }

  mat-row::after {
    min-height: auto;
    padding-bottom: 10px;
  }

  .dataRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .dataCell {
    margin-left: 24px;
  }

  .actionCell {
    margin-left: 24px;
  }

}
