.dynamicWidgetContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.mat-card {
  display: block;
  position: absolute !important;
  width: calc(100% - 4px);
  height: calc(100% - 5px);
  margin: 3px auto auto 2px;
  padding: 0px;
  transition: none;
  transition-property: none;
}

.selectWidgetMenu {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.settingsButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

.mat-select-trigger {
    min-width: 30px !important;
}

.full-width {
    width: 100%;
}
