<mat-card kipGestures mode="press" appearance="raised" class="widget-container kip-widget-card-colors" [style.border]="dashboard.isDashboardStatic() ? '1px dashed transparent' : '1px dashed var(--mat-sys-outline)'"
  twoFingerTap
  [twoFingerTapEnabled]="dashboard.isDashboardStatic()"
  (twoFingerTap)="onHistoryTwoFingerTap($event)"
  (doubletap)="openWidgetOptions($event)"
  (press)="openBottomSheet($event)"
  (contextmenu)="openWidgetHistoryDialog($event)">
  <ng-container #childOutlet></ng-container>
</mat-card>
