:root {
  font-family: Roboto;
}

.starboard  {
  stroke: var(--kip-starboard-color);
}

.port {
  stroke: var(--kip-port-color);
}

.contrast-text {
  fill: var(--kip-contrast-color);
  stroke: var(--kip-contrast-color);
}

.contrast-text-dim {
  fill: var(--kip-contrast-dim-color);
  stroke: var(--kip-contrast-dim-color);
}

.appWA-text {
  fill: var(--kip-orange-color);
  stroke: var(--kip-orange-color);
}

.appWA-text-dim {
  fill: var(--kip-orange-dim-color);
  stroke: var(--kip-orange-dim-color);
}

.card-color {
  fill: var(--kip-widget-card-background-color);
}

.fixed-dial-background {
  fill: var(--kip-grey-color);
}
