.connectionLostOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  pointer-events: none;
}
.connectionLostText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-weight: bold;
  color: rgb(250, 3, 3);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}