<div class="dialogue-header">
  <h5 mat-dialog-title>{{data.title}}</h5>
  <button mat-icon-button class="dialog-close-icon" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  {{data.message}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="false">{{data.cancelBtnText}}</button>
  @if (data.confirmBtnText) {
    <button mat-flat-button [mat-dialog-close]="true">{{data.confirmBtnText}}</button>
  }
</mat-dialog-actions>
