<form (ngSubmit)="saveAllSettings()" #displayForm="ngForm" id="displaySetting">
  <mat-checkbox class="full-width"
    [(ngModel)]="autoNightModeConfig"
    name="autoNightMode">
    Automatically change between Day and Night Modes based on sun phases preserving your night vision.
  </mat-checkbox>
  <mat-checkbox class="full-width"
    [(ngModel)]="enableHighContrast"
    name="enableHighContrast">
    Enable full sunlight High Contrast, black and white display.
  </mat-checkbox>
  <br/><br/>
  <p>Night Mode Brightness</p>
  <mat-slider min="0" max="1" step="0.01" discrete>
    <input #inputBrightness matSliderThumb
    [value]="brightness"
    (input)="setBrightness(+inputBrightness.value)">
  </mat-slider>
  <div class="formActionFooter">
    <mat-divider class="formActionDivider"></mat-divider>
    <button mat-flat-button type="submit" class="formActionButton" [disabled]="!displayForm.form.dirty">Save</button>
  </div>
</form>
