<form (ngSubmit)="saveAllSettings()" #displayForm="ngForm" id="displaySetting">
  <mat-checkbox class="full-width" (change)="isAutoNightModeSupported($event)"
    [(ngModel)]="autoNightMode"
    name="autoNightMode">
    Automatically activate Day and Night Modes based on sun phases.
  </mat-checkbox>
  <div style="padding-left: 10px;">
    <br/>
    <label class="mat-body-medium">Night Mode Brightness</label>
    <br/>
    <mat-slider min="0" max="1" step="0.01" discrete>
      <input #inputBrightness matSliderThumb
      [value]="nightBrightness"
      (input)="setBrightness(+inputBrightness.value)">
    </mat-slider>
  </div>
  <div class="formActionFooter">
    <mat-divider class="formActionDivider"></mat-divider>
    <button mat-flat-button type="submit" class="formActionButton" [disabled]="!displayForm.form.dirty">Save</button>
  </div>
</form>
