<form (ngSubmit)="saveAllSettings()" #displayForm="ngForm" id="displaySetting">
  <p>Customize your display settings to improve visibility and adapt to various
    lighting conditions.</p>

     <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Night Mode
          </mat-panel-title>
          @if (!isPhonePortrait().matches) {
            <mat-panel-description [hidden]="isPhonePortrait().matches">
              Adjust night mode settings to enhance visibility in low-light environments.
            </mat-panel-description>
          }
        </mat-expansion-panel-header>
        <mat-checkbox class="full-width"
          (change)="isAutoNightModeSupported($event)"
          name="autoNightMode"
          [(ngModel)]="autoNightMode">
          Automatically activate day and night modes based on sun phases.
        </mat-checkbox>
        <mat-checkbox class="full-width"
        [(ngModel)]="isRedNightMode"
        name="redNightMode">
          Enable red-only night mode.
        </mat-checkbox>
        <div style="padding-left: 10px;">
          <br/>
          <span class="mat-body-medium">Adjust Night Mode Brightness</span>
          <br/>
          <mat-slider min="0" max="1" step="0.01" discrete>
            <input #inputBrightness matSliderThumb
            [value]="nightBrightness()"
            (input)="setBrightness(+inputBrightness.value)"
            [disabled]="isRedNightMode()">
          </mat-slider>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Theme
          </mat-panel-title>
          @if (!isPhonePortrait().matches) {
            <mat-panel-description>
              Choose your preferred high-contrast theme.
            </mat-panel-description>
          }
        </mat-expansion-panel-header>
        <mat-checkbox class="full-width"
          [(ngModel)]="isLightTheme"
          name="isLightTheme">
            Enable light theme for brighter display settings.
        </mat-checkbox>
      </mat-expansion-panel>
    </mat-accordion>
  <div class="formActionFooter">
    <mat-divider class="formActionDivider"></mat-divider>
    <button mat-flat-button type="submit" class="formActionButton" [disabled]="!displayForm.form.dirty">Save</button>
  </div>
</form>
