:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.canvas {
  display: block;
  z-index: inherit;
  border-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
}
