.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: inherit;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mat-app-corner-medium));
}
