.wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: inherit;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
}
