<form name="userCredentialForm" (ngSubmit)="submitForm()" #userCredentialForm="ngForm">
    <mat-form-field class="userLoginInput">
      <input type=text matInput placeholder="User ID" name="userName" [(ngModel)]="connectionConfig.loginName" [ngModelOptions]="{standalone: false}" required>
      <mat-error>
        You must enter a User ID value
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="userLoginInput">
      <input type=password matInput placeholder="Password" name="userPassword" [(ngModel)]="connectionConfig.loginPassword" [ngModelOptions]="{standalone: false}" required>
      <mat-error>
        You must enter a password value
      </mat-error>
    </mat-form-field>
    <br/><br/><br/>
      <button type="button" mat-dialog-close mat-raised-button>Cancel</button>
      <button mat-raised-button color="accent" type="submit" [disabled]="!userCredentialForm.valid">Ok</button>
</form>
