<div class="wrapper">
        <app-svg-wind
            [compassHeading]="currentHeading"
            [trueWindAngle]="trueWindAngle"
            [trueWindSpeed]="trueWindSpeed"
            [appWindAngle]="appWindAngle"
            [appWindSpeed]="appWindSpeed"
            [laylinePortAngle]=""
            [laylineStbAngle]=""
            [windSectorPortStart]=""
            [windSectorPortEnd]=""
            [windSectorStbStart]=""
            [windSectorStbEnd]=""
        ></app-svg-wind>
        <div class="settingsButton" *ngIf="unlockStatus">
            <button  color="accent" md-mini-fab class="selector-fab" (click)="openWidgetSettings()">
                <span class="fa fa-cog"></span>
            </button>
        </div>
</div>
