<div class="wrapper">
        <app-svg-wind
            [compassHeading]="currentHeading"
            [trueWindAngle]="trueWindAngle"
            [trueWindSpeed]="trueWindSpeed"
            [appWindAngle]="appWindAngle"
            [appWindSpeed]="appWindSpeed"
            [laylineAngle]="config.laylineAngle"
            [laylineEnable]="config.laylineEnable"
            [windSectorEnable]="config.windSectorEnable"
            [trueWindMinHistoric]="trueWindMinHistoric"
            [trueWindMidHistoric]="trueWindMidHistoric"
            [trueWindMaxHistoric]="trueWindMaxHistoric"
        ></app-svg-wind>
        <div class="settingsButton" *ngIf="unlockStatus">
            <button  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
                <span class="fa-solid fa-cog"></span>
            </button>
        </div>
</div>
