@keyframes AlarmBlinkFill {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0.60; }
}

.alarm-blink-fill {
  animation: AlarmBlinkFill 1000ms step-end infinite;
}

@keyframes EmergencyBlinkFill {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0.10; }
}

.emergency-blink-fill {
  animation: EmergencyBlinkFill 300ms step-end infinite;
}
