

.flexBox {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.settingsButton {
    position: absolute;
    right: 50%;
    top: 10%;
    display: block;
    height: 40px;
    width: 40px;
}