

.flexBox {
    border-style: outset;
    border-color: darkred;
}
.flexBox2 {
    flex-grow: 1;

    background-color: green;
}

.settingsButton {
    position: absolute;
    right: 50%;
    top: 10%;
    display: block;
    height: 40px;
    width: 40px;
}