<div class="flexContainer flexCol">
  <div *ngIf="unlockStatus" class="unitMenu" (click)="openWidgetSettings(widgetSettings)">
    <span class="verticalCenter fa fa-cog"></span>
  </div>

  <div class="flexContainer" [ngStyle]="{ 'flex-direction': activePage.nodeData.orientation }">
    <div class="flexBox" *ngFor="let child of activePage.nodeData.children" [ngStyle]="{ 'flex': child.ratio, 'order': child.order }">
      <app-unit-window 
                [unlockStatus]="unlockStatus" 
                [nodeUUID]="child.uuid"
                ></app-unit-window>
    </div>
  </div>
  
</div>



<ng-template #widgetSettings let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Split Settings:</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <label for="widget">Direction</label>
        <select class="form-control" id="widget"  [(ngModel)]="settingsForm.newOrientation" required>
            <option value="row">Vertical</option>
            <option value="column">Horizontal</option>            
        </select>
    </div>
    <div class="form-group" *ngFor="let child of activePage.nodeData.children">
        {{child.ratio}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-secondary" (click)="saveSettings()">Confirm</button>
  </div>
</ng-template>
