<div style="margin: 0px; padding: 0px; width: 100%; height: 100%;">
  <div class="wrapper">

    <div class="square">
      <div #lighDiv class="light"
        [style.background]="state ? lightColorOn : lightColorOff"
      ></div>
    </div>
    <canvas #btnLabelCanvas class="label"></canvas>
    <div
      #btnDiv
      class="button"
      [style.color]="state ? buttonBorberColorOn : buttonBorberColorOff"
      [style.background-color]="buttonColorOn"
      (mousedown)="handleClickDown()"
      (mouseup)="handleClickUp()"
      (mouseout)="handleClickUp()"
    >
    </div>


    <div class="settingsButton" *ngIf="unlockStatus">
      <button
        color="accent"
        mat-mini-fab
        class="selector-fab"
        (click)="openWidgetSettings()"
      >
        <span class="fa-solid fa-cog"></span>
      </button>
    </div>
    <div #primary class="primary" style="display: none"></div>
    <div #accent class="accent" style="display: none"></div>
    <div #warn class="warn" style="display: none"></div>
    <div #primaryDark class="primaryDark" style="display: none"></div>
    <div #accentDark class="accentDark" style="display: none"></div>
    <div #warnDark class="warnDark" style="display: none"></div>
    <div #background class="background" style="display: none"></div>
    <div #text class="text" style="display: none"></div>
  </div>
</div>
