<mat-tab-group class="settingsWindow">
  <mat-tab label="Signal K">
      <settings-signalk class="settingsPanels"></settings-signalk>
  </mat-tab>
  <mat-tab label="Historical Data">
      <settings-datasets class="settingsPanels"></settings-datasets>
  </mat-tab>
  <mat-tab label="Units">
      <settings-units class="settingsPanels"></settings-units>
  </mat-tab>
  <mat-tab label="Zones">
    <settings-zones class="settingsPanels"></settings-zones>
  </mat-tab>
  <mat-tab label="Notifications">
      <settings-notifications class="settingsPanels"></settings-notifications>
  </mat-tab>
  <mat-tab label="Configurations">
      <settings-config class="settingsPanels"></settings-config>
  </mat-tab>
</mat-tab-group>
