<mat-tab-group class="tabGroups">
  <mat-tab label="Signal K">
      <settings-signalk class="tabGroupPanel"></settings-signalk>
  </mat-tab>
  <mat-tab label="Historical Data">
      <settings-datasets class="tabGroupPanel"></settings-datasets>
  </mat-tab>
  <mat-tab label="Units">
      <settings-units class="tabGroupPanel"></settings-units>
  </mat-tab>
  <mat-tab label="Zones">
    <settings-zones class="tabGroupPanel"></settings-zones>
  </mat-tab>
  <mat-tab label="Notifications">
      <settings-notifications class="tabGroupPanel"></settings-notifications>
  </mat-tab>
  <mat-tab label="Configurations">
      <settings-config class="tabGroupPanel"></settings-config>
  </mat-tab>
</mat-tab-group>
