.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.timeout-checkbox {
  flex-grow: 1;
  padding-bottom: 23px;
}

.timeout-field {
  flex-grow: 5;
}

.fields {
  width: 100%;
}

.warning {
  color: red;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 49%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.minField {
  display: inline-block;
  width: calc(50% - 15px);
  padding-right: 30px;
}

.maxField {
  display: inline-block;
  width: calc(50% - 15px);
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.radio-button {
  margin-left: 16px;
}

.tab-content {
  margin-top: 20px;
}
