<div class="wrapper" #wrapperDiv>
  <gauge-steel
    [widgetUUID]="widgetUUID"
    [gaugeType]="widgetConfig.gaugeType"
    [barGauge]="widgetConfig.barGraph"

    [radialSize]="widgetConfig.radialSize"
  
    backgroundColor="carbon"
    frameColor="anthracite"

    [minValue]="widgetConfig.minValue"
    [maxValue]="widgetConfig.maxValue"

    [zones]=""
    [title]="widgetConfig.label"
    [units]="widgetConfig.unitName"
    [value]="dataValue"

  ></gauge-steel>


  <div class="settingsButton" *ngIf="unlockStatus">
      <button  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
          <span class="fa fa-cog"></span>
      </button>
  </div>

</div>