@let dashboardEdit = (dashboardEdit$ | async);
<mat-action-list>
  <button mat-list-item routerLink="/help">
    <mat-icon matListItemIcon>help_outline</mat-icon>
    <span>Help</span>
  </button>
  <button mat-list-item (click)="OpenSettingsDialog()">
    <mat-icon matListItemIcon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-list-item routerLink="/data">
    <mat-icon matListItemIcon>troubleshoot</mat-icon>
    <span>Data Browser</span>
  </button>
  @if (!dashboardEdit) {
    <button mat-list-item (click)="unlockPage(true)">
      <mat-icon matListItemIcon>dashboard_customize</mat-icon>
      <span>Edit Layout</span>
    </button>
  } @else {
    <button mat-list-item (click)="unlockPage(false)">
      <mat-icon matListItemIcon>exit_to_app</mat-icon>
      <span>Save Layout</span>
    </button>
  }
  <button mat-list-item [disabled]="!dashboardEdit" (click)="newPage()">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span>Dashboards</span>
  </button>
  @if (!isNightMode) {
    <button mat-list-item (click)="setNightMode(isNightMode ? false : true)">
      <mat-icon matListItemIcon>mode_night</mat-icon>
      <span>Night Mode</span>
    </button>
  } @else {
    <button mat-list-item (click)="setNightMode(isNightMode ? false : true)">
      <mat-icon matListItemIcon>light_mode</mat-icon>
      <span>Day Mode</span>
    </button>
  }
  @if (!fullscreenStatus) {
    <button mat-list-item (click)="toggleFullScreen()">
      <mat-icon matListItemIcon>fullscreen</mat-icon>
      <span>Full Screen</span>
    </button>
  } @else {
    <button mat-list-item (click)="toggleFullScreen()">
      <mat-icon matListItemIcon>close_fullscreen</mat-icon>
      <span>Exit Full Screen</span>
    </button>
  }
</mat-action-list>
