<div class="gaugeWrapper" #gaugeWrapperDiv>
  <gauge-steel
    [widgetUUID]="widgetProperties.uuid"
    [gaugeType]="widgetProperties.config.gaugeType"
    [barGauge]="widgetProperties.config.barGraph"

    [radialSize]="widgetProperties.config.radialSize"

    [backgroundColor]="widgetProperties.config.backgroundColor"
    [frameColor]="widgetProperties.config.frameColor"

    [minValue]="widgetProperties.config.minValue"
    [maxValue]="widgetProperties.config.maxValue"

    [zones]=""
    [title]="widgetProperties.config.displayName"
    [units]="widgetProperties.config.paths['gaugePath'].convertUnitTo"
    [value]="dataValue"
  ></gauge-steel>
</div>
