:host {
  display: block;
  width: 100%;
}

.actions-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--kip-widget-card-background-color);
  width: 100%;
}

.actions-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.actions-buttons {
  height: 123px;
  width: 135px;
}

.activity-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.activity-graph-container {
  height: 100px;
  width: 230px;
  padding: 23px 10px 0px 15px;
}

.activity-graph {
  border: 1px solid var(--mat-sys-outline-variant);
  background-color: var(--mat-sys-background);
}

.info-container {
  height: 123px;
  align-content: center;
  font-size: 11px;
}

.dialog-close-icon {
  width: 48px;
  height: 48px;
  margin: 15px;
}

.mat-mdc-dialog-content {
  max-height: max-content;
}

.dialog-content-padding {
  --mat-dialog-content-padding: 0px 24px 20px 24px;
}
