<form name="widgetSettingsForm" (ngSubmit)="submitConfig()">
        
    <md-dialog-content>

        <md-horizontal-stepper>
            <md-step label="Source">
                <div class="tab-content"> 
                    <md-select 
                        [style.width]="'100%'" 
                        placeholder="SignalK Path" 
                        [(ngModel)]="settingsData.selectedPath" 
                        name="selectedPath"
                            (ngModelChange)="settingsDataUpdatePath()"
                        required>
                        <md-option *ngFor="let path of (availablePaths | filterSelf: selfPaths)" [value]="path">
                            {{path}}
                        </md-option>
                    </md-select>
                    <md-checkbox
                        [(ngModel)]="selfPaths"
                        [align]="align"
                        name="selfPaths"
                        >
                        Restric to own vessel
                    </md-checkbox>
                    <md-select 
                        [style.width]="'100%'" 
                        placeholder="Source" 
                        [(ngModel)]="settingsData.selectedSource" 
                        name="selectedSource">
                        <md-option *ngFor="let source of availableSources" [value]="source">
                            {{source}}
                        </md-option>
                    </md-select>
                </div>
                <button type="button" md-raised-button color="accent" mdStepperNext [disabled]="!settingsData.selectedPath">Next</button>
            </md-step>
            <md-step label="Display">
                <div class="tab-content"> 
                    <md-form-field class="full-width">
                        <input mdInput placeholder="Widget Label" name="label" [(ngModel)]="settingsData.label">
                    </md-form-field>
                    
                    <button type="button" md-raised-button mdStepperPrevious>Back</button>
                    <button md-raised-button color="accent" type="submit">Save</button>
                </div>
            </md-step>

        </md-horizontal-stepper>
    </md-dialog-content>
</form>                    