<div class="textGenericWrapper">
  <div class="textGenericLabel">
         Speed
  </div>
  <div #resizeContainer class="textGenericValue">
    <h1 [fit-text] [container]="resizeContainer" [compression]="0.4" style="font-weight: bold;">
    {{ dataValue }}
    </h1>
  </div>
  <div class="textGenericUnit">
    Knots
  </div>
  <div class="settingsButton" [hidden]="!unlockStatus">
    <button type="button" class="btn btn-default btn-lg" (click)="openWidgetSettings(widgetSettings)">
        <span class="fa fa-cog"></span>
    </button>
  </div>
</div>
<ng-template #widgetSettings let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Settings:</h4>
    </div>
    <div class="modal-body">

      <ngb-tabset>
        <ngb-tab title="Data Source">
          <ng-template ngbTabContent>
              <form name="widgetSettingsForm" (ngSubmit)="saveSettings()" #signalKForm="ngForm">

                <div class="checkbox">
                  <label class="" for="selfPaths">
                    <input type="checkbox" id="selfPaths" name="selfPaths" [(ngModel)]="settingsForm.selfPaths"> Restric to own vessel
                  </label>
                  
                </div>


                <div class="form-group">
                  <label class="" for="path">SignalK Path:</label>
                    <select class="form-control" id="power" required>
                      <option *ngFor="let path of settingsForm.numberPaths" *ngIf="if (settingsForm.SelfPaths) { if (path.includes('self') {return true;} else { return false; } } else {return true; }" [value]="path">{{path}}</option>
                    </select>                
                  </div>


              </form>
                                {{settingsForm.selfPaths}}

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Units">
          <ng-template ngbTabContent>
            bbb
          </ng-template>
        </ngb-tab>  
      </ngb-tabset>            

      



    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
      <button type="button" class="btn btn-secondary" (click)="saveSettings()">Confirm</button>
    </div>
  </ng-template>