<form (ngSubmit)="submitConfig()" [formGroup]="unitsFormGroup" style="height: 100%;">
  <p>Configure your preferred default unit types. These defaults can be overridden
    within individual widget settings.</p>
  <div class="unit-grid">
    @for(control of unitsFormGroup.controls | keyvalue; track control.key) {
      <mat-form-field>
        <mat-label>{{control.key}}</mat-label>
        <mat-select
          [placeholder] = "control.key"
          [formControlName] = "control.key"
          required>
          @for(unit of groupUnits[control.key]; track unit.measure) {
            <mat-option [value]="unit.measure" >{{ unit.description }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
  <div class="formActionFooter">
    <mat-divider class="formActionDivider"></mat-divider>
    <button mat-flat-button class="formActionButton" type="submit" [disabled]="!unitsFormGroup.valid">Save</button>
  </div>
</form>
