<form name="widgetSettingsForm" (ngSubmit)="submitConfig()">

    <md-dialog-content>

        <md-horizontal-stepper>
            <md-step label="">
                <div class="tab-content"> 
                    <md-select 
                        [style.width]="'100%'" 
                        placeholder="SignalK Path" 
                        [(ngModel)]="settingsData.selectedPath" 
                        name="selectedPath"
                         (ngModelChange)="settingsDataUpdatePath()"
                        >
                        <md-option *ngFor="let path of (availablePaths | filterSelf: selfPaths)" [value]="path">
                            {{path}}
                        </md-option>
                    </md-select>
                    <md-checkbox
                        [(ngModel)]="selfPaths"
                        [align]="align"
                        name="selfPaths"
                        >
                        Restric to own vessel
                    </md-checkbox>
                    <md-select 
                        [style.width]="'100%'" 
                        placeholder="Source" 
                        [(ngModel)]="settingsData.selectedSource" 
                        name="selectedSource">
                        <md-option *ngFor="let source of availableSources" [value]="source">
                            {{source}}
                        </md-option>
                    </md-select>
                </div>
                <button md-raised-button color="accent" mdStepperNext [disabled]="!settingsData.selectedPath">Next</button>
            </md-step>
            <md-step label="Units">
                <div class="tab-content"> 
                    <md-select 
                        [style.width]="'100%'" 
                        placeholder="Unit Category" 
                        [(ngModel)]="settingsData.selectedUnitGroup" 
                        name="unitGroup"
                         (ngModelChange)="updateUnitType()"
                        >
                        <md-option *ngFor="let group of availableUnitGroups" [value]="group">
                            {{group}}
                        </md-option>
                    </md-select>
                    <md-select 
                        [style.width]="'100%'" 
                        placeholder="Unit Category" 
                        [(ngModel)]="settingsData.selectedUnitName" 
                        name="unitName"
                        >
                        <md-option *ngFor="let unitName of availableUnitNames" [value]="unitName">
                            {{unitName}}
                        </md-option>
                    </md-select>
                    <button md-raised-button mdStepperPrevious>Back</button>
                    <button md-raised-button color="accent" mdStepperNext>Next</button>
                </div>
            </md-step>
            <md-step label="Display">
            </md-step>

<!--

  
            <ngb-tab title="Units">
              <ng-template ngbTabContent>
                  <div class="form-group">
                      <label class="" for="unitGroup">Unit Group:</label>
                      <select class="form-control" id="unitGroup" name="unitGroup" [(ngModel)]="settingsForm.selectedUnitGroup" (ngModelChange)="settingsFormUpdateUnitType()">
                          <option *ngFor="let group of settingsForm.availableUnitGroups" [value]="group">{{ group }}</option>
                      </select>  
                  </div>
                  <div class="form-group">
                      <label class="" for="unitName">Unit:</label>
                      <select class="form-control" id="unitName" name="unitName" [(ngModel)]="settingsForm.selectedUnitName">
                          <option *ngFor="let unitName of settingsForm.availableUnitNames" [value]="unitName">{{unitName}}</option>
                      </select>  
                  </div>
              </ng-template>
            </ngb-tab>  
  
            <ngb-tab title="Display">
                <ng-template ngbTabContent>
                  <div class="form-group">
                    <label class="" for="label">Label:</label>
                    <input class="form-control" type="text" id="label" name="label"  [(ngModel)]="settingsForm.label">                
                  </div>
                  <div class="form-group">
                      <label class="" for="decimals">Number of decimals:</label>
                      <input class="form-control" type="number" min="0" max="5" id="decimals" name="decimals"  [(ngModel)]="settingsForm.numDecimal">                
                  </div>
                </ng-template>
              </ngb-tab>
  
  
          </ngb-tabset>            
        </form>
   
        
  
  
     </div>

     -->
        </md-horizontal-stepper>
    </md-dialog-content>
</form>