<div #wrapperDiv class="textGenericWrapper">
  <canvas id="canvasValue" class="canvas-size" #canvasEl></canvas>
  <canvas id="cancasBG" class="canvas-size numeric-labels" #canvasBG></canvas>

  <div #warn class='warn' style="display: none;"></div>
  <div #warncontrast class='warn-contrast' style="display: none;"></div>

  <div class="settingsButton" *ngIf="unlockStatus">
    <button  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
        <span class="fa-solid fa-cog"></span>
    </button>
  </div>
</div>
