@use '~@angular/material' as mat;

@mixin widget-numeric-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $wind: map-get($theme, wind);

  .warn {
    color: mat.get-color-from-palette($warn, 500);
  }

  .warn-contrast {
    color: mat.get-contrast-color-from-palette($warn, 500);
  }

}

canvas.numeric-labels {
}

.textGenericWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.canvas-size {
    position: absolute;
    top: 0;
    left: 0;
}

.settingsButton {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

.tab-group {
    border: 1px solid #e8e8e8;
}

.tab-content {
    padding: 16px;
}

.full-width {
    width: 100%;
}
