<form name="widgetSettingsForm" (ngSubmit)="submitConfig()">

    <mat-dialog-content>

        <mat-horizontal-stepper>
            <mat-step label="Source">
                <div class="tab-content"> 
                    <mat-form-field class="full-width">
                        <mat-select 
                            placeholder="SignalK Path" 
                            [(ngModel)]="settingsData.signalKPath" 
                            name="signalKPath"
                             (ngModelChange)="settingsDataUpdatePath()"
                            required>
                            <mat-option *ngFor="let path of (availablePaths | filterSelf: selfPaths)" [value]="path">
                                {{path}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox
                        [(ngModel)]="selfPaths"
                        name="selfPaths"
                        >
                        Restric to own vessel
                    </mat-checkbox>
                    <mat-form-field class="full-width">
                        <mat-select 
                            placeholder="Source" 
                            [(ngModel)]="settingsData.signalKSource" 
                            name="signalKSource">
                            <mat-option *ngFor="let source of availableSources" [value]="source">
                                {{source}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button type="button" mat-raised-button color="accent" matStepperNext [disabled]="!settingsData.signalKPath">Next</button>
                </div>
            </mat-step>
            <mat-step label="Display">
                <div class="tab-content"> 
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Widget Label" name="label" [(ngModel)]="settingsData.label">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                            <input type="number" min="0" max="5"matInput placeholder="Number of Decimals" name="decimals" [(ngModel)]="settingsData.numDecimal">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                            <input type="number" min="0" max="5"matInput placeholder="Number of Integer Place" name="integers" [(ngModel)]="settingsData.numInt">
                    </mat-form-field>
                    <button type="button" mat-raised-button matStepperPrevious>Back</button>
                    <button type="button" mat-raised-button color="accent" matStepperNext>Next</button>                    
                </div>
            </mat-step>
            <mat-step label="Units">
                <div class="tab-content"> 
                    <mat-form-field class="full-width">
                        <mat-select 
                            placeholder="Unit Category" 
                            [(ngModel)]="settingsData.unitGroup" 
                            name="unitGroup"
                            (ngModelChange)="updateUnitType()"
                            >
                            <mat-option *ngFor="let group of availableUnitGroups" [value]="group">
                                {{group}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-select 
                            placeholder="Unit" 
                            [(ngModel)]="settingsData.unitName" 
                            name="unitName"
                            >
                            <mat-option *ngFor="let unitName of availableUnitNames" [value]="unitName">
                                {{unitName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="button" mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="accent" type="submit">Save</button>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
    </mat-dialog-content>
</form>