@use '~@angular/material' as mat;

@mixin widget-ngGauge-radial-theme($theme) {

  $ngGauge: map-get($theme, ngGauge);
  $themeForeground: map-get($theme, foreground);

  app-widget-gauge-ng-radial {
    .primary {
      color: mat.get-color-from-palette($ngGauge, primary-gaugeFaceLight);
    }
    .accent {
      color: mat.get-color-from-palette($ngGauge, accent-gaugeFaceLight);
    }
    .warn {
      color: mat.get-color-from-palette($ngGauge, warn-gaugeFaceLight);
    }
    .primaryDark {
      color: mat.get-color-from-palette($ngGauge, primary-gaugeFaceDark);
    }
    .accentDark {
      color: mat.get-color-from-palette($ngGauge, accent-gaugeFaceDark);
    }
    .warnDark {
      color: mat.get-color-from-palette($ngGauge, warn-gaugeFaceDark);
    }
    .background {
      color: mat.get-color-from-palette($themeForeground, divider);
    }
    .text {
      color: mat.get-color-from-palette($themeForeground, text);
    }
  }
}

radial-gauge.radialGauge {
  position: relative;
  width: 94% !important;
  height: auto !important;
  top: 6%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
 }


.settingsButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}


.tab-group {
  border: 1px solid #e8e8e8;
}

.tab-content {
  padding: 16px;
}

.full-width {
  width: 100%;
}
