<form name="notificationSetting">
  <mat-card>
    <mat-card-title>
      Server Notifications
    </mat-card-title>
    <mat-card-subtitle>
      Notifications are a special type of data sent from SignalK and displayed in the
      notification menu. They are meant to alert or inform operators. Set server
      notification preferences such as types of messages to display and audio prompts.
    </mat-card-subtitle>
    <mat-card-content>
      <mat-slide-toggle name="disableNotifications" [(ngModel)]="notificationConfig.disableNotifications" [ngModelOptions]="{standalone: true}">Disable All Notifications</mat-slide-toggle>
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Messages
            </mat-panel-title>
            <mat-panel-description>
              Control what messages the server will send
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-checkbox [(ngModel)]="notificationConfig.devices.showNormalState" [ngModelOptions]="{standalone: true}">Show Devices Informational notifications</mat-checkbox>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Audio
            </mat-panel-title>
            <mat-panel-description>
              Configure sound options
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-checkbox [(ngModel)]="notificationConfig.sound.disableSound" [ngModelOptions]="{standalone: true}">Disable All Audio notification</mat-checkbox>
          <br/>
          <mat-checkbox [(ngModel)]="notificationConfig.sound.muteNormal" [ngModelOptions]="{standalone: true}">Disable <b>Information</b> notifications</mat-checkbox>
          <br/>
          <mat-checkbox [(ngModel)]="notificationConfig.sound.muteAlert" [ngModelOptions]="{standalone: true}">Disable <b>Alert Severity</b> notifications</mat-checkbox>
          <br/>
          <mat-checkbox [(ngModel)]="notificationConfig.sound.muteWarning" [ngModelOptions]="{standalone: true}">Disable <b>Warning</b> notifications</mat-checkbox>
          <br/>
          <mat-checkbox [(ngModel)]="notificationConfig.sound.muteAlarm" [ngModelOptions]="{standalone: true}">Disable <b>Alarm Severity</b> notifications</mat-checkbox>
          <br/>
          <mat-checkbox [(ngModel)]="notificationConfig.sound.muteEmergency" [ngModelOptions]="{standalone: true}">Disable <b>Emergency Severity</b> notifications</mat-checkbox>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-raised-button color="accent" (click)='saveNotificationsSettings()'>Save</button>
    </mat-card-actions>
  </mat-card>
</form>
