<svg viewBox="0 0 452 16">
  <g id="layerRudder"
     style="display:inline"
     transform="translate(-48.722992,53.399956)">
    <rect id="rudderAnglePrt"
      class="rudderStarboard"
      style="display:inline;opacity:1;stroke:none"
      width="0"
      height="14.987642"
      x="274.72299"
      y="-53.399956">
      <animate #rudderPrtAnimate attributeType="XML" attributeName="width"
        [attr.from]="oldRudderPrtAngle"
        [attr.to]="newRudderPrtAngle"
        dur="0.5s"
        begin="indefinite"
        additive="replace"
        fill="freeze" />
    </rect>
    <rect id="rudderAngleStb"
      class="rudderPort"
       style="display:inline;opacity:1;stroke:none"
       width="0"
       height="14.987642"
       x="-274.72299"
       y="-53.399956"
       transform="scale(-1,1)">
       <animate #rudderStbAnimate attributeType="XML" attributeName="width"
        [attr.from]="oldRudderStbAngle"
        [attr.to]="newRudderStbAngle"
        dur="0.5s"
        begin="indefinite"
        additive="replace"
        fill="freeze" />
       </rect>
  </g>
  <g id="boxLabel" transform="translate(-1.4943359e-5)">
    <g id="boxes"
       style="display:inline"
       transform="translate(-48.736057,-72.908313)">
      <rect
        class="boxes"
         style="display:inline;fill:none;stroke-width:1.28406;stroke-miterlimit:4;stroke-dasharray:none"
         id="rect7491"
         width="450.71594"
         height="14.947294"
         x="49.505619"
         y="73.550346" />
      <rect
        class="boxes"
         style="display:inline;fill:none;stroke-width:1.28406;stroke-miterlimit:4;stroke-dasharray:none"
         id="rect7491-8-1-1"
         width="142.77309"
         height="14.864282"
         x="275.58313"
         y="73.621033" />
      <rect
        class="boxes"
         style="display:inline;fill:none;stroke-width:1.28406;stroke-miterlimit:4;stroke-dasharray:none"
         id="rect7491-8-1-1-1"
         width="142.77309"
         height="14.864282"
         x="132.81004"
         y="73.621033" />
      <rect
        class="boxes"
         style="display:inline;fill:none;stroke-width:1.28406;stroke-miterlimit:4;stroke-dasharray:none"
         id="rect7491-8-1-1-1-0"
         width="142.77309"
         height="14.864282"
         x="59.827667"
         y="73.621033" />
      <rect
        class="boxes"
         style="display:inline;fill:none;stroke-width:1.28406;stroke-miterlimit:4;stroke-dasharray:none"
         id="rect7491-8-1-1-1-6"
         width="142.77309"
         height="14.864282"
         x="347.1264"
         y="73.621033" />
    </g>
  </g>
</svg>
