<div class=flexContainer>
  <div class=settingsButton>
    <button type="button" class="btn btn-default btn-sm" (click)="open(content)">
      <span class="fa fa-cog"></span>
    </button>
  </div>

  <div class=flexBox1>
BOX1

 <pre>{{closeResult}}</pre>
  </div>

  <div class=flexBox2>
BOX2
{{unlockStatus}}

  </div>
  
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


