@use 'sass:map';
@use '@angular/material' as mat;

@mixin light-color($theme) {
}

@mixin dark-color($theme) {
  .compass-inner-ring {
    stroke: var(--kip-contrast-color);
    fill: var(--kip-contrast-color);
  }
  .starboard  {
    stop-color: var(--kip-starboard-color);
  }

  .port {
    stop-color: var(--kip-port-color);
  }

  .wind-text {
    fill: var(--kip-widget-card-background-color);
    stroke: var(--kip-widget-card-background-color);
  }

  .heading-background {
    stroke: var(--mat-sys-background);
    fill: var(--kip-contrast-color);
  }

  .boatBackground {
    stop-color: var(--kip-contrast-color) !important;
  }

  .true-wind {
    fill: var(--kip-yellow-color);
  }

  .app-wind {
      fill: var(--kip-blue-color);
  }

  .course-over-ground {
    fill: var(--kip-pink-color);
  }

  .next-waypoint {
    stroke: var(--kip-green-color);
  }

  .laylines {
    stroke:  var(--kip-contrast-color);
  }

  .wind-sector-port {
    fill: var(--kip-port-color);
  }

  .wind-sector-stbd {
    fill: var(--kip-starboard-color);
  }
// Not yet enabled but defined in svg
//   .sailSetupBoat {
//     stroke: mat.m2-get-color-from-palette($wind, compass-light);
//   }
//   .sailSetupFull {
//     fill: mat.m2-get-color-from-palette($primary, 300);
//   }
//   .sailSetupReef1 {
//     fill: mat.m2-get-color-from-palette($accent, 300);
//   }
//   .sailSetupReef2 {
//     fill: mat.m2-get-color-from-palette($warn, 300);
//   }
//   .sailSetupReef3 {
//     fill: mat.m2-get-color-from-palette($warn, 500);
//   }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    $theme-type: mat.get-theme-type($theme);
    @if $theme-type == dark {
      @include dark-color($theme);
    } @else {
      @include light-color($theme);
    }
  }
}
