<widget-host [(config)]="widgetProperties.config" [id]="widgetProperties.uuid" (configChange)="updateConfig($event)">
  <app-svg-wind
      [compassHeading]="currentHeading"
      [courseOverGroundAngle]="courseOverGroundAngle"
      [courseOverGroundEnable]="widgetProperties.config.courseOverGroundEnable"
      [trueWindAngle]="trueWindAngle"
      [trueWindSpeed]="trueWindSpeed"
      [appWindAngle]="appWindAngle"
      [appWindSpeed]="appWindSpeed"
      [laylineAngle]="widgetProperties.config.laylineAngle"
      [closeHauledLineEnable]="widgetProperties.config.laylineEnable"
      [windSectorEnable]="widgetProperties.config.windSectorEnable"
      [waypointAngle]="waypointAngle"
      [waypointEnable]="widgetProperties.config.waypointEnable"
      [trueWindMinHistoric]="trueWindMinHistoric"
      [trueWindMidHistoric]="trueWindMidHistoric"
      [trueWindMaxHistoric]="trueWindMaxHistoric"
      [sailSetupEnable]="defaultConfig.sailSetupEnable"
  ></app-svg-wind>
</widget-host>
