@use 'sass:map';
@use '@angular/material' as mat;

@mixin widget-wind-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $wind: map-get($theme, wind);

  .boatBackground {
    stop-color: mat.m2-get-color-from-palette($wind, boat-background) !important; //400
  }

  .heading-background {
    stroke: mat.m2-get-color-from-palette($wind, heading-background);
    fill: mat.m2-get-color-from-palette($wind, compass-light);
  }

  .wind-text {
      fill: mat.m2-get-color-from-palette($wind, heading-background);
      stroke: mat.m2-get-color-from-palette($wind, heading-background);
  }

  .laylines {
    stroke:  mat.m2-get-color-from-palette($foreground, text);
  }

  .wind-sector-port {
    fill: mat.m2-get-color-from-palette($wind, port);
  }

  .wind-sector-stbd {
    fill: mat.m2-get-color-from-palette($wind, starboard);
  }

  .compass-outer-ring {
      stroke: mat.m2-get-color-from-palette($wind, compass-dark);
  }
  .compass-inner-ring {
      stroke: mat.m2-get-color-from-palette($wind, compass-light);
      fill: mat.m2-get-color-from-palette($wind, compass-light);
  }

  .wind-rose-background {
      stroke: mat.m2-get-color-from-palette($wind, wind-rose-background);
  }

  .sailSetupBoat {
    stroke: mat.m2-get-color-from-palette($wind, compass-light);
  }

  .sailSetupFull {
    fill: mat.m2-get-color-from-palette($primary, 300);
  }

  .sailSetupReef1 {
    fill: mat.m2-get-color-from-palette($accent, 300);
  }

  .sailSetupReef2 {
    fill: mat.m2-get-color-from-palette($warn, 300);
  }

  .sailSetupReef3 {
    fill: mat.m2-get-color-from-palette($warn, 500);
  }

  .port {
      stop-color: mat.m2-get-color-from-palette($wind, port);
  }
  .starboard  {
    stop-color: mat.m2-get-color-from-palette($wind, starboard);
  }

  .rudderPort {
    fill: mat.m2-get-color-from-palette($wind, rudder-port);
  }
  .rudderStarboard  {
    fill: mat.m2-get-color-from-palette($wind, rudder-starboard);
  }

  .course-over-ground {
    fill: mat.m2-get-color-from-palette($wind, courseOverGround);
  }

  .next-waypoint {
    stroke: mat.m2-get-color-from-palette($wind, nextWaypoint);
  }
  .true-wind {
      fill: mat.m2-get-color-from-palette($wind, true-wind-background)
  }

  .app-wind {
      fill: mat.m2-get-color-from-palette($wind, app-wind-background)
  }

  .simpleLinear-text {
    fill: mat.m2-get-color-from-palette($foreground, text);
  }
}

.windWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
