<widget-host [(config)]="widgetProperties.config" [id]="widgetProperties.uuid" (configChange)="updateConfig($event)">
  <app-svg-wind
      [compassHeading]="currentHeading"
      [courseOverGroundAngle]="courseOverGroundAngle"
      [courseOverGroundEnabled]="widgetProperties.config.courseOverGroundEnable"
      [trueWindAngle]="trueWindAngle"
      [twsEnabled]="widgetProperties.config.twsEnable"
      [trueWindSpeed]="trueWindSpeed"
      [appWindAngle]="appWindAngle"
      [awsEnabled]="widgetProperties.config.awsEnable"
      [appWindSpeed]="appWindSpeed"
      [laylineAngle]="widgetProperties.config.laylineAngle"
      [closeHauledLineEnabled]="widgetProperties.config.laylineEnable"
      [windSectorEnabled]="widgetProperties.config.windSectorEnable"
      [driftEnabled]="widgetProperties.config.driftEnable"
      [driftFlow]="driftFlow"
      [driftSet]="driftSet"
      [waypointAngle]="waypointAngle"
      [waypointEnabled]="widgetProperties.config.waypointEnable"
      [trueWindMinHistoric]="trueWindMinHistoric"
      [trueWindMidHistoric]="trueWindMidHistoric"
      [trueWindMaxHistoric]="trueWindMaxHistoric"
      [sailSetupEnabled]="defaultConfig.sailSetupEnable"
  ></app-svg-wind>
</widget-host>
