<div class="windWrapper">
        <app-svg-wind
            [compassHeading]="currentHeading"
            [trueWindAngle]="trueWindAngle"
            [trueWindSpeed]="trueWindSpeed"
            [appWindAngle]="appWindAngle"
            [appWindSpeed]="appWindSpeed"
            [laylineAngle]="widgetProperties.config.laylineAngle"
            [laylineEnable]="widgetProperties.config.laylineEnable"
            [windSectorEnable]="widgetProperties.config.windSectorEnable"
            [trueWindMinHistoric]="trueWindMinHistoric"
            [trueWindMidHistoric]="trueWindMidHistoric"
            [trueWindMaxHistoric]="trueWindMaxHistoric"
        ></app-svg-wind>
</div>
