<div style="margin: 0px; padding: 0px; width: 100%; height: 100%;">
  <div class="switchWrapper">

    <div class="square">
      <div #lighDiv class="light"
        [style.background]="state ? lightColorOn : lightColorOff"
      ></div>
    </div>
    <canvas #btnLabelCanvas class="label"></canvas>
    <div
      #btnDiv
      class="button"
      [style.color]="state ? buttonBorberColorOn : buttonBorberColorOff"
      [style.background-color]="buttonColorOn"
      (mousedown)="handleClickDown()"
      (mouseup)="handleClickUp()"
      (mouseout)="handleClickUp()"
    >
    </div>
  </div>
</div>
