<div [class]="themeClass">
    <div class="mainContainer app-defaults" >
        <div class="mainWindow">
            <router-outlet></router-outlet>
        </div>
        <div class="menuBar">
            <div class="menuBarContainer theme-menu">

                <div class="menuBarButtonGroup">
                    <button color="accent" mat-raised-button [matMenuTriggerFor]="themeMenu" >
                            <span class="fa fa-lg fa-paint-brush"></span>
                    </button>
                    <mat-menu #themeMenu="matMenu">
                        <button mat-menu-item (click)="setTheme('default-light')">Default</button>
                        <button mat-menu-item (click)="setTheme('signalk')">Signal K</button>
                        <button mat-menu-item (click)="setTheme('high-contrast-light')">High Contrast</button>
                        <button mat-menu-item (click)="setTheme('night-dark')">Night (red)</button>
                        <button mat-menu-item (click)="setTheme('platypus-light')">Platypus</button>
                        <button mat-menu-item (click)="setTheme('darkBlue')">DarkBlue</button>
                    </mat-menu>
                </div>

                <div class="menuBarButtonGroup">
                    <button color="accent" mat-raised-button (click)="pageDown()">
                        <span class="fa fa-lg fa-chevron-left"></span>
                    </button>

                    <button color="accent" mat-raised-button (click)="pageUp()">
                        <span class="fa fa-lg fa-chevron-right"></span>
                    </button>
                </div>

                <div class="menuBarButtonGroup">
                    <button color="accent" mat-raised-button [matMenuTriggerFor]="settingsMenu" >
                            <span class="fa fa-lg fa-cog"></span>
                    </button>
                    <mat-menu #settingsMenu="matMenu">
                        <button mat-menu-item (click)="unlockPage()">
                            <span *ngIf="!unlockStatus" class="fa fa-lg fa-unlock">Unlock</span>
                            <span *ngIf="unlockStatus" class="fa fa-lg fa-lock">Lock</span>
                        </button>
                        <button mat-menu-item (click)="toggleFullScreen()">
                            <span *ngIf="!fullscreenStatus" class="fa fa-lg fa-window-maximize">Fullscreen</span>
                            <span *ngIf="fullscreenStatus" class="fa fa-lg fa-window-restore">Exit Fullscreen</span>
                        </button>
                        <button mat-menu-item [disabled]="!unlockStatus" (click)="newPage()"><span class="fa fa-lg fa-plus">New Page</span></button>
                        <button mat-menu-item routerLink="/settings"><span class="fa fa-lg fa-cog">App Settings</span></button>
                    </mat-menu>
                </div>

            </div>
        </div>
    </div>
</div>