<div [class]="activeThemeClass">
  <div class="mainContainer app-defaults">
    <div class="mainWindow" (swipe)="onSwipe($event)" (doubletap)="onDoubleTap($event)" >
        <router-outlet></router-outlet>
    </div>
    <div class="menuBar">
      <div class="menuBarContainer theme-menu">
        <div class="menuBarButtonGroups">
          <app-alarm-menu></app-alarm-menu>
        </div>
        <div class="menuBarButtonGroups">
          <button color="accent"mat-flat-button class="menuBarNavButtons" (click)="pageDown()">
            <i class="fa-solid fa-chevron-left fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="menuBarButtonGroups">
          <button color="accent" mat-flat-button class="menuBarNavButtons" (click)="pageUp()">
            <i class="fa-solid fa-chevron-right fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="menuBarButtonGroups">
            <button color="accent" mat-flat-button class="menuBarSettingsButton" [matMenuTriggerFor]="settingsMenu" >
              <i class="fa-solid fa-bars fa-2x" aria-hidden="true"></i>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item routerLink="/help">
    <div class="menu-items-with-icons"><i class="fa-solid fa-question-circle" aria-hidden="true"></i>&nbsp;Help</div>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="configMenu">
    <div class="menu-items-with-icons"><i class="fa-solid fa-cog" aria-hidden="true"></i>&nbsp;Configuration</div>
  </button>
  <button mat-menu-item routerLink="/data">
    <div class="menu-items-with-icons"><i class="fa-solid fa-info" aria-hidden="true"></i>&nbsp;Data Browser</div>
  </button>
  <button mat-menu-item (click)="setNightMode(isNightMode ? false : true)">
    <div class="menu-items-with-icons" *ngIf="!isNightMode"><i class="fa-solid fa-moon" aria-hidden="true"></i>&nbsp;Night Mode</div>
    <div class="menu-items-with-icons" *ngIf="isNightMode"><i class="fa-solid fa-sun" aria-hidden="true"></i>&nbsp;Day Mode</div>
  </button>
  <button mat-menu-item (click)="toggleFullScreen()">
    <div class="menu-items-with-icons" *ngIf="!fullscreenStatus"><i class="fa-solid fa-window-maximize" aria-hidden="true"></i>&nbsp;Fullscreen</div>
    <div class="menu-items-with-icons" *ngIf="fullscreenStatus"><i class="fa-solid fa-window-restore" aria-hidden="true"></i>&nbsp;Exit Fullscreen</div>
  </button>
</mat-menu>

<mat-menu #configMenu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="/settings">
    <div class="menu-items-with-icons"><i class="fa-solid fa-sliders" aria-hidden="true"></i>&nbsp;Settings</div>
  </button>
  <!-- <button mat-menu-item [disabled]="isNightMode" [matMenuTriggerFor]="themesMenu"> -->
    <!-- <span><i class="fa-solid fa-paint-brush"></i> Themes</span> -->
  <!-- </button> -->
  <button mat-menu-item [disabled]="!unlockStatus" (click)="newPage()">
    <div class="menu-items-with-icons"><i class="fa-solid fa-plus-square" aria-hidden="true"></i>&nbsp;Add Page</div>
  </button>
  <button mat-menu-item (click)="unlockPage()">
    <div class="menu-items-with-icons" *ngIf="!unlockStatus"><i class="fa-solid fa-columns" aria-hidden="true"></i>&nbsp;Edit Layout</div>
    <div class="menu-items-with-icons" *ngIf="unlockStatus"><i class="fa-solid fa-lock" aria-hidden="true"></i>&nbsp;Lock Layout</div>
  </button>
</mat-menu>

<mat-menu #themesMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="setTheme('default-light')">
    <span><i *ngIf="themeName == 'default-light' else elseBlock" class="fa-solid fa-circle" aria-hidden="true"></i>&nbsp;Light Blue</span>
      <ng-template #elseBlock><i class="fa-solid fa-circle-o" aria-hidden="true"></i></ng-template>
  </button>
  <button mat-menu-item (click)="setTheme('signalk-light')">
    <span><i *ngIf="themeName == 'signalk-light' else elseBlock" class="fa-solid fa-circle" aria-hidden="true"></i>&nbsp;Signal K</span>
      <ng-template #elseBlock><i class="fa-solid fa-circle-o" aria-hidden="true"></i></ng-template>
  </button>
  <button mat-menu-item (click)="setTheme('high-contrast-light')">
    <span><i *ngIf="themeName == 'high-contrast-light' else elseBlock" class="fa-solid fa-circle" aria-hidden="true"></i>&nbsp;High Contrast</span>
      <ng-template #elseBlock><i class="fa-solid fa-circle-o" aria-hidden="true"></i></ng-template>
  </button>
  <button mat-menu-item (click)="setTheme('platypus-light')">
    <span><i *ngIf="themeName == 'platypus-light' else elseBlock" class="fa-solid fa-circle" aria-hidden="true"></i>&nbsp;Platypus</span>
    <ng-template #elseBlock><i class="fa-solid fa-circle-o" aria-hidden="true"></i></ng-template>
  </button>
  <button mat-menu-item (click)="setTheme('darkBlue-dark')">
    <span><i *ngIf="themeName == 'darkBlue-dark' else elseBlock" class="fa-solid fa-circle" aria-hidden="true"></i>&nbsp;Dark Blue</span>
    <ng-template #elseBlock><i class="fa-solid fa-circle-o" aria-hidden="true"></i></ng-template>
  </button>
  <button mat-menu-item (click)="setTheme('modern-dark')">
    <span><i *ngIf="themeName == 'modern-dark' else elseBlock" class="fa-solid fa-circle" aria-hidden="true"></i>&nbsp;Modern Dark</span>
    <ng-template #elseBlock><i class="fa-solid fa-circle-o" aria-hidden="true"></i></ng-template>
  </button>
</mat-menu>
