.dashboard-container {
  flex: 30;
  overflow: auto;
 }

.menu-bar-container {
  flex: 1;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu-bar .menu-bar-button-group {
  flex-grow: 1;
}

.menu-bar .menu-bar-button-group:first-child {
  text-align: left;
  margin-left: 2px;
}

.menu-bar .menu-bar-button-group {
  text-align: center;
}

.menu-bar .menu-bar-button-group:last-child {
  text-align: right;
  margin-right: 2px;
}

.menu-bar-button-group .notification-menu-button {
  width: 25%;
  height: 48px;
}

.menu-bar .page-button {
  width: 99%;
  height: 48px;
}

.menu-bar-button-group .settings-menu-button {
  // --mdc-icon-button-state-layer-size: 25%;
  // width: 25%;
  // height: 48px;
}
