<div [class]="themeClass">
  <div class="mainContainer app-defaults" >
    <div class="mainWindow">
        <router-outlet></router-outlet>
    </div>
    <div class="menuBar">
      <div class="menuBarContainer theme-menu">
        <div class="menuBarButtonGroup">
          <button color="accent" mat-raised-button (click)="pageDown()">
            <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="menuBarButtonGroup">
          <app-alarm-menu></app-alarm-menu>
        </div>
        <div class="menuBarButtonGroup">
          <button color="accent" mat-raised-button (click)="pageUp()">
            <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="menuBarButtonGroup">
            <button color="accent" mat-raised-button [matMenuTriggerFor]="settingsMenu" >
              <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </button>
            <mat-menu #settingsMenu="matMenu">
              <button mat-menu-item routerLink="/settings">
                <span><i class="fa fa-cog" aria-hidden="true"></i> App Settings</span>
              </button>
              <button color="accent" mat-menu-item [matMenuTriggerFor]="themeMenu2" >
                <span><i class="fa fa-paint-brush"></i> Themes</span>
              </button>
              <button mat-menu-item [disabled]="!unlockStatus" (click)="newPage()">
                <span><i class="fa fa-plus-square" aria-hidden="true"></i> New Page</span>
              </button>
              <button mat-menu-item (click)="unlockPage()">
                <span *ngIf="!unlockStatus"><i class="fa fa-unlock" aria-hidden="true"></i> Unlock</span>
                <span *ngIf="unlockStatus"><i class="fa fa-lock" aria-hidden="true"></i> Lock</span>
              </button>
              <button mat-menu-item (click)="toggleFullScreen()">
                <span *ngIf="!fullscreenStatus"><i class="fa fa-window-maximize" aria-hidden="true"></i> Fullscreen</span>
                <span *ngIf="fullscreenStatus"><i class="fa fa-window-restore" aria-hidden="true"></i> Exit Fullscreen</span>
              </button>
            </mat-menu>
            <mat-menu #themeMenu2="matMenu">
              <button mat-menu-item (click)="setTheme('default-light')">Default</button>
              <button mat-menu-item (click)="setTheme('signalk')">Signal K</button>
              <button mat-menu-item (click)="setTheme('high-contrast-light')">High Contrast</button>
              <button mat-menu-item (click)="setTheme('night-dark')">Night (red)</button>
              <button mat-menu-item (click)="setTheme('platypus-light')">Platypus</button>
              <button mat-menu-item (click)="setTheme('darkBlue')">DarkBlue</button>
              <button mat-menu-item (click)="setTheme('modern-dark')">Modern</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
