@use '~@angular/material' as mat;

@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-defaults {
    background-color: mat.get-color-from-palette($background, background);
    color: mat.get-color-from-palette($foreground, text);
  }

  .theme-menu {
    background-color: mat.get-color-from-palette($accent, A200);
  }

  .menuBarButtonGroup {
    background-color: mat.get-color-from-palette($foreground, divider);
  }

 }

.fullheight {
  height: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.mainWindow {
  flex: 30;
 }

.menuBar {
  flex: 1;
}

.menuBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menuBarContainer .menuBarButtonGroups {
  flex-grow: 1;
}

.menuBarContainer .menuBarButtonGroups:first-child {
  text-align: left;
  margin-left: 2px;
}

.menuBarContainer .menuBarButtonGroups {
  text-align: center;
}

.menuBarContainer .menuBarButtonGroups:last-child {
  text-align: right;
  margin-right: 2px;
}

.menuBarButtonGroups .menuBarNavButtons {
  width: 99%;
}

.menuBarButtonGroups .menuBarAlarmsButton {
  width: 25%;
}

.menuBarButtonGroups .menuBarSettingsButton {
  width: 25%;
}
