<h2 mat-dialog-title>Select Unit type</h2>
<mat-dialog-content>
  <mat-form-field style="padding-top: 15px; padding-bottom: 15px;" appearance="outline" floatLabel="always">
    <mat-label>Unit</mat-label>
    <mat-select [(value)]="data.selectedUnit">
      @for (unitgroup of data.units.conversions; track unitgroup) {
        <mat-optgroup [label]="unitgroup.group">
          @for (unit of unitgroup.units; track unit) {
            <mat-option [value]="unit.measure">
              {{unit.measure}}
            </mat-option>
          }
        </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button [mat-dialog-close]="data.selectedUnit">Ok</button>
</mat-dialog-actions>
