// Create theme palettes. We need Primary, Accent and Warn as defined by Angular Material theming
@use '~@angular/material' as mat;
$mat-darkBlue-primary: (
    50 : #e0e2ec,
    100 : #b3b7cf,
    200 : #8087b0,
    300 : #4d5690,
    400 : #263278,
    500 : #000e60,
    600 : #000c58,
    700 : #000a4e,
    800 : #000844,
    900 : #000433,
    A100 : #6b6bff,
    A200 : #3838ff,
    A400 : #0505ff,
    A700 : #0000eb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-darkBlue-accent: (
  50 : #e3f2fd,
  100 : #bbdefb,
  200 : #90caf9,
  300 : #64b5f6,
  400 : #42a5f5,
  500 : #2196f3,
  600 : #1e88e5,
  700 : #1976d2,
  800 : #1565c0,
  900 : #0d47a1,
  A100 : #82b1ff,
  A200 : #448aff,
  A400 : #2979ff,
  A700 : #2962ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

//////////////////////////////////////////////////////////////////////////////////////////
// Generate mat-material default theme palettes. Generate now so we call pull if necessary
// palette color later in this scss file.
//  * The warn palette is optional (defaults to $mat-red). This is the palette that should
//    used for error and warning.
$darkBlueTheme-primary: mat.define-palette($mat-darkBlue-primary);
$darkBlueTheme-accent:  mat.define-palette($mat-darkBlue-accent);
$darkBlueTheme-warn:    mat.define-palette(mat.$red-palette);

// Palette for widget-gauge-ng-linear and widget-gauge-ng-radial instruments
// Pull from mat-palettes or use custom color ie. #e3ff43
$mat-ngGauge: (
    primary-gaugeFaceLight: mat.get-color-from-palette($darkBlueTheme-primary, 300),
    primary-gaugeFaceDark: mat.get-color-from-palette($darkBlueTheme-primary, 900),
    accent-gaugeFaceLight: mat.get-color-from-palette($darkBlueTheme-accent, 300),
    accent-gaugeFaceDark: mat.get-color-from-palette($darkBlueTheme-accent, 900),
    warn-gaugeFaceLight: mat.get-color-from-palette($darkBlueTheme-warn, 300),
    warn-gaugeFaceDark: mat.get-color-from-palette($darkBlueTheme-warn, 900),
);

// Palette for widget-wind - wind instrument Component
// * You can pull from other mat-palettes or use custom color ie. #e3ff43
$mat-wind: (
  boat-background: #c7c7c7,
  heading-background: #c5c5c5,
  true-wind-background: #068dfb,
  app-wind-background: #028502,
  compass-dark: #757575,
  compass-light: #afafaf,
  wind-rose-background: #8a8a8a,
  port: #ff0000,
  starboard: #1fce04,
  rudder-port: #d52626,
  rudder-starboard: #389c19,
);

// use custom theming hack
$darkBlueTheme-foreground: custom-theme-dark-foreground(#a5e1fd);
$darkBlueTheme-background: custom-theme-dark-background($mat-darkBlue-primary, 500);


// Make temp theme using default palettes
// * to change from Light and Dark Angular Material theming mode: mat-dark-theme() or mat-light-theme()

$darkBlueTheme-temp-dark: mat.define-dark-theme($darkBlueTheme-primary, $darkBlueTheme-accent, $darkBlueTheme-warn);

// Merge our mat-theme with component specific palettes
$darkBlueTheme-dark: map-merge($darkBlueTheme-temp-dark, (background: $darkBlueTheme-background, foreground: $darkBlueTheme-foreground, wind: $mat-wind, ngGauge: $mat-ngGauge));

