@import '~@angular/material/theming';

$defaultTheme-primary: mat-palette($mat-red);
$defaultTheme-accent:  mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$defaultTheme-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$defaultTheme-light: mat-light-theme($defaultTheme-primary, $defaultTheme-accent, $defaultTheme-warn);
$defaultTheme-dark: mat-dark-theme($defaultTheme-primary, $defaultTheme-accent, $defaultTheme-warn);


