// Create theme palettes. We need Primary, Accent and Warn as defined by Angular Material theming
@use '~@angular/material' as mat;

// We use Mat predefined palettes

//////////////////////////////////////////////////////////////////////////////////////////
// Generate mat-material default theme palettes. Generate now so we call pull if necessary
// palette color later in this scss file.
//  * The warn palette is optional (defaults to $mat-red). This is the palette that should
//    used for error and warning.
$highContrast-primary: mat.define-palette(mat.$grey-palette);
$highContrast-accent:  mat.define-palette(mat.$grey-palette, A200, A100, A400);
$highContrast-warn:    mat.define-palette(mat.$red-palette);

// Palette for widget-gauge-ng-linear and widget-gauge-ng-radial instruments
// Pull from mat-palettes or use custom color ie. #e3ff43
$mat-ngGauge: (
    primary-gaugeFaceLight: mat.get-color-from-palette($highContrast-primary, 400),
    primary-gaugeFaceDark: mat.get-color-from-palette($highContrast-primary, 900),
    accent-gaugeFaceLight: mat.get-color-from-palette($highContrast-accent, 500),
    accent-gaugeFaceDark: mat.get-color-from-palette($highContrast-accent, 900),
    warn-gaugeFaceLight: mat.get-color-from-palette($highContrast-warn, 300),
    warn-gaugeFaceDark: mat.get-color-from-palette($highContrast-warn, 900),
);

// Palette for widget-wind - wind instrument Component
// * You can pull from other mat-palettes or use custom color ie. #e3ff43
$mat-wind: (
    boat-background: #c7c7c7,
    heading-background: #c5c5c5,
    true-wind-background: #068dfb,
    app-wind-background: #06fb06,
    compass-dark: #757575,
    compass-light: #afafaf,
    wind-rose-background: #8a8a8a,
    port: #ff0000,
    starboard: #1fce04,
    rudder-port: #d52626,
    rudder-starboard: #389c19,
);

// Make temp theme using default palettes
// * to change from Light and Dark Angular Material theming mode: mat-dark-theme() or mat-light-theme()
$highContrast-temp-light: mat.define-light-theme($highContrast-primary, $highContrast-accent, $highContrast-warn);

// Merge our mat-theme with component specific palettes
$highContrast-light: map-merge($highContrast-temp-light, (wind: $mat-wind, ngGauge: $mat-ngGauge));
