// Create theme palettes. We need Primary, Accent and Warn as defined by Angular Material theming
@use '~@angular/material' as mat;
$nightMode-primary: (
    50 : #ecf5fb,
    100 : #520000,
    200 : #b1d7ef,
    300 : #520000,
    400 : #7abbe4,
    500 : #520000,
    600 : #5ba8db,
    700 : #520000,
    800 : #4796d2,
    900 : #520000,
    A100 : #ffffff,
    A200 : #e0f0ff,
    A400 : #add8ff,
    A700 : #93cbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nightMode-accent: (
    50 : #fdf9e6,
    100 : #520000,
    200 : #f8e598,
    300 : #520000,
    400 : #f2d250,
    500 : #520000,
    600 : #eec52c,
    700 : #520000,
    800 : #e9b71f,
    900 : #520000,
    A100 : #ffffff,
    A200 : #121212, // Menubar original value #fff6e0 000000 1E1E1E
    A400 : #ffe6ad,
    A700 : #ffdf94,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #520000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nightMode-warn: (
    50 : #fae5e5,
    100 : #f2bebe,
    200 : #ea9393,
    300 : #e26767,
    400 : #db4747,
    500 : #520000,
    600 : #d02222,
    700 : #520000,
    800 : #c41717,
    900 : #520000,
    A100 : #ffe7e7,
    A200 : #ffb4b4,
    A400 : #ff8181,
    A700 : #ff6868,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nightMode-special: (
    50 : #fae5e5,
    100 : #f2bebe,
    200 : #ea9393,
    300 : #e26767,
    400 : #389c19,
    500 : #0e0d0d, // background
    600 : #3f3f3f,
    700 : #000000, // mat cards 1e1e1e
    800 : #000000, // 121212
    900 : #121212, // 000000
    A100 : #ffe7e7,
    A200 : #ffb4b4,
    A400 : #ff8181,
    A700 : #ff6868,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//////////////////////////////////////////////////////////////////////////////////////////
// Generate mat-material default theme palettes. Generate now so we call pull if necessary
// palette color later in this scss file.
//  * The warn palette is optional (defaults to $mat-red). This is the palette that should
//    used for error and warning.

$nightMode-theme-primary: mat.define-palette($nightMode-primary);
$nightMode-theme-accent:  mat.define-palette($nightMode-accent, A200, A100, A400);
$nightMode-theme-warn:  mat.define-palette($nightMode-warn);

$nightMode-theme-special:  mat.define-palette($nightMode-special); // Used to override MAterial Dark Theme colors and make it really black!

// Palettes for custom Components

// widget-gauge-ng-linear and widget-gauge-ng-radial instruments Component
// * You can pull from other mat-palettes or use custom color ie. #e3ff43
$mat-ngGauge: (
    primary-gaugeFaceLight: #520000,
    primary-gaugeFaceDark: #520000,
    accent-gaugeFaceLight: #520000,
    accent-gaugeFaceDark: #520000,
    warn-gaugeFaceLight: #520000,
    warn-gaugeFaceDark: #520000,
);

// Palette for widget Wind and Autopilot - see svg-wind svg-autopilot Component
// * You can pull from other mat-palettes or use custom color ie. #e3ff43
$mat-wind: (
    boat-background: #520000,
    heading-background: #1E1E1E,
    true-wind-background: #5f5013,
    app-wind-background: #083958,
    compass-dark: #2c1515,
    compass-light: #462121,
    wind-rose-background: #2c1a1a,
    port: #520000,
    starboard: #17420a,
    rudder-port: #520000,
    rudder-starboard: #389c19,
);

// Make temp theme using default palettes
// * to change from Light and Dark Angular Material theming mode: mat-dark-theme() or mat-light-theme()
$nightMode-temp: mat.define-dark-theme($nightMode-theme-primary, $nightMode-theme-accent, $nightMode-theme-warn);


// Customer Material Dark-theme black background
$nightMode-background: custom-theme-dark-background($nightMode-theme-special, 500);
$nightMode-foreground: custom-theme-dark-foreground(#520000);
// Merge our mat-theme with component specific palettes
$nightMode-dark: map-merge($nightMode-temp, (background: $nightMode-background,foreground: $nightMode-foreground, wind: $mat-wind, ngGauge: $mat-ngGauge));
