// Create theme palettes. We need Primary, Accent and Warn as defined by Angular Material theming
@use '@angular/material' as mat;
@use 'sass:map';

$nightMode-primary: (
    50 : #ecf5fb,
    100 : #520000,
    200 : #b1d7ef,
    300 : #520000,
    400 : #7abbe4,
    500 : #520000,
    600 : #520000,
    700 : #520000,
    800 : #4796d2,
    900 : #520000,
    A100 : #520000,
    A200 : #520000,
    A400 : #520000,
    A700 : #520000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nightMode-accent: (
  50 : #ecf5fb,
  100 : #520000,
  200 : #b1d7ef,
  300 : #520000,
  400 : #7abbe4,
  500 : #520000,
  600 : #5ba8db,
  700 : #520000,
  800 : #4796d2,
  900 : #520000,
  A100 : #520000,
    A200 : #121212, // Menubar original value #fff6e0 000000 1E1E1E
    A400 : #520000,
    A700 : #520000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nightMode-warn: (
    50 : #fae5e5,
    100 : #f2bebe,
    200 : #ea9393,
    300 : #e26767,
    400 : #db4747,
    500 : #1d0000,
    600 : #d02222,
    700 : #520000,
    800 : #c41717,
    900 : #520000,
    A100 : #ffe7e7,
    A200 : #ffb4b4,
    A400 : #ff8181,
    A700 : #ff6868,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nightMode-special: (
    50 : #fae5e5,
    100 : #f2bebe,
    200 : #ea9393,
    300 : #e26767,
    400 : #389c19,
    500 : #0e0d0d, // background
    600 : #3f3f3f,
    700 : #000000, // mat cards 1e1e1e
    800 : #000000, // 121212
    900 : #121212, // 000000
    A100 : #ffe7e7,
    A200 : #ffb4b4,
    A400 : #ff8181,
    A700 : #ff6868,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Generate mat-material default theme palettes. Generate now so we call pull if necessary
$nightMode-theme-primary: mat.define-palette($nightMode-primary, A200, A100, A400);
$nightMode-theme-accent:  mat.define-palette($nightMode-accent, A200, A100, A400);
$nightMode-theme-warn:  mat.define-palette($nightMode-warn);

$nightMode-theme-special:  mat.define-palette($nightMode-special); // Used to override Material Dark Theme colors and make it really black!

// custom component color maps

// Palettes for custom app.component.scss
$app-defaults: (
  app-background: #0e0d0d
);
// widget-gauge-ng-linear and widget-gauge-ng-radial instruments map
$mat-ngGauge: (
    primary-gaugeFaceLight: #520000,
    primary-gaugeFaceDark: #520000,
    accent-gaugeFaceLight: #520000,
    accent-gaugeFaceDark: #520000,
    warn-gaugeFaceLight: #520000,
    warn-gaugeFaceDark: #520000,
);

// Map for widget Wind and Autopilot - see svg-wind svg-autopilot Component
$mat-wind: (
    boat-background: #520000,
    heading-background: #1E1E1E,
    true-wind-background: #5f5013,
    app-wind-background: #083958,
    compass-dark: #2c1515,
    compass-light: #462121,
    wind-rose-background: #2c1a1a,
    port: #750000,
    starboard: #17420a,
    rudder-port: #520000,
    rudder-starboard: #389c19,
    courseOverGround: #62006c,
    nextWaypoint: #1e4b18
);

// custom test and label color maps used in widgets
$mat-texts: (
    text-dark: #520000fe,
    primary-light: #520000fe,
    primary-dark: #520000fe,
    accent-light: #520000fe,
    accent-dark: #520000fe,
    warn-light: #520000fe,
    warn-dark: #520000fe,
);

// Make temp theme using default palettes
$nightMode: mat.define-dark-theme((
  color: (
    primary: $nightMode-theme-primary,
    accent: $nightMode-theme-accent,
    warn: $nightMode-theme-warn
  ),
));

// custom theme overrides for Night Mode
@function custom-nightMode-foreground($color) {
  @return (
      base:              $color,
      divider:           rgba(white, 0.12),
      dividers:          rgba(white, 0.12),
      disabled:          rgba($color, 0.3),
      disabled-button:   rgba($color, 0.3),
      disabled-text:     rgba($color, 0.3),
      elevation: $color,
      hint-text:         rgba($color, 0.3),
      secondary-text:    rgba($color, 0.7),
      icon:              $color,
      icons:             $color,
      text:              $color,
      slider-min:        $color,
      slider-off:        rgba($color, 0.3),
      slider-off-active: rgba($color, 0.3),
  );
};

@function custom-nightMode-background($pallet, $bgcolor) {
  @return (
    status-bar: black,
    app-bar:    map_get($pallet, 800),
    background: map_get($pallet, $bgcolor),
    hover:      rgba(white, 0.04),
    card:       map_get($pallet, 800),
    dialog:     map_get($pallet, 800),
    disabled-button: rgba(white, 0.12),
    raised-button: map-get($pallet, 800),
    focused-button: rgba(white, 0.06),
    selected-button: map_get($pallet, 900),
    selected-disabled-button: map_get($pallet, 800),
    disabled-button-toggle: black,
    unselected-chip: map_get($pallet, 700),
    disabled-list-option: black,
    tooltip: map_get($pallet, 600),
  );
};

// get theme color map
$color-map: map.get($nightMode, color);
// get color map foreground and background map
$color-foreground-map: map.get($color-map, foreground);
$color-background-map: map.get($color-map, background);


// Call custom Material Dark-theme override functions
$nightMode-background: custom-nightMode-background($nightMode-theme-special, 500);
$nightMode-foreground: custom-nightMode-foreground(#520000);

// merge back into color map
$color-map: map.merge($color-map, (foreground: $nightMode-foreground, background: $nightMode-background));

// Merge our maps back into theme with component specific maps
$nightMode: map.merge($nightMode, (color: $color-map));
// copy duplicate foreground and background map to theme root - not sure why this duplicate exists...not explained in material Theming guides
$nightMode: map.merge($nightMode, (foreground: $nightMode-foreground, background: $nightMode-background));
// merge our component maps into theme
$nightMode: map.merge($nightMode, (app-defaults: $app-defaults, widgetTexts: $mat-texts, wind: $mat-wind, ngGauge: $mat-ngGauge));
