// Create theme palettes. We need Primary, Accent and Warn as defined by Angular Material theminf
$mat-night-primary: (
    50 : #ede1e1,
    100 : #d1b3b3,
    200 : #b28080,
    300 : #934d4d,
    400 : #7c2727,
    500 : #650101,
    600 : #5d0101,
    700 : #530101,
    800 : #490101,
    900 : #370000,
    A100 : #ff6e6e,
    A200 : #ff3b3b,
    A400 : #ff0808,
    A700 : #ee0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-night-accent: (
    50 : #f3e7e7,
    100 : #e1c3c3,
    200 : #ce9b9b,
    300 : #ba7373,
    400 : #ab5555,
    500 : #9c3737,
    600 : #943131,
    700 : #8a2a2a,
    800 : #802323,
    900 : #6e1616,
    A100 : #ffa7a7,
    A200 : #ff7474,
    A400 : #ff4141,
    A700 : #ff2727,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

//////////////////////////////////////////////////////////////////////////////////////////
// Generate mat-material default theme palettes. Generate now so we call pull if necessary
// palette color later in this scss file.
//  * The warn palette is optional (defaults to $mat-red). This is the palette that should
//    used for error and warning.
$nightTheme-primary: mat-palette($mat-night-primary);
$nightTheme-accent:  mat-palette($mat-night-accent);
$nightTheme-warn:    mat-palette($mat-red);

// Palette for widget-gauge-ng-linear and widget-gauge-ng-radial instruments
// Pull from mat-palettes or use custom color ie. #e3ff43
$mat-ngGauge: (
    primary-gaugeFaceLight: mat-color($nightTheme-primary, 300),
    primary-gaugeFaceDark: mat-color($nightTheme-accent, 900),
    accent-gaugeFaceLight: mat-color($nightTheme-accent, 300),
    accent-gaugeFaceDark: mat-color($nightTheme-accent, 900),
    warn-gaugeFaceLight: mat-color($nightTheme-warn, 300),
    warn-gaugeFaceDark: mat-color($nightTheme-warn, 900),
);

// Palette for widget-wind - wind instrument Component
// * You can pull from other mat-palettes or use custom color ie. #e3ff43
$mat-wind: (
    boat-background: rgb(75, 0, 0),
    heading-background: #310000,
    true-wind-background: #002946,
    app-wind-background: #003a00,
    compass-dark: rgb(66, 12, 12),
    compass-light: #611111,
    wind-rose-background: #4e1010,
    port: #af0000,
    starboard: #0d5500,
);

//get our custom foreground/background
$nightTheme-foreground: custom-theme-dark-foreground(#b81e1e);

// Make temp theme using default palettes
// * to change from Light and Dark Angular Material theming mode: mat-dark-theme() or mat-light-theme()
$nightTheme-temp-dark: mat-dark-theme($nightTheme-primary, $nightTheme-accent, $nightTheme-warn);

// Merge our mat-theme with component specific palettes
$nightTheme-dark: map-merge($nightTheme-temp-dark, (foreground: $nightTheme-foreground, wind: $mat-wind, ngGauge: $mat-ngGauge));


