// Create theme palettes. We need Primary, Accent and Warn as defined by Angular Material theming
@use '~@angular/material' as mat;
$mat-perry: (
    50 : #e3f2f2,
    100 : #badede,
    200 : #8cc8c8,
    300 : #5db1b1,
    400 : #3ba1a1,
    500 : #189090,
    600 : #158888,
    700 : #117d7d,
    800 : #0e7373,
    900 : #086161,
    A100 : #93ffff,
    A200 : #60ffff,
    A400 : #2dffff,
    A700 : #14ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//////////////////////////////////////////////////////////////////////////////////////////
// Generate mat-material default theme palettes. Generate now so we call pull if necessary
// palette color later in this scss file.
//  * The warn palette is optional (defaults to $mat-red). This is the palette that should
//    used for error and warning.
$platypusTheme-primary: mat.define-palette(mat.$teal-palette);
$platypusTheme-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$platypusTheme-warn:    mat.define-palette(mat.$red-palette);

// Palette for widget-gauge-ng-linear and widget-gauge-ng-radial instruments
// Pull from mat-palettes or use custom color ie. #e3ff43
$mat-ngGauge: (
    primary-gaugeFaceLight: mat.get-color-from-palette($platypusTheme-primary, 300),
    primary-gaugeFaceDark: mat.get-color-from-palette($platypusTheme-primary, 900),
    accent-gaugeFaceLight: mat.get-color-from-palette($platypusTheme-accent, 300),
    accent-gaugeFaceDark: mat.get-color-from-palette($platypusTheme-accent, 900),
    warn-gaugeFaceLight: mat.get-color-from-palette($platypusTheme-warn, 300),
    warn-gaugeFaceDark: mat.get-color-from-palette($platypusTheme-warn, 900),
);

// Palette for widget-wind - wind instrument Component
// * You can pull from other mat-palettes or use custom color ie. #e3ff43
$mat-wind: (
    boat-background: #c7c7c7,
    heading-background: #c5c5c5,
    true-wind-background: #068dfb,
    app-wind-background: #06fb06,
    compass-dark: #757575,
    compass-light: #afafaf,
    wind-rose-background: #8a8a8a,
    port: #ff0000,
    starboard: #1fce04,
    rudder-port: #d52626,
    rudder-starboard: #389c19,
);

// use custom theming hack
$platypusTheme-background: custom-theme-light-background($mat-perry, 500);

// Make temp theme using default palettes
// * to change from Light and Dark Angular Material theming mode: mat-dark-theme() or mat-light-theme()
$platypusTheme-temp-light: mat.define-light-theme($platypusTheme-primary, $platypusTheme-accent, $platypusTheme-warn);

// Merge our mat-theme with component specific palettes
$platypusTheme-light: map-merge($platypusTheme-temp-light, (background: $platypusTheme-background, wind: $mat-wind, ngGauge: $mat-ngGauge));
