// Create theme palettes. We need Primary, Accent and Warn as defined by Angular Material theming
@use '~@angular/material' as mat;
$mat-signalk: (
  50 : #e0e7f3,
  100 : #b3c2e0,
  200 : #ffffff, //mat card. original palette color #8099cc
  300 : #4d70b8,
  400 : #2652a8,
  500 : #003399,
  600 : #002e91,
  700 : #002786,
  800 : #00207c,
  900 : #00146b,
  A100 : #9aa5ff,
  A200 : #6778ff,
  A400 : #344aff,
  A700 : #1a33ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-signalk-secondary: (
    50 : #fff9e0,
    100 : #fff0b3,
    200 : #ffe680,
    300 : #ffdb4d,
    400 : #ffd426,
    500 : #ffcc00,
    600 : #ffc700,
    700 : #ffc000,
    800 : #ffb900,
    900 : #ffad00,
    A100 : #ffffff,
    A200 : #ffcc00,
    A400 : #ffe8bf,
    A700 : #ffdfa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//////////////////////////////////////////////////////////////////////////////////////////
// Generate mat-material default theme palettes. Generate now so we call pull if necessary
// palette color later in this scss file.
//  * The warn palette is optional (defaults to $mat-red). This is the palette that should
//    used for error and warning.
$signalKTheme-primary: mat.define-palette($mat-signalk);
$signalKTheme-accent:  mat.define-palette($mat-signalk-secondary);
$signalKTheme-warn:    mat.define-palette(mat.$red-palette);

// Palette for widget-gauge-ng-linear and widget-gauge-ng-radial instruments
// Pull from mat-palettes or use custom color ie. #e3ff43
$mat-ngGauge: (
    primary-gaugeFaceLight: mat.get-color-from-palette($signalKTheme-primary, 300),
    primary-gaugeFaceDark: mat.get-color-from-palette($signalKTheme-primary, 900),
    accent-gaugeFaceLight: mat.get-color-from-palette($signalKTheme-accent, 300),
    accent-gaugeFaceDark: mat.get-color-from-palette($signalKTheme-accent, 900),
    warn-gaugeFaceLight: mat.get-color-from-palette($signalKTheme-warn, 300),
    warn-gaugeFaceDark: mat.get-color-from-palette($signalKTheme-warn, 900),
);

// Palette for widget-wind - wind instrument Component
// * You can pull from other mat-palettes or use custom color ie. #e3ff43
$mat-wind: (
    boat-background: #c7c7c7,
    heading-background: #c5c5c5,
    true-wind-background: #068dfb,
    app-wind-background: #06fb06,
    compass-dark: #757575,
    compass-light: #afafaf,
    wind-rose-background: #8a8a8a,
    port: #ff0000,
    starboard: #1fce04,
    rudder-port: #d52626,
    rudder-starboard: #389c19,
);

$signalKTheme-background: custom-theme-light-background($signalKTheme-primary, 50);

// Make temp theme using default palettes
// * to change from Light and Dark Angular Material theming mode: mat-dark-theme() or mat-light-theme()
$signalKTheme-temp-light: mat.define-light-theme($signalKTheme-primary, $signalKTheme-accent, $signalKTheme-warn);

// Merge our mat-theme with component specific palettes
$signalKTheme-light: map-merge($signalKTheme-temp-light, (background: $signalKTheme-background, wind: $mat-wind, ngGauge: $mat-ngGauge));
