<form name="login" (ngSubmit)="saveCredential()" #login="ngForm">
  <span mat-dialog-title>{{titleDialog}}</span>
  <mat-dialog-content>
    @if (data.error) {
      <div class="errorMsgBox">
        <i class="fa-solid fa-times-circle" style="color:red; padding-right: 5px;" aria-hidden="true"></i>
        {{data.error}}
      </div>
    }
    <br/>
    <div class="login-grid">
      <mat-form-field class="userLoginInput">
        <mat-label>User ID</mat-label>
        <input type="text"  autocomplete="username" id="username" matInput placeholder="User ID" name="username" [(ngModel)]="data.user" [ngModelOptions]="{standalone: false}" required>
        <mat-error>
          You must enter a User ID value
        </mat-error>
      </mat-form-field>
      <mat-form-field class="userLoginInput">
        <mat-label>Password</mat-label>
        <input type=password autocomplete="current-password" autocapitalize="off" autocorrect="off" spellcheck="false" id="current-password" matInput placeholder="Password" name="current-password" [(ngModel)]="data.password" [ngModelOptions]="{standalone: false}" required>
        <mat-error>
          You must enter a password value
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <button mat-flat-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button type="submit" [disabled]="!login.valid">Sign in</button>
  </mat-dialog-actions>
</form>
