.dialogue-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dialog-close-icon {
  margin-right: 15px;
}

.mat-mdc-dialog-content {
  max-height: max-content;
}
