:host {
  width: 100%;
  height: 100%;
  display: block;
}

::ng-deep linear-gauge {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: clip;
  > canvas {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
  }
}
