.racerWrapper {
  height: 100%;
  width: 100%;
}
.canvas-size {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: inherit;
}

.button-color-red {
  --mdc-filled-button-container-color: var(--kip-port-color);
  --mdc-filled-button-label-text-color: var(--kip-contrast-color);
}

.timerBarContainer {
  position: absolute;
  left: 0px;
  bottom: 8%;
  height: auto;
  width: calc(100% - 20px);
  margin: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 20px;
}

.timer-button-groups {
  min-width: 247px;
  max-width: 100%;
  --mdc-filled-button-container-shape: 5px;
}

.line-adjusters-group {
  flex-grow: 1;
  flex-shrink: 1;
}

.line-adjust-port-button {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.line-adjust-stb-button {
  width: calc(50% - 5px);
  margin-left: 5px;
}

.timer-adjusters-group {
  flex-grow: 1;
  flex-shrink: 1;
}

.timer-countdown-group {
  flex-grow: 3;
  flex-shrink: 3;
}

.timer-synch-button {
  width: calc(50% - 5px);
  margin-left: 5px;
}

.timer-start-button {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.timer-reset-button {
  width: calc(40% - 0px);
  margin: 0px 10px 0px 10px;
}

.timer-adjust-buttons {
  width: calc(30% - 10px);
}
