<split
  [direction]="splitSet.direction"
  [disabled]="!unlockStatus"
  (dragEnd)="onDragEnd($event)">
  <ng-template ngFor let-area let-i="index" [ngForOf]="splitSet.splitAreas">
    <split-area [order]="i" [size]="area.size" [ngSwitch]="area.type"> 
        <div class="splitArea" *ngSwitchCase="'widget'">
          <app-unit-window 
              [widgetUUID]="area.uuid"
              [unlockStatus]="unlockStatus"
          ></app-unit-window>
          <div *ngIf="unlockStatus" class="splitMenu">
              <md-menu #splitMenu="mdMenu">
                <button md-menu-item (click)="splitArea(area.uuid, 'vertical')">Split Horz.</button>
                <button md-menu-item (click)="splitArea(area.uuid, 'horizontal')">Split Vert.</button>
              </md-menu>
              <button color="primary" md-mini-fab [mdMenuTriggerFor]="splitMenu"><span class="fa fa-columns"></span></button>
          </div>
        </div>
        <layout-split *ngSwitchCase="'splitSet'"
          [unlockStatus]="unlockStatus"
          [splitUUID]="area.uuid"
        ></layout-split>

      </split-area> 
  </ng-template>
</split>