<as-split
  [direction]="splitSet.direction"
  [disabled]="!unlockStatus"
  (dragEnd)="onDragEnd($event)"
  gutterSize="4">
  <ng-template ngFor let-area let-i="index" [ngForOf]="splitSet.splitAreas">
    <as-split-area [order]="i" [size]="area.size" [ngSwitch]="area.type">
        <div class="splitArea" *ngSwitchCase="'widget'">
          <app-unit-window
              [widgetUUID]="area.uuid"
              [unlockStatus]="unlockStatus"
          ></app-unit-window>
          <div *ngIf="unlockStatus" class="splitMenu">
              <mat-menu #splitMenu="matMenu">
                <button mat-menu-item (click)="splitArea(area.uuid, 'vertical')">Split Horz.</button>
                <button mat-menu-item (click)="splitArea(area.uuid, 'horizontal')">Split Vert.</button>
              </mat-menu>
              <button color="accent" mat-mini-fab [matMenuTriggerFor]="splitMenu"><span class="fa-solid fa-columns"></span></button>
          </div>
          <div *ngIf="unlockStatus" class="splitdelete">
            <button color="warn" mat-mini-fab (click)="deleteArea(area.uuid)"><span class="fa-solid fa-times" ></span></button>
          </div>
        </div>
        <layout-split *ngSwitchCase="'splitSet'"
          [unlockStatus]="unlockStatus"
          [splitUUID]="area.uuid"
        ></layout-split>
      </as-split-area>
  </ng-template>
</as-split>
