@mixin layout-split-theme($theme) {

    $accent: map-get($theme, accent);

    as-split-gutter[ng-reflect-disabled=true] {
      background-color: transparent !important;
    }

    as-split-gutter[ng-reflect-disabled=false] {
      background-color: mat-color($accent, 700, 0.4) !important;
    }
}

.splitArea {
  width: 100%;
  height: 100%;
  position: relative;
}

.splitMenu {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.splitdelete {
  position: absolute;
  right: 5%;
  top: 5%;
}

as-split-area {
  overflow-y: hidden !important;
}
