<as-split
  [direction]="splitSet.direction"
  [disabled]="!unlockStatus"
  (dragEnd)="onDragEnd($event)"
  gutterSize="4"
  cdkDropList
  (cdkDropListDropped)="drop($event, splitUUID)"
  [cdkDropListOrientation]="splitSet.direction">
  @for (area of splitSet.splitAreas; track area; let i = $index) {
    @if (area.type === "widget") {
      <as-split-area [order]="i" [size]="area.size" cdkDrag>
        <div class="splitArea">
          <app-dynamic-widget-container
            [splitUUID]="area.uuid"
            [unlockStatus]="unlockStatus">
          </app-dynamic-widget-container>
          @if (unlockStatus) {
            <div class="splitMenu">
              <mat-menu #splitMenu="matMenu">
                <button mat-menu-item (click)="splitArea(area.uuid, 'vertical')">Split Horz.</button>
                <button mat-menu-item (click)="splitArea(area.uuid, 'horizontal')">Split Vert.</button>
              </mat-menu>
              <button color="accent" mat-mini-fab [matMenuTriggerFor]="splitMenu"><span class="fa-solid fa-columns"></span></button>
            </div>
            <div class="splitdelete">
              <button color="accent" mat-mini-fab (click)="deleteArea(area.uuid)"><span class="fa-solid fa-times" ></span></button>
            </div>
          }
        </div>
      </as-split-area>
    } @else {
      <as-split-area [order]="i" [size]="area.size">
        <layout-split
          [unlockStatus]="unlockStatus"
          [splitUUID]="area.uuid">
        </layout-split>
      </as-split-area>
    }
  }
</as-split>
