.splitArea {
    width: 100%;
    height: 100%;
    position: relative;
}

.splitMenu {
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.splitdelete {
    position: absolute;
    right: 5%;
    top: 5%;
}

as-split-area {
    overflow-y: hidden !important;
}