@if (disableWidgetShell()) {
  <!-- Shell disabled: render iframe directly -->
  <iframe
    #freeboardSkIframe
    class="freeboardsk-iframe no-shell"
    width="100%"
    height="100%"
    frameborder="0"
    [src]="widgetUrl | safe"
    sandbox="allow-same-origin allow-scripts allow-forms"
  ></iframe>
} @else {
  <widget-host style="overflow: clip;"
    [(config)]="widgetProperties.config"
    [id]="widgetProperties.uuid"
    (configChange)="updateConfig()"
  >
    <iframe
      #freeboardSkIframe
      class="freeboardsk-iframe"
      width="100%"
      height="100%"
      frameborder="0"
      [src]="widgetUrl | safe"
      sandbox="allow-same-origin allow-scripts allow-forms"
    ></iframe>
    @if (!dashboard.isDashboardStatic()) {
      <div class="widgetOverlay"></div>
    }
  </widget-host>
}
