:host {
  display: block;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  padding: 10px;
}

:host(:hover) {
  background-color: var(--mat-sys-inverse-on-surface);
}

:host(:focus-visible) {
  background-color: var(--mat-sys-surface-bright);
  outline: -webkit-focus-ring-color auto 0px;
}

.large-icon-tile-label {
  cursor: pointer;
  color: var(--mat-sys-outline);
}
