:host {
  display: block;
  width: 100%;
  height: 100%;
}

.actions-container {
  display:grid;
  grid-auto-flow: column;
}

.actions-bottom-container {
  position: absolute;
  bottom: 4px;
  width: 100%;
}

.action-button {
  border-radius: 0px;
}
