.actions-container {
  display:grid;
  grid-auto-flow: column;
}

.actions-top-container {
  position: absolute;
  top: 0px;
  width: 100%;
}

.actions-bottom-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.action-button {
  border-radius: 0px;
  height: 48px
}

.menu-item-container {
  position: absolute;
  top: 48px;
  width: 135px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 96px);
}

