@use '@angular/material' as mat;

.actions-container {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 135px;
}

.actions-top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.actions-bottom-container {
  height: 48px;
  width: 100%;
}

.action-button {
  border-radius: 0px;
  height: 48px;
  flex: 1 1 48px;           // take remaining space
  min-height: 0;            // IMPORTANT: allow shrinking so no overflow
  overflow: hidden;
  border: 1px solid var(--mat-sidenav-container-background-color, var(--mat-sys-surface));
}

.home-btn {
  @include mat.icon-button-overrides((
    icon-size: 24px,
  ));

  @include mat.button-overrides((
    filled-icon-offset: 0px,
    filled-icon-spacing: 0px,
    filled-label-text-size: 0px,
  ));
}

.home-icon {
  .mat-mdc-unelevated-button>.mat-icon {
    font-size: 0px;
  }
}

.full-size {
  width: 135px;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 3px 1px 3px 1px;
  gap: 5px;
  width: 135px;
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex: 1 1 auto;           // take remaining space
  min-height: 0;
}

