@use '~@angular/material' as mat;

@mixin widget-simple-linear-theme($theme) {

  $ngGauge: map-get($theme, ngGauge);
  $themeForeground: map-get($theme, foreground);

  app-widget-simple-linear {
      .primary {
        color: mat.get-color-from-palette($ngGauge, primary-gaugeFaceLight);
      }
      .accent {
        color: mat.get-color-from-palette($ngGauge, accent-gaugeFaceLight);
      }
      .warn {
        color: mat.get-color-from-palette($ngGauge, warn-gaugeFaceLight);
      }
      .primaryDark {
        color: mat.get-color-from-palette($ngGauge, primary-gaugeFaceDark);
      }
      .accentDark {
        color: mat.get-color-from-palette($ngGauge, accent-gaugeFaceDark);
      }
      .warnDark {
        color: mat.get-color-from-palette($ngGauge, warn-gaugeFaceDark);
      }
      .background {
        color: mat.get-color-from-palette($themeForeground, divider);
      }
      .text {
        color: mat.get-color-from-palette($themeForeground, text);
      }
  }
}

.simpleLinearGauge {
  display:block;
  position: relative;
  border:none;
  margin: 0px;
  padding:  5px 0px;
  width: 100%;
  height: 100%;
}

.settingsButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}


.tab-group {
  border: 1px solid #e8e8e8;
}

.tab-content {
  padding: 16px;
}

.full-width {
  width: 100%;
}
