<div id="{{widgetUUID}}" #simpleLinear class="simpleLinearWidget" style="margin: 0px; padding: 0px; width: 100%; height: 100%;">

<svg-simple-linear-gauge class="simpleLinearGauge"
  [displayName]="config.displayName"
  [unitLabel]="unitsLabel"
  [dataValue]="dataValue"
  [barColor]="barColor"
  [barColorGradient]="barColorGradient"
  [barColorBackground]="barColorBackground"
  [gaugeValue]="gaugeValue"
  [gaugeMaxValue]="config.maxValue"
  [gaugeMinValue]="config.minValue"
  ></svg-simple-linear-gauge>

<div class="settingsButton" *ngIf="unlockStatus">
  <button type="button"  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
      <span class="fa-solid fa-cog"></span>
  </button>
</div>
<div #primary class='primary' style="display: none;"></div>
<div #accent class='accent' style="display: none;"></div>
<div #warn class='warn' style="display: none;"></div>
<div #primaryDark class='primaryDark' style="display: none;"></div>
<div #accentDark class='accentDark' style="display: none;"></div>
<div #warnDark class='warnDark' style="display: none;"></div>
<div #background class='background' style="display: none;"></div>
<div #text class='text' style="display: none;"></div>
</div>
