<div id="{{widgetUUID}}" #autopilot class="autopilotWidget">
<div class="autopilotscreen" #autopilotScreen [ngStyle]="{'max-width.px': maxWidth}" (resized)="onResized($event)">
    <app-svg-autopilot
        [compassHeading]="currentHeading"
        [trueWindAngle]="trueWindAngle"
    ></app-svg-autopilot>
  </div>
  <div class class="autopilotGridBtnContainer">
    <div class="itemStbTack">
      <button mat-flat-button color="primary" class="autoPilotBtn">Std Tack</button>
    </div>
    <div class="itemPlus1">
      <button mat-flat-button color="primary" class="autoPilotBtn">+1°</button>
    </div>
    <div class="itemMinus1">
      <button mat-flat-button color="primary" class="autoPilotBtn">-1°</button>
    </div>
    <div class="itemPrtTack">
      <button mat-flat-button color="primary" class="autoPilotBtn">Prt Tack</button>
    </div>
    <div class="itemStandby">
      <button mat-flat-button color="accent" class="autoPilotBtn">Standby</button>
    </div>
    <div class="itemPlus10">
      <button mat-flat-button color="primary" class="autoPilotBtn">+10°</button>
    </div>
    <div class="itemMinus10">
      <button mat-flat-button color="primary" class="autoPilotBtn">-10°</button>
    </div>
    <div class="itemAuto">
      <button mat-flat-button color="accent" class="autoPilotBtn">Auto</button>
    </div>
    <div class="itemWind">
      <button mat-stroked-button color="primary" class="autoPilotBtn">Wind</button>
    </div>
    <div class="itemTrack">
      <button mat-stroked-button color="primary" class="autoPilotBtn">Track</button>
    </div>
    <div class="itemPower">
      <button mat-mini-fab color="warn" class="autoPilotBtnCtrl">
        <i class="fa fa-power-off" aria-hidden="true"></i>
      </button>
    </div>
    <div class="itemMute">
      <button mat-mini-fab color="primary" class="autoPilotBtnCtrl">
        <i class="fa fa-volume-off" aria-hidden="true"></i>
      </button>
    </div>
    <div class="itemMessage">
      <button mat-mini-fab color="primary" class="autoPilotBtnCtrl">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="settingsButton" *ngIf="unlockStatus">
    <button  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
        <span class="fa fa-cog"></span>
    </button>
  </div>
  <div #primary class='primary' style="display: none;"></div>
  <div #accent class='accent' style="display: none;"></div>
  <div #warn class='warn' style="display: none;"></div>
  <div #primaryDark class='primaryDark' style="display: none;"></div>
  <div #accentDark class='accentDark' style="display: none;"></div>
  <div #warnDark class='warnDark' style="display: none;"></div>
  <div #background class='background' style="display: none;"></div>
  <div #text class='text' style="display: none;"></div>
</div>

