@import '~@angular/material/theming';


@mixin widget-autopilot-theme($theme) {

    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $wind: map-get($theme, wind);


    div.autopilotscreen {
      display: block;
      position: relative;
      width: 90%;
      margin: auto;
      height: 35%; // need space for autopilotGridBtnContainer height
      // min-height: 90px;
      // min-width: 175px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid mat-color($foreground, divider);
      box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.2), inset 0px 1px 1px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      background-color: mat-color($foreground, dividers);
    }
}



.autoPilotBtn {
  width:85px;
}

.autoPilotBtnCtrl {

}

.autopilotGridBtnContainer {
  display: grid;
  width: fit-content;
  margin: auto;
  height: 160px;
  grid-template-columns: [col-start] 25% [col1-end] 25% [col2-end] 25% [col3-end] 25% [col-End];
  grid-template-rows: [row-start] 25% [row1-end] 25% [row2-end] 25% [row3-end] 25% [row-end];
  grid-template-areas:
    "power . wind track"
    ". mute message ."
    "starboard plus1 minus1 port"
    "standbymode plus10 minus10 automode";
  row-gap: 0px;
  column-gap: 2px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: start;
}

.itemPower {
  grid-area: power;
}

.itemStbTack {
  grid-area: starboard;
}

.itemMute {
  grid-area: mute;
}

.itemMessage {
  grid-area: message;
}

.itemPrtTack {
  grid-area: port;
}

.itemPlus1 {
  grid-area: plus1;
}

.itemMinus1 {
  grid-area: minus1;
}

.itemStbTack {
  grid-area: starboard;
}

.itemStandby {
  grid-area: standbymode;
}

.itemPlus10 {
  grid-area: plus10;
}

.itemMinus10 {
  grid-area: minus10;
}

.itemAuto {
  grid-area: automode;
}

.itemWind {
  grid-area: wind;
}

.itemTrack {
  grid-area: track;
}

div.autopilotWidget {
  display:block;
  position: relative;
  border:none;
  margin: 0px;
  padding:  5px 0px;
  width: 100%;
  height: calc(100% - 10px);
}
