<div id="{{widgetUUID}}" #autopilot class="autopilotWidget">
  <div class="headerAutopilot">
    <div class="apTitle">
      <span>N2K Autopilot</span>
    </div>
    <div class="apPower">
      <button mat-flat-button color="warn" class="powerBtn" id="powerBtn" #powerBtn disabled="false" (click)="powerBtnClick($event)">
        <i class="fa-solid fa-power-off" aria-hidden="true"></i>
      </button>
    </div>
  </div>
    <app-svg-autopilot #appSvgAutopilot
        [compassHeading]="currentHeading"
        [appWindAngle]="currentAppWindAngle"
        [rudderAngle]="currentRudder"
        [apState]="currentAPState"
        [apTargetAppWindAngle]="currentAPTargetAppWind"
        [isApConnected]="isApConnected"
    ></app-svg-autopilot>
  <div class="autopilotGridBtnContainer">
    <div class="itemStbTack">
      <button type="button" mat-flat-button color="primary" class="autoPilotBtn" id="stbTackBtn" #stbTackBtn disabled="true" (click)="buildAndSendCommand('tackToStarboard')">Std Tack</button>
    </div>
    <div class="itemPlus1">
      <button type="button" mat-flat-button color="primary" class="autoPilotBtn" id="plus1Btn" #plus1Btn disabled="true" (click)="buildAndSendCommand('+1')">+1°</button>
    </div>
    <div class="itemMinus1">
      <button type="button" mat-flat-button color="primary" class="autoPilotBtn" id="minus1Btn" #minus1Btn disabled="true" (click)="buildAndSendCommand('-1')">-1°</button>
    </div>
    <div class="itemPrtTack">
      <button type="button" mat-flat-button color="primary" class="autoPilotBtn" id="prtTackBtn" #prtTackBtn disabled="true" (click)="buildAndSendCommand('tackToPort')">Prt Tack</button>
    </div>
    <div class="itemStandby">
      <button type="button" mat-flat-button color="accent" class="autoPilotBtn" id="standbyBtn" #standbyBtn disabled="true" (click)="buildAndSendCommand('standby')">Standby</button>
    </div>
    <div class="itemPlus10">
      <button type="button" mat-flat-button color="primary" class="autoPilotBtn" id="plus10Btn" #plus10Btn disabled="true" (click)="buildAndSendCommand('+10')">+10°</button>
    </div>
    <div class="itemMinus10">
      <button type="button" mat-flat-button color="primary" class="autoPilotBtn" id="minus10Btn" #minus10Btn disabled="true" (click)="buildAndSendCommand('-10')">-10°</button>
    </div>
    <div class="itemAuto">
      <button type="button" mat-flat-button color="accent" class="autoPilotBtn" id="autoBtn" #autoBtn disabled="true" (click)="buildAndSendCommand('auto')">Auto</button>
    </div>
    <div class="itemWindmode">
      <mat-slide-toggle class="example-margin" id="windModeBtn" labelPosition="before" #windModeBtn disabled="true" (change)="buildAndSendCommand(isWChecked?'wind':'auto')"
        color="primary"
        checked="checked">Wind</mat-slide-toggle>
    </div>
    <div class="itemTrackmode">
      <mat-slide-toggle class="example-margin" id="trackModeBtn" labelPosition="before" #trackModeBtn disabled="true" (change)="buildAndSendCommand(isTChecked?'route':'auto')"
        color="primary"
        checked="checked">Track</mat-slide-toggle>
    </div>
    <div class="itemNxtWp" >
      <button type="button" mat-flat-button color="primary" class="autoPilotBtn" id="nxtWpBtn" #nxtWpBtn disabled="true" (click)="buildAndSendCommand('route')">Next Wpt</button>
    </div>
    <div class="itemMute">
      <button type="button" mat-mini-fab color="primary" class="autoPilotBtnCtrl" id="muteBtn" #muteBtn disabled="true" (click)="sendSilence()">
        <i *ngIf="alarmsCount" class="fa-solid fa-bell-slash" aria-hidden="true"></i>
        <i *ngIf="!alarmsCount" class="fa-solid fa-bell" aria-hidden="true"></i>
      </button>
    </div>
    <div class="itemMessage">
      <button type="button" mat-mini-fab color="primary" class="autoPilotBtnCtrl" id="messageBtn" #messageBtn disabled="true" (click)="notificationScroll()">
        <span class="fa-solid fa-envelope" aria-hidden="true"></span>
        <span *ngIf="alarmsCount" matBadge="{{alarmsCount}}" matBadgeColor="warn" matBadgeSize="medium" matBadgeHidden="false" matBadgeOverlap="false"></span>
      </button>
    </div>
  </div>
  <div class="settingsButton" *ngIf="unlockStatus">
    <button type="button"  color="accent" mat-mini-fab class="selector-fab" (click)="openWidgetSettings()">
        <span class="fa-solid fa-cog"></span>
    </button>
  </div>
  <div #primary class='primary' style="display: none;"></div>
  <div #accent class='accent' style="display: none;"></div>
  <div #warn class='warn' style="display: none;"></div>
  <div #primaryDark class='primaryDark' style="display: none;"></div>
  <div #accentDark class='accentDark' style="display: none;"></div>
  <div #warnDark class='warnDark' style="display: none;"></div>
  <div #background class='background' style="display: none;"></div>
  <div #text class='text' style="display: none;"></div>
</div>

