:host {
  display: block;
  height: 100%;
  width: 100%;
}

.content-area {
  height: calc(100% - 63px);
  overflow: hidden;
  width: 100%;
  padding: 0px 24px 0px 24px;
}

.tab-content{
  overflow-y: auto;
  width: 100%;
  scroll-behavior: smooth;
  display: block;
}
