@if (target) {
  <div class="ais-dialog">
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Name :  {{ formatText(target.name) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">MMSI :  {{ formatText(target.mmsi) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Callsign :  {{ formatText(target.callsign) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Type :  {{ formatText(target.type) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Class :  {{ formatText(target.aisClass) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Status :  {{ formatStatus(target.status) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Lat :  {{ formatLatLon(target.position?.lat) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Lon :  {{ formatLatLon(target.position?.lon) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">COG :  {{ formatNumber(target.courseOverGroundTrue, 1) }}°</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">SOG :  {{ formatNumber(target.speedOverGround, 1) }} kn</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Heading :  {{ formatNumber(target.headingTrue, 1) }}°</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Nav State :  {{ formatText(target.navState) }}</div>
    </div>
    <div class="ais-dialog__row">
      <div class="ais-dialog__label">Destination :  {{ formatText(target.destination) }}</div>
    </div>
  </div>
} @else {
  <div class="ais-dialog__empty">No AIS target selected.</div>
}
