<svg-racesteer
  [compassHeading]="currentHeading()"
  [tackTrue]="tackTrue()"
  [polarSpeedRatio]="polarSpeedRatio()"
  [trueWindAngle]="trueWindAngle()"
  [trueWindSpeed]="trueWindSpeed()"
  [targetAngle]="targetAngle()"
  [optimalWindAngle]="optimalWindAngle()"
  [targetVMG]="targetVMG()"
  [VMG]="VMG()"
  [sailSetupEnabled]="sailSetupEnabledValue()"
  [driftEnabled]="driftEnabledValue()"
  [driftFlow]="driftFlow()"
  [driftSet]="driftSet()"
  [waypointEnabled]="waypointEnabledValue()"
  [waypointAngle]="waypointAngle()"
  [vmgToWaypoint]="vmgToWaypoint() ?? 0"
  [trueWindMinHistoric]="trueWindMinHistoric()"
  [trueWindMidHistoric]="trueWindMidHistoric()"
  [trueWindMaxHistoric]="trueWindMaxHistoric()"
  [gradianColor]="gradianColor()"
></svg-racesteer>
