.fullpage-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fullpage-header-title {
  padding: 18px 24px 13px 24px;;
}

.dialog-close-icon {
margin-right: 15px;
}

.mat-mdc-dialog-content {
max-height: max-content;
}

.dialog-content-padding {
--mat-dialog-content-padding: 0px 24px 20px 24px;
}
