<page-header [pageTitle]="pageTitle" svgIconId="troubleshoot" />
<div class="data-inspector-container">
  <mat-form-field class="filter-field">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type any part of the path, source or value..." value="" #input>
  </mat-form-field>

  <mat-table class="table-content-area mat-elevation-z8" [dataSource]="tableData" [trackBy]="trackByPath" matSort matSortActive="path" matSortDirection="asc">
    <!-- Path Column -->
    <ng-container matColumnDef="path">
      <mat-header-cell class="pathHeader" *matHeaderCellDef mat-sort-header> Path </mat-header-cell>
      <mat-cell class="pathCell row-cell" *matCellDef="let element"> {{element.path}} </mat-cell>
    </ng-container>
    <!-- Put Column -->
    <ng-container matColumnDef="supportsPut">
      <mat-header-cell class="putHeader" *matHeaderCellDef mat-sort-header> PUT Support </mat-header-cell>
      <mat-cell class="putCell row-cell" *matCellDef="let element">
        @if (element.meta?.supportsPut) {
          <mat-icon class="put-icon" matTooltip="Supports PUT operation">check_circle</mat-icon>
        }
      </mat-cell>
    </ng-container>
    <!-- Source/value Column -->
    <ng-container matColumnDef="defaultSource">
      <mat-header-cell class="dataHeader" *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
      <mat-cell class="dataCell row-cell" *matCellDef="let element">
        <div class="flex-container">
          @for (item of element.sources | keyvalue; track item.key) {
            <data-inspector-row class="source-sub-row" [path]="element.path" [source]="getSourceKey(item )" [pathValue]="getSourceValue(item)" [type]="element.type"></data-inspector-row>
          }
        </div>
      </mat-cell>
    </ng-container>

    <!-- Table headers -->
    <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </mat-table>
  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="showPageSizeOptions" [hidePageSize]="hidePageSize" [showFirstLastButtons]="showFirstLastButtons" class="paginator"></mat-paginator>
</div>
