<div class="wrapper">
  <gauge-steel
    [widgetUUID]="id()"
    [subType]="$safeNavigationMigration(runtime.options()?.gauge?.subType)"
    [barGauge]="$safeNavigationMigration(runtime.options()?.gauge?.digitalMeter)"
    [radialSize]="$safeNavigationMigration(runtime.options()?.gauge?.radialSize)"
    [backgroundColor]="$safeNavigationMigration(runtime.options()?.gauge?.backgroundColor)"
    [frameColor]="$safeNavigationMigration(runtime.options()?.gauge?.faceColor)"
    [minValue]="$safeNavigationMigration(runtime.options()?.displayScale?.lower)"
    [maxValue]="$safeNavigationMigration(runtime.options()?.displayScale?.upper)"
    [decimals]="$safeNavigationMigration(runtime.options()?.numDecimal)"
    [zones]="zones()"
    [title]="displayName()"
    [units]="$safeNavigationMigration(runtime.options()?.paths?.['gaugePath']?.convertUnitTo)"
    [value]="dataValue()"
    [themeColors]="theme()"
  ></gauge-steel>
</div>
