<widget-host [(config)]="widgetProperties.config" [id]="widgetProperties.uuid" (configChange)="updateConfig($event)">
  <gauge-steel
    [widgetUUID]="widgetProperties.uuid"
    [subType]="widgetProperties.config.gauge.subType"
    [barGauge]="widgetProperties.config.gauge.digitalMeter"

    [radialSize]="widgetProperties.config.gauge.radialSize"

    [backgroundColor]="widgetProperties.config.gauge.backgroundColor"
    [frameColor]="widgetProperties.config.gauge.faceColor"

    [minValue]="widgetProperties.config.displayScale.lower"
    [maxValue]="widgetProperties.config.displayScale.upper"
    [decimals]="widgetProperties.config.numDecimal"

    [zones]="this.zones"
    [title]="widgetProperties.config.displayName"
    [units]="widgetProperties.config.paths['gaugePath'].convertUnitTo"
    [value]="dataValue"
    [themeColors]="this.theme()"
  ></gauge-steel>
</widget-host>
