:host {
  display: block;
  width: 100%;
  height: 100%;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.fixed-dial-background {
  fill: none;
  stroke: var(--kip-grey-color);
}

.rotating-dial-Backplate {
  fill: var(--mat-sys-background);
}

.starboard  {
  stroke: var(--kip-starboard-color);
}

.port {
  stroke: var(--kip-port-color);
}

.heading-box {
  stroke: var(--kip-grey-color);
  fill: var(--kip-widget-card-background-color);
}

.boat {
  stop-color: var(--kip-grey-color) !important;
}

.contrast-text {
  fill: var(--kip-contrast-color);
}

.contrast-stroke {
  stroke: var(--kip-contrast-color);
}

.card-color {
  fill: var(--kip-widget-card-background-color);
}

.tack-box {
  stroke: var(--kip-yellow-dim-color);
  fill: var(--kip-widget-card-background-color);
  stroke-width: 5;
}

.tack-value {
  fill: var(--kip-contrast-color);
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-anchor: middle;
  stroke: none;
}

.tack-label {
  fill: var(--kip-contrast-dim-color);
  font-family:Roboto;
  font-size:35px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-anchor: middle;
  stroke: none;
}

.waypoint-box {
  stroke: var(--kip-orange-dim-color);
  fill: var(--kip-widget-card-background-color);
  stroke-width: 5;
}

.waypoint-value {
  fill: var(--kip-contrast-color);
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-anchor: middle;
  stroke: none;
}

.wind-vmg-value {
  fill: var(--kip-contrast-color);
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-anchor: middle;
  stroke: none;
}

.wind-vmg-offset {
  fill: var(--kip-contrast-color);
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-anchor: middle;
  stroke: none;
}

.true-wind {
    fill: var(--kip-blue-color);
}

.app-wind-label {
    fill: var(--kip-orange-dim-color);
}

.tack-angle {
  fill: var(--kip-yellow-color);
  stroke-width: 15;
  stroke-linecap: square;
}

.next-waypoint {
  stroke: var(--kip-orange-color);
  stroke-width:20;
  fill: none;
}

.next-waypoint-bar {
  stroke: var(--kip-grey-color);
}

.portLayline {
  stroke:  var(--kip-port-color);
  stroke-width: 5;
}

.stbdLayline {
  stroke:  var(--kip-starboard-color);
  stroke-width: 5;
}

.direction-line {
  stroke: var(--kip-contrast-color);
  stroke-width: 5;
}

.speed-line {
  stroke: var(--kip-blue-color);
  stroke-width: 10;
  fill: var(--kip-blue-color);
}

.wind-sector-port {
  fill: var(--kip-port-color);
}

.wind-sector-stbd {
  fill: var(--kip-starboard-color);
}

.drift-arrow {
  stop-color: var(--kip-blue-color);
  stroke: var(--kip-widget-card-background-color);
  stroke-width: 3;
}
