:host {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
}

canvas {
  display: block;
}

.textGenericWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
