.tutorial-container {
  height: 100%;
  padding: 15px;
  overflow: hidden;
}

table, th, td {
  border: 1px solid var(--mat-sys-on-background);
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: var(--mat-sys-surface-container-high);
}
