:host {
  display: block;
  width: 100%;
  height: 100%;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.fixed-dial-background {
  fill: var(--kip-grey-color);
}

.rotating-dial-Backplate {
  stroke: var(--mat-sys-background);
  fill: none;
  stroke-width: 95;
}

.starboard  {
  stroke: var(--kip-starboard-color);
}

.port {
  stroke: var(--kip-port-color);
}

.heading-background {
  stroke: var(--kip-grey-color);
  fill: var(--kip-widget-card-background-color);
}

.boat {
  stop-color: var(--kip-grey-color) !important;
}

.contrast-text {
  fill: var(--kip-contrast-color);
}

.contrast-stroke {
  stroke: var(--kip-contrast-color);
}

.card-color {
  fill: var(--kip-widget-card-background-color);
}

.true-wind {
  fill: var(--kip-yellow-color);
}

.true-wind-label {
  fill: var(--kip-yellow-dim-color);
}

.app-wind {
    fill: var(--kip-orange-color);
}

.app-wind-label {
    fill: var(--kip-orange-dim-color);
}

.course-over-ground {
  fill: var(--kip-pink-color);
}

.next-waypoint {
  stroke: var(--kip-green-color);
}

.next-waypoint-bar {
  stroke: var(--kip-grey-color);
}

.laylines {
  stroke:  var(--kip-contrast-color);
}

.wind-sector-port {
  fill: var(--kip-port-color);
}

.wind-sector-stbd {
  fill: var(--kip-starboard-color);
}

.drift-arrow {
  stop-color: var(--kip-blue-color);
}
