
<svg
   xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   height="100%"
   width="100%"
   viewBox="0 0 205 50"
   version="1.1"
   id="svg8">
   <defs
     id="defs2">
    <linearGradient id="gaugeBarGradient">
      <stop
         id="stop849"
         offset="0"
         style="stop-opacity:1;"
         [style.stop-color]="barColorGradient" />
      <stop
         id="stop851"
         offset="0.40"
         style="stop-opacity:0;"
         [style.stop-color]="barColorGradient" />
    </linearGradient>
    <linearGradient
       gradientTransform="translate(5,-30)"
       gradientUnits="userSpaceOnUse"
       y2="34.5"
       x2="-5"
       y1="34.5"
       x1="-6"
       id="linearGradient855"
       xlink:href="#gaugeBarGradient" />
  </defs>
  <g
     id="layer1"
     style="display:inline">
    <rect
       style="opacity:1;fill-opacity:1;stroke:none;stroke-width:0.265899;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       [style.fill]="barColorBackground"
       id="GaugeBackground"
       width="195"
       height="9"
       x="5"
       y="30"
       ry="0" />
    <defs>
      <g
        id="gaugeBar">
        <rect
          id="gaugeValue"
          width="1"
          height="9"
          x="0"
          y="0"
          ry="0"
          style="mix-blend-mode:normal;fill-opacity:1;stroke-width:0.0864229;"
          />
        <rect
          id="GaugeValueGradient"
          transform="scale(-1,1)"
          width="1"
          height="9"
          x="-1"
          y="0"
          ry="0"
          style="display:inline;opacity:0.38141;mix-blend-mode:multiply;fill:url(#linearGradient855);fill-opacity:1;stroke-width:0.0864229"/>
      </g>
    </defs>
    <use xlink:href="#gaugeBar" transform="translate(5,30)" [style.fill]="barColor">
      <animateTransform #gaugeBarAnimate attributeName="transform"
      type="scale"
      [attr.from]="oldGaugeValue + ' 1'"
      [attr.to]="newGaugeValue +' 1'"
      begin="indefinite"
      dur="0.5s"
      additive="sum"
      fill="freeze" />
    </use>
  </g>
  <g
     id="layer2"
     style="display:inline">
    <text
       xml:space="preserve"
       class="wind-text"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:12.7px;line-height:1.25;font-family:Arial;font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;"
       x="4.1731763"
       y="25.413595"
       id="displayNameText"><tspan
         id="tspan1945"
         x="4.1731763"
         y="25.413595"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:12.7px;font-family:Arial;font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;">{{displayName}}</tspan>
    </text>
    <text
       text-anchor="end"
       id="gaugeTexts"
       y="25.293016"
       x="200.37138"
       class="wind-text"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:22.5778px;line-height:1.25;font-family:Arial;font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;"
       xml:space="preserve">
       <tspan
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:22.5778px;font-family:Arial;font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;"
         y="25.293016"
         x="200.37138"
         id="valueText">{{dataValue}}</tspan>
        <tspan
         dy="-9"
         id="unitText"
         style="text-transform: capitalize;font-size:9.87778px">{{unitLabel}}</tspan>
    </text>
  </g>
</svg>
