<mat-action-list>
  <button mat-list-item (click)="clickAction('duplicate')">
    <mat-icon matListItemIcon>content_copy</mat-icon>
    <span>Duplicate</span>
  </button>
  <button mat-list-item (click)="clickAction('delete')">
    <mat-icon matListItemIcon>delete_forever</mat-icon>
    <span>Delete</span>
  </button>
  @if (showCancel) {
    <button mat-list-item (click)="clickAction('cancel')">
      <mat-icon matListItemIcon>close</mat-icon>
      <span>Close</span>
    </button>
  }
</mat-action-list>
