@if (splitSet$ | async; as splitSet) {
  <as-split
    [direction]="splitSet.direction"
    [disabled]="!unlockStatus"
    (dragEnd)="onDragEnd(splitSet.uuid, $event)"
    gutterSize="5"
    cdkDropList
    (cdkDropListDropped)="cdkDrop(splitSet.uuid, $event)"
    [cdkDropListOrientation]="splitSet.direction"
    [cdkDropListData]="splitSet.splitAreas"
    [cdkDropListConnectedTo]="connectedCdkDropLists">
    @for (area of splitSet.splitAreas; track area.uuid; let i = $index) {
      @if (area.type === "widget") {
        <as-split-area class="split-area"
          [order]="i"
          [size]="area.size"
          unit="percent"
          cdkDrag
          [cdkDragData]="area"
          (cdkDragMoved)="cdkDragMoved($event)"
          (cdkDragReleased)="cdkDragReleased($event)">
            <app-dynamic-widget-container
              [splitUUID]="area.uuid"
              [unlockStatus]="unlockStatus">
            </app-dynamic-widget-container>
            @if (unlockStatus) {
              <div class="split-menu">
                <mat-menu #splitMenu="matMenu">
                  <button mat-menu-item (click)="addWidget(splitSet.uuid, area.uuid, 'vertical')">
                    <mat-icon>horizontal_split</mat-icon>
                    Split Horizontal
                  </button>
                  <button mat-menu-item (click)="addWidget(splitSet.uuid, area.uuid, 'horizontal')">
                    <mat-icon>vertical_split</mat-icon>
                    Split Vertical
                  </button>
                </mat-menu>
                <button mat-mini-fab class="kip-widget-action-button-color" [matMenuTriggerFor]="splitMenu">
                  <mat-icon>
                    splitscreen
                  </mat-icon>
                </button>
              </div>
              <div class="split-delete">
                <button mat-mini-fab class="kip-widget-action-delete-button-color" (click)="deleteArea(splitSet.uuid, area.uuid)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            }
        </as-split-area>
      } @else {
        <as-split-area [order]="i" [size]="area.size" cdkDrag cdkDragDisabled="false">
          <page-layout
            [unlockStatus]="unlockStatus"
            [splitUUID]="area.uuid">
          </page-layout>
        </as-split-area>
      }
    }
  </as-split>
}

