:host ::ng-deep .as-split-gutter { //Added on all gutters.
  background-color: transparent !important;
}

as-split-area { // Added on all areas.
  overflow-y: hidden !important;
}

:host ::ng-deep .as-disabled > .as-split-gutter > .as-split-gutter-icon { //Added when <as-split [disabled]="true">.
  visibility: hidden;

}
.split-area {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 500;
}

.split-menu {
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 500;
}

.split-delete {
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 500;
}
