// Material 3 styles file.
// Proceed with caution if making changes to this file.
@use 'sass:map';
@use '@angular/material' as mat;
@use './app/app.component-theme' as appRoot;
@use './app/core/components/notification-menu/notification-menu.component-theme' as notificationMenu;
@use './app/core/components/dynamic-widget-container/dynamic-widget-container.component-theme' as widgetContainer;

@include mat.core();

// Import local Angular Google font and icon styles
@import './assets/google-fonts/material-icons.scss';
@import './assets/google-fonts/roboto.scss';
// Import the Material Design typography and color palettes
@import './themes/dark-m3-theme.scss';

// Set KIP CSS theming variables
$kip-widget-card-background-color: mat.get-theme-color($dark-theme, primary, 0);

@if mat.get-theme-type($dark-theme) == light {
  $kip-widget-card-background-color: mat.get-theme-color($dark-theme, primary, 100);
}

:root {
  // Apply all component css dark theme by default
  @include mat.all-component-themes($dark-theme);
  @include mat.system-level-colors($dark-theme);
  @include mat.system-level-typography($dark-theme);
  @include mat.typography-hierarchy($dark-theme);
  // Apply KIP core component theming
  @include appRoot.theme($dark-theme);
  @include notificationMenu.theme($dark-theme);
  @include widgetContainer.theme($dark-theme);

  --kip-widget-card-background-color: #{$kip-widget-card-background-color};


}

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  touch-action: none;
}

app-root {
  display: block;
}

/*
*  Loading Spinner styles. Used during app bootstrap process (while
*  executing app-initNetwork.service but before Angular has fully loaded)
*/
.loader-container {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #e5ab13 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #f0ca31 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #92c7e9 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #63afdf none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #3586ca none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #d52626 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: #e26767 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #f8e598 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
