// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat.core();

// custom foreground/background functions // takes rgba color
@function custom-theme-light-foreground($color) {
    @return (
        base:              $color,
        divider:           rgba(black, 0.12),
        dividers:          rgba(black, 0.12),
        disabled:          rgba($color, 0.38),
        disabled-button:   rgba($color, 0.38),
        disabled-text:     rgba($color, 0.38),
        hint-text:         rgba($color, 0.38),
        secondary-text:    rgba($color, 0.54),
        icon:              rgba($color, 0.54),
        icons:             rgba($color, 0.54),
        text:              rgba($color, 0.87),
        slider-min:        rgba($color, 0.87),
        slider-off:        rgba($color, 0.26),
        slider-off-active: rgba($color, 0.38),
    );
};
@function custom-theme-dark-foreground($color) {
    @return (
        base:              $color,
        divider:           rgba(white, 0.12),
        dividers:          rgba(white, 0.12),
        disabled:          rgba($color, 0.3),
        disabled-button:   rgba($color, 0.3),
        disabled-text:     rgba($color, 0.3),
        hint-text:         rgba($color, 0.3),
        secondary-text:    rgba($color, 0.7),
        icon:              $color,
        icons:             $color,
        text:              $color,
        slider-min:        $color,
        slider-off:        rgba($color, 0.3),
        slider-off-active: rgba($color, 0.3),
    );
};

// Custom Background functions. takes full pallet
@function custom-theme-light-background($pallet, $bgcolor: 900) {
    @return (
      status-bar: map_get($pallet, 300),
      app-bar:    map_get($pallet, 100),
      background: map_get($pallet, $bgcolor),
      hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
      card:       map_get($pallet, 200),
      dialog:     map_get($pallet, 200),
      disabled-button: rgba(black, 0.12),
      raised-button: map_get($pallet, 200),
      focused-button: rgba(black, 0.06),
      selected-button: map_get($pallet, 300),
      selected-disabled-button: map_get($pallet, 400),
      disabled-button-toggle: map_get($pallet, 200),
      unselected-chip: map_get($pallet, 300),
      disabled-list-option: map_get($pallet, 200),
    );
};

@function custom-theme-dark-background($pallet, $bgcolor: 900) {
    @return (
      status-bar: black,
      app-bar:    map_get($pallet, 800),
      background: map_get($pallet, $bgcolor),
      hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
      card:       map_get($pallet, 800),
      dialog:     map_get($pallet, 800),
      disabled-button: rgba(white, 0.12),
      raised-button: map-get($pallet, 800),
      focused-button: rgba(white, 0.06),
      selected-button: map_get($pallet, 900),
      selected-disabled-button: map_get($pallet, 800),
      disabled-button-toggle: black,
      unselected-chip: map_get($pallet, 700),
      disabled-list-option: black,
    );
};


//Import themes
@import 'themes/defaultTheme.scss';
@import 'themes/signalkTheme.scss';
@import 'themes/platypusTheme.scss';
@import 'themes/highContrastTheme.scss';
@import 'themes/darkBlueTheme.scss';
@import 'themes/modernTheme.scss';
@import 'themes/nightMode.scss';

// import Components themes
@import 'app/app.component.scss';
@import 'app/layout-split/layout-split.component.scss';
@import 'app/modal-path-selector/modal-path-selector.component.scss';
@import 'app/widget-blank/widget-blank.component.scss';
@import 'app/svg-wind/svg-wind.component.scss'; // for most svg Widget components
@import 'app/widget-state/widget-state.component.scss';
@import 'app/widget-gauge-ng-linear/widget-gauge-ng-linear.component.scss';
@import 'app/widget-numeric/widget-numeric.component.scss';
@import 'app/widget-gauge-ng-radial/widget-gauge-ng-radial.component.scss';
@import 'app/alarm-menu/alarm-menu.component.scss';
@import 'app/widget-autopilot/widget-autopilot.component.scss';
@import 'app/widget-simple-linear/widget-simple-linear.component.scss';
@import 'app/settings-datasets/settings-datasets.component.scss';




@mixin theme-components($theme) {
  @include mat.all-component-themes($theme);
  @include app-theme($theme);
  @include layout-split-theme($theme);
  @include modal-path-selector-theme($theme);
  @include widget-blank-theme($theme);
  @include svg-wind-theme($theme); // for both svg-wind and svg-autopilot
  @include widget-state-theme($theme);
  @include widget-numeric-theme($theme);
  @include widget-ngGauge-linear-theme($theme);
  @include widget-ngGauge-radial-theme($theme);
  @include alarm-menu-theme($theme);
  @include widget-autopilot-theme($theme);
  @include widget-simple-linear-theme($theme);
  @include theme-settings-data($theme)
}

@include theme-components($defaultTheme-light);

.signalk-light {
  @include theme-components($signalKTheme-light);
}

.high-contrast-light {
  @include theme-components($highContrast-light);
}

.platypus-light {
  @include theme-components($platypusTheme-light);
}

.darkBlue-dark {
  @include theme-components($darkBlueTheme-dark);
}

.modern-dark {
  @include theme-components($modernTheme-dark);
}

.nightMode {
  @include theme-components($nightMode-dark);
}

