// Import local Angular Google font and icon styles
@use './styles-common/material-symbols-outlined.scss';
@use './styles-common/material-icons.scss';
@use './styles-common/roboto.scss';

@use './themes/m3dark.scss' as dark;

@use './styles-common/settingsTabContent.scss' as settingsTabContent;

// Import GridStack styles
@use "gridstack/dist/gridstack.min.css";

@use '@angular/material' as mat;

:root {
  // Create KIP M3 token variables
  --mat-sys-background: #{dark.$background};

  --kip-nightModeBrightness: 1;
  --kip-widget-card-background-color: #{dark.$kip-widget-card-background-color};
  --kip-widget-card-border-color: #{dark.$kip-widget-card-border-color};
  --kip-widget-card-border-style: solid;
  --kip-widget-card-border-width: 2px;

  --kip-blue-color: #{dark.$blue};
  --kip-blue-dim-color: #{dark.$blueDim};
  --kip-blue-dimmer-color: #{dark.$blueDimmer};

  --kip-green-color: #{dark.$green};
  --kip-green-dim-color: #{dark.$greenDim};
  --kip-green-dimmer-color: #{dark.$greenDimmer};

  --kip-purple-color: #{dark.$purple};
  --kip-purple-dim-color: #{dark.$purpleDim};
  --kip-purple-dimmer-color: #{dark.$purpleDimmer};

  --kip-yellow-color: #{dark.$yellow};
  --kip-yellow-dim-color: #{dark.$yellowDim};
  --kip-yellow-dimmer-color: #{dark.$yellowDimmer};

  --kip-pink-color: #{dark.$pink};
  --kip-pink-dim-color: #{dark.$pinkDim};
  --kip-pink-dimmer-color: #{dark.$pinkDimmer};

  --kip-orange-color: #{dark.$orange};
  --kip-orange-dim-color: #{dark.$orangeDim};
  --kip-orange-dimmer-color: #{dark.$orangeDimmer};

  --kip-white-color: #{dark.$white};
  --kip-white-dim-color: #{dark.$whiteDim};
  --kip-white-dimmer-color: #{dark.$whiteDimmer};

  --kip-grey-color: #{dark.$grey};
  --kip-grey-dim-color: #{dark.$greyDim};
  --kip-grey-dimmer-color: #{dark.$greyDimmer};

  --kip-port-color: #{dark.$port};
  --kip-starboard-color: #{dark.$starboard};
  --kip-zone-nominal-color: #{dark.$zone-nominal};
  --kip-zone-alert-color: #{dark.$zone-alert};
  --kip-zone-warn-color: #{dark.$zone-warn};
  --kip-zone-alarm-color: #{dark.$zone-alarm};
  --kip-zone-emergency-color: #{dark.$zone-emergency};
}

html {
  @include mat.theme((
    color: (
      primary: dark.$primary-palette,
      tertiary: dark.$tertiary-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0
  ));
}

// Set base app style
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  touch-action: none;
}

#app-filter-wrapper {
  filter: brightness(var(--kip-nightModeBrightness)) var(--kip-nightModeFilters);
  backdrop-filter: brightness(var(--kip-nightModeBrightness));
  transition: filter 0.3s ease;
}

.dialogBackdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/***************************************************
* Default styles for markdown (help docs) content
***************************************************/
.markdown-content a {
  color: var(--mat-sys-primary);
}

.markdown-content table {
  border: 1px solid var(--mat-sys-on-background);
  border-collapse: collapse;
  width: 100%;
}

.markdown-content table th,
.markdown-content table td {
  border: 1px solid var(--mat-sys-on-background);
  padding: 8px;
  text-align: left;
}

.markdown-content table tr:nth-child(even) {
  background-color: var(--mat-sys-surface-container-high);
}

/*************************************************************************
*  Loading Spinner styles. Used during app bootstrap process (while
*  executing app-initNetwork.service but before Angular has fully loaded)
*************************************************************************/
.loader-container {
  height: 100%;
  width: 100%;
  background-color: var(--mat-sys-background);
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #e5ab13 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #f0ca31 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #92c7e9 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #63afdf none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #3586ca none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #d52626 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: #e26767 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #f8e598 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
