<widget-host class="racetimer-wrapper"
  [(config)]="widgetProperties.config"
  [id]="widgetProperties.uuid"
  (configChange)="updateConfig($event)"
>
  <canvas class="racetimer-canvas" #canvasMainRef></canvas>
  <div class="timerBarContainer">
    <div class="timer-button-groups timer-adjusters-group">
      <button mat-flat-button class="timer-adjust-buttons" (click)="remOneMin()">
        -1
      </button>
      <button mat-flat-button class="timer-reset-button" (click)="resetTimer()">
        Reset
      </button>
      <button mat-flat-button class="timer-adjust-buttons" (click)="addOneMin()">
        +1
      </button>
    </div>
    <div class="timer-button-groups timer-countdown-group">
      @if (!timerRunning) {
        <button mat-flat-button class="timer-start-button button-color-red" (click)="startTimer()">
          Start
        </button>
      }
      @if (timerRunning) {
        <button mat-flat-button class="timer-start-button" (click)="pauseTimer()">
          Pause
        </button>
      }
      <button mat-flat-button class="timer-synch-button button-color-red" (click)="roundToMin()">
        Synch
      </button>
    </div>
  </div>
</widget-host>
