@use '@angular/material' as mat;
:host {
  display: block;
  width: 100%;
  height: 100%;
}

.racetimer-wrapper {
  width: 100%;
  height: 100%;
  min-height: 1px;
}

.racetimer-canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.button-color-red {
  --mat-button-filled-container-color: var(--kip-port-color);
  --mat-button-filled-label-text-color: var(--kip-contrast-color);
}

.timerBarContainer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 23%;
  width: 100%;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  gap: 10px;
}

.timer-button-groups {
  min-width: 247px;
  max-width: 100%;
  --mat-button-filled-container-shape: 5px;
}

.timer-adjusters-group {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.timer-countdown-group {
  flex-grow: 1;
  flex-shrink: 1;
}

.timer-synch-button {
  width: calc(50% - 5px);
  margin-left: 5px;
}

.timer-start-button {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.buttons-svg-icon {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.button {
  min-width: 0px;
  height:100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include mat.button-overrides((
    filled-container-height: 100%,
    filled-horizontal-padding: 0px,
    filled-icon-spacing: 0px,
  ));
}

.main-button {
  flex: 1 1 auto;
  @include mat.button-overrides((
    filled-container-color: var(--kip-port-color),
    filled-label-text-color: var(--kip-contrast-color)
  ));
}

.svg-content {
  width: 100%;
  height: 100%;
  padding: 0em;
  margin: 0em;
  text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-anchor:middle;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    stroke: none;
  }
}
