.canvas-size {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.timerBar {
    flex: 1;
  }

.timerBarContainer {
  position: absolute;
  bottom: 5%;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.timerBarContainer .timerButtonGroups {
  flex-grow: 1;
  text-align: center;
  width: 33%;
}

.timerBarContainer .timerButtons {
  width: 75%;
  height: 100%;
}

.timerBarContainer .timerButtonsSmall {
  width: 25%;
  height: 100%;
  margin-left: 5px;
}

