<div class="wrapper" (onResize)="onResized($event)">
  <canvas id="canvasValue" class="canvas-size" #canvasEl></canvas>
  <canvas id="canvasBG" class="canvas-size numeric-labels" #canvasBG></canvas>
    <div class="timerBarContainer">
      <div class="timer-button-groups timer-adjusters-group">
        <button mat-flat-button class="timer-adjust-buttons button-color-blue" (click)="remOneMin()">
          -1
        </button>
        <button mat-flat-button class="timer-reset-button button-color-blue" (click)="resetTimer()">
         Reset
        </button>
        <button mat-flat-button class="timer-adjust-buttons button-color-blue" (click)="addOneMin()">
         +1
        </button>
      </div>
      <div class="timer-button-groups timer-countdown-group">
        <button *ngIf="!timerRunning" mat-flat-button class="timer-start-button button-color-red" (click)="startTimer()">
          Start
        </button>
        <button *ngIf="timerRunning" mat-flat-button class="timer-start-button button-color-blue" (click)="pauseTimer()">
          Pause
        </button>
        <button mat-flat-button class="timer-synch-button button-color-red" (click)="roundToMin()">
          Synch
        </button>
      </div>
    </div>
</div>
