:host {
  display: block;
  width: 100%;
  height: 100%;
}

.racetimer-wrapper {
  width: 100%;
  height: 100%;
  min-height: 1px;
}

.racetimer-canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.button-color-red {
  --mat-button-filled-container-color: var(--kip-port-color);
  --mat-button-filled-label-text-color: var(--kip-contrast-color);
}

.timerBarContainer {
  position: absolute;
  left: 0px;
  bottom: 8%;
  height: auto;
  width: calc(100% - 20px);
  margin: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 20px;
}

.timer-button-groups {
  min-width: 247px;
  max-width: 100%;
  --mat-button-filled-container-shape: 5px;
}

.timer-adjusters-group {
  flex-grow: 1;
  flex-shrink: 1;
}

.timer-countdown-group {
  flex-grow: 3;
  flex-shrink: 3;
}

.timer-synch-button {
  width: calc(50% - 5px);
  margin-left: 5px;
}

.timer-start-button {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.timer-reset-button {
  width: calc(40% - 0px);
  margin: 0px 10px 0px 10px;
}

.timer-adjust-buttons {
  width: calc(30% - 10px);
}
