:host {
  display: block;
  height: 100%;
  width: 100%;
}

.content-area {
  height: calc(100% - 63px);
  overflow-y: auto;
  width: 100%;
  scroll-behavior: smooth;
}

.filter {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
}

.mat-column-actions {
  text-align: end;
}

.buttons {
  margin-right: 5px;
}

.pathCell {
  flex: 1 1 50%;
}

.pathHeader {
  flex: 1 1 50%;
}

.dataHeader {
  flex: 1 1 10%;
  justify-content: center;
}

.dataCell {
  flex: 1 1 10%;
  justify-content: center;
}

.actionHeader {
  flex: 1 1 20%;
}

.actionCell {
  flex: 1 1 20%;
  justify-content: end;
}

@media screen and (max-width: 750px) {
  .pathHeader {
    flex: 1 1 30%;
  }

  .dataHeader {
    flex: 1 1 30%;
  }

  .actionHeader {
    display: none;
  }

  .mat-mdc-table .mat-mdc-cell:before {
    content: attr(data-label);
    float: left;
    padding-right: 5px;
  }

  mat-row::after {
    min-height: auto;
    padding-bottom: 10px;
  }

  .dataRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .dataCell {
    margin-left: 24px;
  }

  .actionCell {
    margin-left: 24px;
  }

}
