<form name="userCredentialForm" (ngSubmit)="SaveCredential()" #userCredentialForm="ngForm">
  <span mat-dialog-title>{{titleDialog}}</span>
  <mat-dialog-content>

    <mat-form-field class="userLoginInput">
      <input type=text matInput placeholder="User ID" name="userName" [(ngModel)]="connectionConfig.loginName" [ngModelOptions]="{standalone: false}" [disabled]="!connectionConfig.useSharedConfig" required>
      <mat-error>
        You must enter a User ID value
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="userLoginInput">
      <input type=password matInput placeholder="Password" name="userPassword" [(ngModel)]="connectionConfig.loginPassword" [ngModelOptions]="{standalone: false}" [disabled]="!connectionConfig.useSharedConfig" required>
      <mat-error>
        You must enter a password value
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
      <button type="button" mat-dialog-close mat-raised-button>Cancel</button>
      <button mat-raised-button color="accent" type="submit" [disabled]="!userCredentialForm.valid">Ok</button>
  </mat-dialog-actions>
</form>
