<form name="login" (ngSubmit)="SaveCredential()" #login="ngForm">
  <span mat-dialog-title>{{titleDialog}}</span>
  <mat-dialog-content>
    <div *ngIf="data.error" class="errorMsgBox">
      <i class="fa-solid fa-times-circle" style="color:red; padding-right: 5px;" aria-hidden="true"></i>
      {{data.error}}
    </div>
    <br/>
    <mat-form-field class="userLoginInput">
      <input type=text  autocomplete="username" id="username" matInput placeholder="User ID" name="username" [(ngModel)]="data.user" [ngModelOptions]="{standalone: false}" required>
      <mat-error>
        You must enter a User ID value
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="userLoginInput">
      <input type=password autocomplete="current-password" id="current-password" matInput placeholder="Password" name="current-password" [(ngModel)]="data.password" [ngModelOptions]="{standalone: false}" required>
      <mat-error>
        You must enter a password value
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="accent" type="submit" [disabled]="!login.valid">Sign in</button>
  </mat-dialog-actions>
</form>
