<form name="userCredentialForm" (ngSubmit)="SaveCredential()" #userCredentialForm="ngForm">
  <span mat-dialog-title>{{titleDialog}}</span>
  <mat-dialog-content>
    <div *ngIf="data.error" style="background-color: antiquewhite; color: red;">
      <i class="fa-solid fa-times-circle" style="color:red;" aria-hidden="true"></i>
      error: {{data.error}}
    </div>
    <br/>
    <mat-form-field class="userLoginInput">
      <input type=text matInput placeholder="User ID" name="userName" [(ngModel)]="data.user" [ngModelOptions]="{standalone: false}" required>
      <mat-error>
        You must enter a User ID value
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="userLoginInput">
      <input type=password matInput placeholder="Password" name="userPassword" [(ngModel)]="data.password" [ngModelOptions]="{standalone: false}" required>
      <mat-error>
        You must enter a password value
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="accent" type="submit" [disabled]="!userCredentialForm.valid">Sign in</button>
  </mat-dialog-actions>
</form>
