
.errorMsgBox {
  background-color: cornsilk;
  color: darkslategray;
  display: flex;
  width: auto;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: "Arial", Times, serif;
  font-size: 14px;
}
