<page-header [pageTitle]="pageTitle" svgIconId="settings" />
<mat-tab-group class="content-area">
  <mat-tab label="Connectivity">
      <settings-signalk class="tab-content" />
  </mat-tab>
  <mat-tab label="Display">
    <settings-display class="tab-content" />
  </mat-tab>
  <mat-tab label="Notifications & Audio">
    <settings-notifications class="tab-content"  />
  </mat-tab>
  <mat-tab label="Units">
      <settings-units class="tab-content" />
  </mat-tab>
  <mat-tab label="Configurations">
      <settings-config class="tab-content" />
  </mat-tab>
  </mat-tab-group>
