<page-header [pageTitle]="pageTitle" />
<mat-tab-group class="content-area">
  <mat-tab label="Connectivity">
      <settings-signalk class="tab-content" />
  </mat-tab>
  <mat-tab label="Display">
    <settings-display class="tab-content" />
  </mat-tab>
  <mat-tab label="Notifications">
    <settings-notifications class="tab-content"  />
  </mat-tab>
  <mat-tab label="Units">
      <settings-units class="tab-content" />
  </mat-tab>
    <mat-tab label="Dataset">
      <settings-datasets class="tab-content" />
  </mat-tab>
  <mat-tab label="Configuration">
      <settings-config class="tab-content" />
  </mat-tab>
  </mat-tab-group>
