@let cfg = this.runtime?.options();
@if (cfg?.showLabel) {
  <widget-title [text]="(cfg?.displayName)" [color]="labelColor()"></widget-title>
}
<div [class]="noTitleClass()" #widgetContainer kipResizeObserver (onResize)="onResized($event)">
  @for (ctrl of zonesControls(); track $index) {
    <ng-container>
      @switch (ctrl.type) {
        @case ("4") {
          <app-svg-zone-states class="svg-widget"
            [controlData]="ctrl"
            [theme]="theme()"
            [dimensions]="ctrlDimensions()">
          </app-svg-zone-states>
        }
      }
    </ng-container>
  }
</div>
@if (!dashboard.isDashboardStatic()) {
  <div class="widgetOverlay"></div>
}
