@if (widgetUrl()) {
  <iframe
    #plainIframe
    [src]="widgetUrl()"
    width="100%"
    height="100%"
    frameborder="0"
    class="widgetIframe"
  ></iframe>
} @else {
  <div style="padding: 15px;">
    <h2>Empty or bad URL</h2>
    <p>
      IMPORTANT: cross-domain security rules (CORS) apply to this widget.
    </p>
    <p>Typically, you can load Grafana graphs, Signal K
      apps or other related tools.
    </p>
  </div>
}
<div class="widgetOverlay" [style.display]="displayTransparentOverlay()"></div>
