<mat-card class="widget-container kip-widget-card-colors">
  <ng-template dynamic-widget></ng-template>
</mat-card>
@if (unlockStatus) {
  <div class="widget-select-button">
    <button mat-mini-fab class="selector-fab kip-widget-action-button-color" (click)="selectWidget()">
      <span class="material-icons">
        widgets
      </span>
    </button>
  </div>
  <div class="widget-settings-button">
    <button mat-mini-fab class="selector-fab kip-widget-action-button-color" (click)="openWidgetSettings()">
      <span class="material-icons">
        tune
      </span>
    </button>
  </div>
}
<!-- //TODO: Clean up -->
<div #primary class='primary' style="display: none;"></div>
<div #accent class='accent' style="display: none;"></div>
<div #warn class='warn' style="display: none;"></div>
<div #primaryDark class='primaryDark' style="display: none;"></div>
<div #accentDark class='accentDark' style="display: none;"></div>
<div #warnDark class='warnDark' style="display: none;"></div>
<div #background class='background' style="display: none;"></div>
<div #text class='text' style="display: none;"></div>
<div #textDark class='textDark' style="display: none;"></div>
<div #textPrimaryLight class='textPrimaryLight' style="display: none;"></div>
<div #textPrimaryDark class='textPrimaryDark' style="display: none;"></div>
<div #textAccentLight class='textAccentLight' style="display: none;"></div>
<div #textAccentDark class='textAccentDark' style="display: none;"></div>
<div #textWarnLight class='textWarnLight' style="display: none;"></div>
<div #textWarnDark class='textWarnDark' style="display: none;"></div>
