.host {
    position: relative;
    width: 100%;
    height: 100%;
}

.mat-mdc-card {
  display: block;
  position: absolute !important;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  transition: none;
  transition-property: none;
}

.selectWidgetMenu {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.settingsButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

.full-width {
    width: 100%;
}
