:host {
    width: 100%;
    height: 100%;
    display:block;
}

.widget-container {
  display: block;
  position: absolute !important;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  transition: none;
  transition-property: none;
}

.widget-select-button {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.widget-settings-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

.form-field-width {
    width: 100%;
}
