<mat-card class="widget-container kip-widget-card-colors">
  <ng-template dynamic-widget></ng-template>
</mat-card>
@if (unlockStatus) {
  <div class="widget-select-button">
    <button mat-mini-fab class="selector-fab kip-widget-action-button-color" (click)="selectWidget()">
      <span class="material-icons">
        widgets
      </span>
    </button>
  </div>
  <div class="widget-settings-button">
    <button mat-mini-fab class="selector-fab kip-widget-action-button-color" (click)="openWidgetSettings()">
      <span class="material-icons">
        tune
      </span>
    </button>
  </div>
}
