<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-dialog-content>

    <mat-horizontal-stepper>
        <mat-step label="Paths">
          <modal-path-selector class="full-width" *ngFor="let questionPath of questions.paths"
          [question]="questionPath" [selfPaths]="form.value.selfPaths"
          ></modal-path-selector>

          <mat-checkbox name="selfPaths" formControlName="selfPaths">
          Restric to own vessel
          </mat-checkbox>
          <button type="button" mat-raised-button color="accent" matStepperNext>Next</button>

        </mat-step>
    </mat-horizontal-stepper>
  </mat-dialog-content>

</form>
