.warning {
  color: red;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 49%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.minField {
  display: inline-block;
  width: calc(50% - 15px);
  padding-right: 30px;
}

.maxField {
  display: inline-block;
  width: calc(50% - 15px);
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.radio-button {
  margin-left: 16px;
}