.config-size {
    width: 100%;
  }

.textheight {
    height: 120px;
}

.almost-full-width {
  width: 90%;
}
.server-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.warningText{
  padding-left: 15px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-right: 16px;
  margin-left: 16px;
}

.config-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.config-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px;
}