<svg
   xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   id="svg8"
   version="1.1"
   viewBox="0 0 500 500"
   height="100%"
   width="100%">
  <defs
     id="defs2">
    <linearGradient
       osb:paint="solid"
       id="linearGradient7155">
      <stop
         id="stop7153"
         offset="0"
         style="stop-color:#6d6d6d;stop-opacity:1;" />
    </linearGradient>
    <linearGradient
       id="linearGradient4577">
      <stop
         id="stop4573"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" />
      <stop
         id="stop4575"
         offset="1"
         style="stop-color:#00ff00;stop-opacity:1" />
    </linearGradient>
    <linearGradient
       id="linearGradient4531">
      <stop
         id="stop4527"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" />
      <stop
         id="stop4529"
         offset="1"
         style="stop-color:#ff0000;stop-opacity:1" />
    </linearGradient>
    <linearGradient
       gradientTransform="matrix(2.8224789,0,0,3.1328816,63.162412,-305.20054)"
       gradientUnits="userSpaceOnUse"
       y2="224.23956"
       x2="54.239582"
       y1="225.35588"
       x1="45.772915"
       id="linearGradient4533"
       xlink:href="#linearGradient4531" />
    <linearGradient
       gradientTransform="matrix(2.8224789,0,0,3.1328816,63.162412,-305.20054)"
       gradientUnits="userSpaceOnUse"
       y2="225.35588"
       x2="86.518745"
       y1="234.82291"
       x1="79.375"
       id="linearGradient4579"
       xlink:href="#linearGradient4577" />
  </defs>

  <!-- wind sectors -->
  <g
     style="display:inline"
     id="layer7"
     *ngIf="windSectorEnable">
    <path *ngIf="portWindSectorPath != 'none'"
       [attr.d]="portWindSectorPath"
       id="path7337"
       class="wind-sector-port"
       style=";fill-opacity:0.80952382;stroke:#000000;stroke-width:1.86536205;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.48351668" />
    <path *ngIf="stbdWindSectorPath != 'none'"
       [attr.d]="stbdWindSectorPath"
       class="wind-sector-stbd"
       style="fill-opacity:0.79487179;stroke:#000000;stroke-width:1.86536205;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.48351668"
       id="path7339"/>
  </g>
  <!-- laylines -->
  <g
     style="display:inline"
     id="layer8"
     *ngIf="laylineEnable">
    <path *ngIf="trueWindAngle != null"
       id="path177"
       class="laylines"
       [attr.d]="laylinePortPath"
       style="fill:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:7" />
      
    <path *ngIf="trueWindAngle != null"
       class="laylines"
       style="fill:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:7"
       [attr.d]="laylineStbdPath"
       id="path984" />

  </g>

  <!-- Background -->
  <g
     style="display:inline"
     transform="translate(0,-164.70832)"
     id="layer1">
    <ellipse class="wind-rose-background"
       ry="166.38596"
       rx="165.94029"
       cy="414.72363"
       cx="249.66583"
       id="path4652"
       style="display:inline;fill:none;stroke-width:14.82046986;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path class="port"
       d="M 105.80762,331.52099 A 166.24188,166.61842 0 0 1 192.91924,258.2601"
       id="path7178"
       style="display:inline;fill:none;fill-opacity:1;stroke-width:14.53091908;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path class="starboard"
       style="display:inline;fill:none;fill-opacity:1;stroke-width:14.53091908;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path7187"
       d="M 306.63538,258.2601 A 166.24188,166.61842 0 0 1 393.747,331.52098" />
    <path
       id="path7189"
       d="m 99.787384,328.16964 12.776856,7.39357"
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 163.10395,264.43759 7.37674,12.80605"
       id="path7191" />
    <path
       id="path7193"
       d="M 336.45687,264.06789 329.08015,276.874"
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 400.04345,327.5293 -12.77686,7.39366"
       id="path7195" />
    <path
       id="path7197"
       d="m 423.45277,414.35455 -14.75348,3e-5"
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 400.4123,501.27886 -12.77692,-7.3936"
       id="path7199" />
    <path
       id="path7201"
       d="m 337.09573,565.01093 -7.37678,-12.80612"
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 250.46867,588.47381 -3e-5,-14.78727"
       id="path7203" />
    <path
       id="path7205"
       d="m 163.74279,565.3806 7.37672,-12.80615"
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 100.1562,501.91918 12.77688,-7.39367"
       id="path7207" />
    <path
       id="path7209"
       d="m 76.746874,415.09393 14.753506,-6e-5"
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.95406151;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 249.73098,240.97468 6e-5,14.78725"
       id="path7211" />
    <ellipse
       ry="1.4716377"
       rx="1.4684811"
       transform="matrix(0.98473974,0.17403345,-0.1732637,0.98487547,0,0)"
       cy="198.51216"
       cx="317.73117"
       id="path7213"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4713458"
       rx="1.4687726"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406342;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7219"
       cx="376.22711"
       cy="137.64751"
       transform="matrix(0.93944096,0.3427108,-0.34133044,0.93994337,0,0)" />
    <ellipse
       ry="1.4703517"
       rx="1.4697686"
       transform="matrix(0.7653205,0.64364938,-0.64192532,0.76676716,0,0)"
       cy="-9.5892324"
       cx="457.67993"
       id="circle7221"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406508;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4697686"
       rx="1.4703517"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406508;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7223"
       cx="478.12814"
       cy="-91.441452"
       transform="matrix(0.64192538,0.76676711,-0.76532046,0.64364943,0,0)" />
    <ellipse
       ry="1.4687726"
       rx="1.4713458"
       transform="matrix(0.34133049,0.93994335,-0.93944093,0.34271086,0,0)"
       cy="-259.24423"
       cx="475.22485"
       id="circle7225"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406318;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4684812"
       rx="1.4716377"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7227"
       cx="451.90552"
       cy="-340.14038"
       transform="matrix(0.1732637,0.98487547,-0.98473974,0.17403346,0,0)" />
    <ellipse
       ry="1.4684812"
       rx="1.4716377"
       transform="matrix(-0.1732637,0.98487547,-0.98473974,-0.17403346,0,0)"
       cy="-483.87643"
       cx="365.01456"
       id="circle7229"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4687726"
       rx="1.4713457"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406294;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7231"
       cx="304.11679"
       cy="-542.40533"
       transform="matrix(-0.34133048,0.93994335,-0.93944094,-0.34271083,0,0)" />
    <ellipse
       ry="1.4697688"
       rx="1.4703517"
       transform="matrix(-0.64192535,0.76676714,-0.7653205,-0.64364938,0,0)"
       cy="-623.97095"
       cx="156.76759"
       id="circle7233"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406508;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4703517"
       rx="1.4697688"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406508;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7235"
       cx="74.849426"
       cy="-644.48505"
       transform="matrix(-0.7653205,0.64364938,-0.64192535,-0.76676714,0,0)" />
    <ellipse
       ry="1.4713457"
       rx="1.4687726"
       transform="matrix(-0.93944094,0.34271083,-0.34133048,-0.93994335,0,0)"
       cy="-641.69427"
       cx="-93.066017"
       id="circle7237"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406294;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4716377"
       rx="1.4684812"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7239"
       cx="-173.99516"
       cy="-618.40796"
       transform="matrix(-0.98473974,0.17403346,-0.1732637,-0.98487547,0,0)" />
    <ellipse
       ry="1.4716377"
       rx="1.4684812"
       transform="matrix(-0.98473974,-0.17403346,0.1732637,-0.98487547,0,0)"
       cy="-531.51691"
       cx="-317.73117"
       id="circle7241"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4713457"
       rx="1.4687726"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406294;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7243"
       cx="-376.22711"
       cy="-470.58621"
       transform="matrix(-0.93944094,-0.34271083,0.34133048,-0.93994335,0,0)" />
    <ellipse
       ry="1.4703517"
       rx="1.4697688"
       transform="matrix(-0.7653205,-0.64364938,0.64192535,-0.76676714,0,0)"
       cy="-323.12454"
       cx="-457.67999"
       id="circle7245"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406508;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4697688"
       rx="1.4703517"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406508;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7247"
       cx="-478.12817"
       cy="-241.14024"
       transform="matrix(-0.64192535,-0.76676714,0.7653205,-0.64364938,0,0)" />
    <ellipse
       ry="1.4687726"
       rx="1.4713457"
       transform="matrix(-0.34133048,-0.93994335,0.93944094,-0.34271083,0,0)"
       cy="-73.112137"
       cx="-475.22482"
       id="circle7249"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406294;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4684812"
       rx="1.4716377"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7251"
       cx="-451.90552"
       cy="7.8500314"
       transform="matrix(-0.1732637,-0.98487547,0.98473974,-0.17403346,0,0)" />
    <ellipse
       ry="1.4684812"
       rx="1.4716377"
       transform="matrix(0.1732637,-0.98487547,0.98473974,0.17403346,0,0)"
       cy="151.58611"
       cx="-365.01456"
       id="circle7253"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4687726"
       rx="1.4713458"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406318;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7255"
       cx="-304.11679"
       cy="210.04893"
       transform="matrix(0.34133049,-0.93994335,0.93944093,0.34271086,0,0)" />
    <ellipse
       ry="1.4697686"
       rx="1.4703517"
       transform="matrix(0.64192538,-0.76676711,0.76532046,0.64364943,0,0)"
       cy="291.38919"
       cx="-156.76759"
       id="circle7257"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406508;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4703517"
       rx="1.4697686"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406508;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7259"
       cx="-74.849426"
       cy="311.77136"
       transform="matrix(0.7653205,-0.64364938,0.64192532,0.76676716,0,0)" />
    <ellipse
       ry="1.4713458"
       rx="1.4687726"
       transform="matrix(0.93944096,-0.3427108,0.34133044,0.93994337,0,0)"
       cy="308.75555"
       cx="93.066002"
       id="circle7261"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406342;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <ellipse
       ry="1.4716377"
       rx="1.4684811"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle7263"
       cx="173.99515"
       cy="285.4032"
       transform="matrix(0.98473974,-0.17403345,0.1732637,0.98487547,0,0)" />
    <ellipse
       ry="1.4716377"
       rx="1.4684811"
       transform="matrix(0.98473974,-0.17403345,0.1732637,0.98487547,0,0)"
       cy="285.4032"
       cx="173.99515"
       id="circle7265"
       style="fill:#040404;fill-opacity:1;stroke:#000000;stroke-width:2.95406199;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <circle
       r="221.99022"
       cy="414.70831"
       cx="250"
       id="path7341"
       style="display:inline;fill:none;fill-opacity:0.80952382;stroke:#000000;stroke-width:6.01955366;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71794876" />
    <g
       transform="matrix(0.77971535,0,0,0.8869868,54.51446,44.009958)"
       id="g4694"
       style="display:inline">
      <path
         class="boatBackground"
         style="fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 250,294.70832 -5,10 -50,195 v 10 l 3,1 h 107 v -9 l -53,-206 -2,-1"
         id="path4686" />
      <path
         class="boatBackground"
         style="display:inline;fill-opacity:1;stroke:#000000;stroke-width:3.14709449;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 193.84906,509.2181 c 0,0 0,-165.78166 56.00857,-215.51616"
         id="path3703" />
      <path
        class="boatBackground"
         style="display:inline;fill-opacity:1;stroke:#000000;stroke-width:3.14709449;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 305.86619,509.2181 c 0,0 0,-165.78166 -56.00856,-215.51616"
         id="path3703-6" />
      <path
        class="boatBackground"
         style="display:inline;fill-opacity:1;stroke:#000000;stroke-width:3.14709449;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 193.84906,509.2181 c 0,0 52.27466,70.45719 112.01713,0"
         id="path4525" />
    </g>
  </g>

  <!-- compass --> 
  <g
     style="display:inline"
     id="layer2">
    <ellipse class="compass-outer-ring"
       ry="204.07419"
       rx="203.96022"
       cy="250.03972"
       cx="249.6674"
       id="path4584"
       style="display:inline;fill:none;stroke-width:30.60257721;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091" />
    <ellipse class="compass-inner-ring"
       ry="181.26276"
       rx="181.16154"
       style="display:inline;fill:none;stroke-width:15.7575798;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="circle4732"
       cx="249.6674"
       cy="250.03976" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 282.3788,64.190517 -2.65629,15.073051"
       id="use6608" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 314.0866,72.749137 -5.23189,14.382504"
       id="use6610" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 370.69732,105.58004 -9.83269,11.72475"
       id="use6614" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 393.88013,128.85476 -11.71816,9.83821"
       id="use6616" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 426.5002,185.6083 -14.37454,5.23479"
       id="use6620" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 434.94627,217.3627 -15.06464,2.65782"
       id="use6622" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 434.83509,282.83188 -15.06465,-2.6578"
       id="use6626" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 426.28125,314.55737 -14.3745,-5.23482"
       id="use6628" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 394.10882,371.71515 -11.71819,-9.83826"
       id="use6632" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 370.84706,394.91093 -9.83274,-11.72477"
       id="use6634" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 314.12519,427.54916 -5.23188,-14.38252"
       id="use6638" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 282.38854,436 -2.65629,-15.07307"
       id="use6640" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 216.95594,435.88873 2.65631,-15.07302"
       id="use6644" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 185.24815,427.33019 5.23187,-14.38255"
       id="use6646" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 128.63744,394.49924 9.83272,-11.72471"
       id="use6650" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 105.4546,371.22452 11.71819,-9.83825"
       id="use6652" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 72.834542,314.47097 14.374486,-5.23482"
       id="use6656" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 64.388484,282.71658 15.064614,-2.6578"
       id="use6658" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 64.499646,217.2474 15.064608,2.6578"
       id="use6662" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 73.053457,185.5219 14.374493,5.23484"
       id="use6664" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 105.22596,128.36416 11.71817,9.83821"
       id="use6668" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 128.48767,105.16836 9.83276,11.72475"
       id="use6670" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 185.20955,72.530089 5.23189,14.382551"
       id="use6674" />
    <path
       style="display:inline;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.04017186;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 216.94623,64.079334 2.65629,15.073018"
       id="use6676" />
    <text
       class="wind-text"
       transform="scale(0.99972063,1.0002794)"
       id="text4588"
       y="57.610722"
       x="235.89307"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32.64274979px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40172005;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32.64274979px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke:none;stroke-width:20.40172005;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
         y="57.610722"
         x="235.89307"
         id="tspan4586">N</tspan></text>
    <text class="wind-text"
      transform="scale(-0.99972063,-1.0002794)"
       id="text4588-7"
       y="-441.91217"
       x="-263.30118"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32.64274979px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40172005;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40172005"
         y="-441.91217"
         x="-263.30118"
         id="tspan4608">S</tspan></text>
    <text class="wind-text"
       transform="matrix(0,1.0002794,-0.99972063,0,0,0)"
       id="text4588-0"
       y="-441.86282"
       x="238.85701"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32.64274979px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40172005;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40172005"
         y="-441.86282"
         x="238.85701"
         id="tspan4628">E</tspan></text>
    <text class="wind-text"
       transform="matrix(0,-1.0002794,0.99972063,0,0,0)"
       id="text4588-79"
       y="57.787918"
       x="-270.36472"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32.64274979px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40172005;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40172005"
         y="57.787918"
         x="-270.36472"
         id="tspan4648">W</tspan></text>
    <text class="wind-text"
       transform="matrix(0.70690928,0.70730433,-0.70690928,0.70730433,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.76183891px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171623;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       x="336.6947"
       y="-196.40715"
       id="text4656"><tspan
         style="stroke-width:20.40171623"
         y="-196.40715"
         x="336.6947"
         id="tspan4658">NE</tspan></text>
    <text class="wind-text"
       transform="matrix(0.70690928,-0.70730433,0.70690928,0.70730433,0,0)"
       id="text4664"
       y="158.61543"
       x="-16.268604"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.76183891px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171623;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40171623"
         y="158.61543"
         x="-16.268604"
         id="tspan4666">NW</tspan></text>
    <text class="wind-text"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.76183891px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171623;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       x="-368.62634"
       y="-195.55559"
       id="text4670"
       transform="matrix(-0.70690928,-0.70730433,0.70690928,-0.70730433,0,0)"><tspan
         style="stroke-width:20.40171623"
         y="-195.55559"
         x="-368.62634"
         id="tspan4672">SW</tspan></text>
    <text class="wind-text"
       transform="matrix(-0.70690928,0.70730433,-0.70690928,-0.70730433,0,0)"
       id="text4676"
       y="-549.73486"
       x="-14.819729"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.76183891px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171623;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40171623"
         y="-549.73486"
         x="-14.819729"
         id="tspan4678">SE</tspan></text>
    <text class="wind-text"
       transform="matrix(0.92362146,0.38279035,-0.38257655,0.92413768,0,0)"
       id="text4684"
       y="-63.322182"
       x="313.91727"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.88091946px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40171814"
         y="-63.322182"
         x="313.91727"
         id="tspan4686">NNE</tspan></text>
    <text class="wind-text"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.88091946px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       x="315.44775"
       y="-335.00937"
       id="text4690"
       transform="matrix(0.38257655,0.92413768,-0.92362146,0.38279035,0,0)"><tspan
         style="stroke-width:20.40171814"
         y="-335.00937"
         x="315.44775"
         id="tspan4694">ENE</tspan></text>
    <text class="wind-text"
       transform="matrix(-0.38257655,0.92413768,-0.92362146,-0.38279035,0,0)"
       id="text4698"
       y="-525.46448"
       x="125.13807"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.88091946px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40171814"
         y="-525.46448"
         x="125.13807"
         id="tspan4700">ESE</tspan></text>
    <text class="wind-text"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.88091946px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       x="-146.04666"
       y="-525.87427"
       id="text4704"
       transform="matrix(-0.92362146,0.38279035,-0.38257655,-0.92413768,0,0)"><tspan
         style="stroke-width:20.40171814"
         y="-525.87427"
         x="-146.04666"
         id="tspan4706">SSE</tspan></text>
    <text class="wind-text"
       transform="matrix(-0.92362146,-0.38279035,0.38257655,-0.92413768,0,0)"
       id="text4710"
       y="-335.70993"
       x="-337.56277"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.88091946px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;;fill-opacity:1;stroke:none;stroke-width:20.40171814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40171814"
         y="-335.70993"
         x="-337.56277"
         id="tspan4712">SSW</tspan></text>
    <text class="wind-text"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.88091946px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       x="-340.84369"
       y="-64.913971"
       id="text4716"
       transform="matrix(-0.38257655,-0.92413768,0.92362146,-0.38279035,0,0)"><tspan
         style="stroke-width:20.40171814"
         y="-64.913971"
         x="-340.84369"
         id="tspan4718">WSW</tspan></text>
    <text class="wind-text"
       transform="matrix(0.38257655,-0.92413768,0.92362146,0.38279035,0,0)"
       id="text4722"
       y="126.33953"
       x="-149.29013"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.88091946px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       xml:space="preserve"><tspan
         style="stroke-width:20.40171814"
         y="126.33953"
         x="-149.29013"
         id="tspan4724">WNW</tspan></text>
    <text class="wind-text"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.88091946px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none;stroke-width:20.40171814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.85427091"
       x="122.50405"
       y="126.45713"
       id="text4728"
       transform="matrix(0.92362146,-0.38279035,0.38257655,0.92413768,0,0)"><tspan
         style="stroke-width:20.40171814"
         y="126.45713"
         x="122.50405"
         id="tspan4730">NNW</tspan></text>
    <text class="wind-text"
       transform="scale(0.99972063,1.0002794)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.04160881px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="243.83031"
       y="75.371399"
       id="use7029"><tspan
         id="tspan7053"
         x="243.83031"
         y="75.371399"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.04160881px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:1.02008593">0</tspan></text>
    <text class="wind-text"
       transform="matrix(0.86578352,0.50013971,-0.49986031,0.86626737,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.0416069px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="329.13461"
       y="-82.136826"
       id="use7031"><tspan
         style="stroke-width:1.02008593"
         y="-82.136826"
         x="329.13461"
         id="tspan7101">30</tspan></text>
    <text class="wind-text"
       transform="matrix(0.49986031,0.86626737,-0.86578352,0.50013971,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.0416069px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="329.30069"
       y="-264.31485"
       id="use7033"><tspan
         style="stroke-width:1.02008593"
         y="-264.31485"
         x="329.30069"
         id="tspan7103">60</tspan></text>
    <text class="wind-text"
       transform="matrix(0,1.0002794,-0.99972063,0,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.04160881px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="238.05109"
       y="-423.63528"
       id="use7035"><tspan
         style="stroke-width:1.02008593"
         y="-423.63528"
         x="238.05109"
         id="tspan7105">90</tspan></text>
    <text class="wind-text"
       transform="matrix(-0.49986031,0.86626737,-0.86578352,-0.50013971,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.0416069px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="74.146378"
       y="-514.65607"
       id="use7037"><tspan
         style="stroke-width:1.02008593"
         y="-514.65607"
         x="74.146378"
         id="tspan7109">120</tspan></text>
    <text class="wind-text"
       transform="matrix(-0.86578352,0.50013971,-0.49986031,-0.86626737,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.0416069px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="-110.06672"
       y="-515.6853"
       id="use7039"><tspan
         style="stroke-width:1.02008593"
         y="-515.6853"
         x="-110.06672"
         id="tspan7111">150</tspan></text>
    <text class="wind-text"
       transform="scale(-0.99972063,-1.0002794)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.04160881px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="-268.13757"
       y="-424.22107"
       id="use7041"><tspan
         style="stroke-width:1.02008593"
         y="-424.22107"
         x="-268.13757"
         id="tspan7113">180</tspan></text>
    <text class="wind-text"
       transform="matrix(-0.86578352,-0.50013971,0.49986031,-0.86626737,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.0416069px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="-359.67947"
       y="-266.0527"
       id="use7043"><tspan
         style="stroke-width:1.02008593"
         y="-266.0527"
         x="-359.67947"
         id="tspan7115">210</tspan></text>
    <text class="wind-text"
       transform="matrix(-0.49986031,-0.86626737,0.86578352,-0.50013971,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.0416069px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="-359.42673"
       y="-82.891243"
       id="use7045"><tspan
         style="stroke-width:1.02008593"
         y="-82.891243"
         x="-359.42673"
         id="tspan7117">240</tspan></text>
    <text class="wind-text"
       transform="matrix(0,-1.0002794,0.99972063,0,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.04160881px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="-267.69278"
       y="76.300224"
       id="use7047"><tspan
         style="stroke-width:1.02008593"
         y="76.300224"
         x="-267.69278"
         id="tspan7119">270</tspan></text>
    <text class="wind-text"
       transform="matrix(0.49986031,-0.86626737,0.86578352,0.50013971,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.0416069px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="-108.58751"
       y="166.93124"
       id="use7049"><tspan
         style="stroke-width:1.02008593"
         y="166.93124"
         x="-108.58751"
         id="tspan7121">300</tspan></text>
    <text class="wind-text"
       transform="matrix(0.86578352,-0.50013971,0.49986031,0.86626737,0,0)"
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:19.0416069px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill-opacity:1;stroke:none;stroke-width:1.02008593"
       x="73.109596"
       y="166.91515"
       id="use7051"><tspan
         style="stroke-width:1.02008593"
         y="166.91515"
         x="73.109596"
         id="tspan7125">330</tspan></text>
    <animateTransform #compassAnimate attributeName="transform"
      type="rotate"
      [attr.from]="'-'+oldCompassRotate+' 250 250'"
      [attr.to]="'-'+newCompassRotate+' 250 250'"
      begin="indefinite"
      dur="0.1s"
      additive="replace"
      fill="freeze"
      />
  </g>



  <!-- True Wind Indicator -->
  <g
    *ngIf="trueWindAngle != null"
    style="display:inline"
    id="layer4">
    <g
      transform="rotate(179.60924,249.75622,83.659984)"
      id="g1187">
      <g class="true-wind"
        transform="matrix(-5.1082345,0,0,-4.5354333,587.61946,139.05361)"
        id="g7361"
        style="display:inline;fill-opacity:1">
        <path class="true-wind"
          d="M 62.243972,4.0584953 A 3.9408352,3.9073367 0 0 1 66.184807,0.15115881 3.9408352,3.9073367 0 0 1 70.125642,4.0584955"
          id="path7357"
          style="fill-opacity:1;stroke:#000000;stroke-width:0.30782673;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        <path class="true-wind"
          id="path7359"
          d="m 62.177083,3.96875 3.968749,6.614583 3.96875,-6.614583"
          style="fill-opacity:1;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      </g>
      <text class="wind-text"
        transform="scale(-1.0096233,-0.99046843)"
        id="text7365"
        y="-117.71236"
        x="-247.47594"
        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:18.66666603px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.02742887"
        xml:space="preserve"><tspan
          id="tspan7417"
          x="-247.47594"
          y="-117.71236">{{ trueWindSpeedDisplay }}</tspan></text>
      <text class="wind-text"
        xml:space="preserve"
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.66666698px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
        x="-252.43172"
        y="-103.49368"
        id="text1173"
        transform="scale(-1)">
        <tspan
          id="tspan1171"
          x="-252.43172"
          y="-103.49368">T</tspan>
      </text>
    </g>
    <animateTransform #trueWindAnimate attributeName="transform"
      type="rotate"
      [attr.from]="oldTrueWindRotateAngle+' 250 250'"
      [attr.to]="newTrueWindRotateAngle+' 250 250'"
      begin="indefinite"
      dur="0.1s"
      additive="replace"
      fill="freeze"
      />
  </g>

  <!-- App Wind Indicator -->
  <g
    *ngIf="appWindAngle != null"
    style="display:inline"
    id="layer5">
    <g
    id="g1169">
      <g class="app-wind"
          style="display:inline;fill-opacity:1"
          id="g7280"
          transform="matrix(-5.1082345,0,0,-4.5354333,587.61946,139.05361)">
        <path class="app-wind"
            style="fill-opacity:1;stroke:#000000;stroke-width:0.30782673;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            id="path7276"
            d="M 62.243972,4.0584953 A 3.9408352,3.9073367 0 0 1 66.184807,0.15115881 3.9408352,3.9073367 0 0 1 70.125642,4.0584955" />
        <path class="app-wind"
            style="fill-opacity:1;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 62.177083,3.96875 3.968749,6.614583 3.96875,-6.614583"
            id="path7278" />
      </g>
      <text class="wind-text"
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:18.66666603px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill-opacity:1;stroke:none;stroke-width:1.02742887"
          x="-247.70137"
          y="-117.30515"
          id="text7287"
          transform="scale(-1.0096233,-0.99046843)"><tspan
            id="tspan7435"
            x="-247.70137"
            y="-117.30515">{{ appWindSpeedDisplay }}</tspan></text>
      <text class="wind-text"
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.66666698px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill-opacity:1;stroke:none"
          x="-253.04364"
          y="-103.33408"
          id="text1155"
          transform="scale(-1)"><tspan
            id="tspan1153"
            x="-253.04364"
            y="-103.33408">A</tspan></text>
    </g>
    <animateTransform #appWindAnimate attributeName="transform"
      type="rotate"
      [attr.from]="oldAppWindAngle+' 250 250'"
      [attr.to]="newAppWindAngle+' 250 250'"
      begin="indefinite"
      dur="0.1s"
      additive="replace"
      fill="freeze"
      />
  </g>

  <!-- Heading -->
  <g
    style="display:inline"
    id="layer3">
   <rect class="heading-background"
      ry="7.4823418"
      rx="6.9066305"
      y="64.10257"
      x="203.85365"
      height="28.058783"
      width="90.649544"
      id="rect7151"
      style="fill-opacity:1;stroke:#040404;stroke-width:2.69577217;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
   <text class="wind-text"
      transform="scale(1.0008524,0.99914832)"
      id="text7163"
      y="86.644958"
      x="247.44287"
      style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:22.38400078px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill-opacity:1;stroke:none;stroke-width:0.93268102"
      xml:space="preserve"><tspan
        y="86.644958"
        x="247.44287"
        id="tspan7406">{{ headingValue }}</tspan></text>
 </g>
</svg>
