:host {
  display: block;
  height: 100%;
  width: 100%;
}

.dashboard-manage {
  box-sizing: border-box;
  padding: 0px 60px;
  width: calc(100%);
  height: calc(100% - 75px - 24px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.dashboard-card {
  position: relative;
  height: 200px;
  width: 300px;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
  align-content: center;
  text-align: center;
}

.dashboard-item {
  background-color: var(--kip-widget-card-background-color);
  border: 1px solid var(--mat-sys-surface-container-highest);
}

.dashboard-item-add {
  background-color: var(--mat-sys-surface-container);
  border: 1px solid var(--mat-sys-surface-container-highest);
}

.dashboard-add-btn {
  align-content: center;
  text-align: center;
  border: dashed 1px var(--mdc-outlined-button-outline-color);
}

.item-index {
  display: inline-flex;
  flex-wrap: wrap;
  height: 42px;
  width: 42px;
  background-color: var(--mat-sys-tertiary-fixed);
  color: var(--mat-sys-surface-bright);
  border-radius: 50%;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px var(--mat-sys-on-primary-container),
              0 8px 10px 1px var(--mat-sys-on-primary-container),
              0 3px 14px 2px var(--mat-sys-on-primary-container);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
