<div class="display-content tab-content">
  <div [formGroup]="autopilotFormGroup" class="autopilot-options">
    <div class="flex-item-rounded-card rounded-card-color" style="margin-block: 10px;">
      <h3 style="margin-block-start: 0px;">Signal K Service Discovery</h3>
      <ul>
        <li><b>API Version:</b> {{ apiVersion() }}</li>
        <li><b>Plugin:</b> {{ pluginId() }}</li>
      </ul>
    </div>
    <mat-form-field>
      <mat-label>Target Autopilot</mat-label>
      <mat-select
        placeholder="Select autopilot..."
        formControlName="instanceId"
        name="instanceId"
        (selectionChange)="onAutopilotInstanceIdChange($event)"
        required>
        <mat-option value=''>No autopilot</mat-option>
        @for(ap of apInstances(); track $index) {
          <mat-option value='{{ap}}'>{{ ap | titlecase}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="flex-item-rounded-card rounded-card-color" style="margin-block: 10px;margin-left: 10px;margin-right: 10px;">
      <b>Supported modes:</b> {{ modes() }}
    </div>
    <mat-checkbox
      name="headingDirectionTrue"
      formControlName="headingDirectionTrue">
      Display True Heading
    </mat-checkbox>
    <mat-checkbox
      name="invertRudder"
      formControlName="invertRudder">
      Invert Rudder Angle Indicator
    </mat-checkbox>
  </div>
</div>
