<div class="home-container">
  <div class="actions-header-container">
    <div class="actions-buttons-container">
      <tile-large-icon [class]="`${isPhonePortrait() ? 'no-label' : 'with-label'}`" tabindex="0" [iconOnly]="isPhonePortrait()" [compact]="true" svgIcon="settings" [iconSize]="48" label="Options" (click)="onActionItem('options')"/>
      <tile-large-icon [class]="`${isPhonePortrait() ? 'no-label' : 'with-label'}`" tabindex="0" [iconOnly]="isPhonePortrait()" [compact]="true" svgIcon="troubleshoot" [iconSize]="48" label="Data Inspector" (click)="onActionItem('datainspector')"/>
      <tile-large-icon [class]="`${isPhonePortrait() ? 'no-label' : 'with-label'}`" tabindex="0" [iconOnly]="isPhonePortrait()" [compact]="true" svgIcon="remote-control" [iconSize]="48" label="Remote Control" (click)="onActionItem('remotecontrol')"/>
      <tile-large-icon [class]="`${isPhonePortrait() ? 'no-label' : 'with-label'}`" tabindex="0" [iconOnly]="isPhonePortrait()" [compact]="true" svgIcon="help-center" [iconSize]="48" label="Help" (click)="onActionItem('help')"/>
    </div>
    <button mat-icon-button class="dialog-close-icon" (click)="closePage()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <dashboards-editor class="dashboards-editor" />
</div>
