<mat-tab-group class="settingsWindow">
  <mat-tab label="Signal K">
      <app-settings-signalk class="settingsPanels"></app-settings-signalk>
  </mat-tab>
  <mat-tab label="Historical Data">
      <app-settings-datasets class="settingsPanels"></app-settings-datasets>
  </mat-tab>
  <mat-tab label="Units">
      <app-settings-units class="settingsPanels"></app-settings-units>
  </mat-tab>
  <mat-tab label="Zones">
    <app-settings-zones class="settingsPanels"></app-settings-zones>
  </mat-tab>
  <mat-tab label="Notifications">
      <settings-notifications class="settingsPanels"></settings-notifications>
  </mat-tab>
  <mat-tab label="Configurations">
      <app-settings-config class="settingsPanels"></app-settings-config>
  </mat-tab>
</mat-tab-group>
