<div class="settingsWindow">
  <mat-tab-group class="">
    <mat-tab label="Signal K">
      <div class="">
        <app-settings-signalk></app-settings-signalk>
      </div>
    </mat-tab>
    <mat-tab label="Historical Data">
      <div class="">
        <app-settings-datasets></app-settings-datasets>
      </div>
    </mat-tab> 
    <!--<mat-tab label="Derived Data">
      <div class="">
        <app-settings-derived></app-settings-derived>
      </div>
    </mat-tab> -->
    <mat-tab label="Config">
      <div class="">
        <app-settings-config></app-settings-config>
      </div>
    </mat-tab>  
  </mat-tab-group>
</div>