<div [formGroup]="formGroup">
  <div class="pathGroup" *ngIf="formGroup.value.isPathConfigurable">
    <p>{{formGroup.value.description}}</p>
    <div class="pathGroupFields">
      <mat-form-field class="pathField" appearance="outline" floatLabel="always">
        <mat-label>SignalK Path</mat-label>
        <input type="text" matInput
          placeholder="Select path (note dropdown limited to 50, type to use autocomplete)"
          formControlName="path"
          required
          [matAutocomplete]="pathAutoComplete">
        <button mat-button *ngIf="formGroup.value.path" matSuffix mat-icon-button aria-label="Clear" (click)="formGroup.controls['path'].patchValue('')">
          <span class="fa-solid fa-close"></span>
        </button>
        <mat-autocomplete #pathAutoComplete="matAutocomplete">
          <mat-option *ngFor="let pathAndMeta of filteredPaths | async" [value]="pathAndMeta.path"  style="min-height: 48px; line-height: 1.15; height: auto; padding: 8px 16px; white-space: normal;">
            <ng-container *ngIf="(pathAndMeta.meta != undefined)">
              <span>{{pathAndMeta.path}}</span>
              <br>
              <small class="pathMetaDescription">{{pathAndMeta.meta.description}}</small>
            </ng-container>
            <ng-container *ngIf="(pathAndMeta.meta == undefined)">
                {{pathAndMeta.path}}
            </ng-container>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls['path'].hasError('required')">
          Path <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formGroup.controls['path'].hasError('requireMatch')">
          Please select an existing path
        </mat-error>
      </mat-form-field>
      <mat-form-field class="sourceField" appearance="outline" floatLabel="always">
        <mat-label>Data Source</mat-label>
        <mat-select
            placeholder="Select source"
            formControlName="source"
            Ripple
            required>
            <mat-option *ngFor="let source of availableSources" [value]="source">
                {{source}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="unitField" *ngIf="formGroup.value.pathType == 'number'" appearance="outline" floatLabel="always">
        <mat-label>Display Format</mat-label>
        <mat-select
            placeholder="Select unit"
            formControlName="convertUnitTo"
            disableRipple
            required>
            <mat-optgroup *ngFor="let group of unitList.conversions" [label]="group.group">
              <mat-option *ngFor="let unit of group.units" [value]="unit.measure">
                {{unit.description}}
              </mat-option>
            </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
