
    <mat-form-field class="full-width" [formGroup]="form" >
        <mat-select 
            [placeholder]="question.label" 
            [id]="question.key"
            [formControlName]="question.key"
            required>
            <mat-option *ngFor="let path of (availablePaths | filterSelf: selfPaths)" [value]="path">
                {{path}}
            </mat-option>
        </mat-select> 
    </mat-form-field>

    <mat-checkbox
        [(ngModel)]="selfPaths"
        name="selfPaths"
        >
        Restric to own vessel
    </mat-checkbox>
    <!--

                        (ngModelChange)="settingsDataUpdatePath()"

    <mat-form-field class="full-width">
        <mat-select 
            placeholder="Source" 
            [(ngModel)]="settingsData.signalKSource" 
            name="signalKSource">
            <mat-option *ngFor="let source of availableSources" [value]="source">
                {{source}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button type="button" mat-raised-button color="accent" matStepperNext [disabled]="!settingsData.signalKPath">Next</button>-->
