<div class="widget-options-grid">
  <mat-form-field>
    <mat-label>Date & Time Format</mat-label>
    <input matInput
      placeholder="dd/MM/yyyy HH:mm:ss"
      name="dateFormat"
      [formControl]="dateFormat"
      required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Adjust Value to Time Zone</mat-label>
    <input type="text" matInput
      placeholder="Type to use autocomplete"
      name="dateTimezone"
      [formControl]="dateTimezone"
      required
      [matAutocomplete]="timeZoneAutoComplete">
    <button mat-icon-button matSuffix *ngIf="dateTimezone.value" aria-label="Clear" (click)="dateTimezone.setValue('')">
      <span class="fa-solid fa-close"></span>
    </button>
    <mat-autocomplete #timeZoneAutoComplete="matAutocomplete">
      <mat-option *ngFor="let timeZone of filteredTZ | async" [value]="timeZone">
        {{timeZone}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
